openapi: 3.1.0
info:
  title: Data Services API
  description: Data Services API
  contact:
    name: AI
    email: ai@sx.ai
  license:
    name: MIT
  version: '1.0'
servers:
  - url: https://api.chainstream.io
    description: Production
paths:
  /v2/blockchain:
    get:
      tags:
        - Blockchain
      summary: 블록체인 - 목록
      description: 지원되는 블록체인 목록 조회
      operationId: get.supported.blockchains
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Blockchain'
  /v2/blockchain/{chain}/latest_block:
    get:
      tags:
        - Blockchain
      summary: 블록체인 - 최신 블록
      description: 특정 블록체인의 최신 블록 정보 조회
      operationId: get.latest.block
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainLatestBlock'
  /v2/dex:
    get:
      tags:
        - Dex
      summary: DEX - 목록
      description: 지정된 블록체인의 모든 DEX 정보 조회
      operationId: list.dex
      parameters:
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향 (next 또는 prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: chains
          in: query
          description: 블록체인 네트워크별 필터링
          required: false
          schema:
            type: array
            items:
              type: string
          example: sol
        - name: dexProgram
          in: query
          description: DEX 프로그램 주소별 필터링
          required: false
          schema:
            type: string
          example: whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_Dex'
  /v2/dexpools/{chain}/{poolAddress}:
    get:
      tags:
        - DexPool
      summary: DEX 풀 - 상세
      description: 특정 DEX 풀의 상세 정보 조회
      operationId: get.dexpool
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: 풀 주소
          required: true
          schema:
            type: string
          example: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/DexPoolDetail'
              example:
                chain: sol
                createdBlockTimestamp: 2024-01-15T10:30:00Z
                feeRate: '0.003'
                image: https://ipfs.io/ipfs/bafkreid7667676767676767676767676767676767676767676767676767676767676767
                liquidityModel: 1
                poolAddress: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
                programAddress: whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc
                protocolFamily: OrcaWhirpool
                protocolName: OrcaWhirpool AMM V2
                tickSpacing: 64
                tokenAAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                tokenALiquidity:
                  amountInNative: '5000.123'
                  amountInUsd: '1000000.45'
                  decimals: 6
                  priceNative: '0.005'
                  priceUsd: '1.0001'
                  tokenAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                  vaultAmount: '1000000000000'
                tokenBAddress: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
                tokenBLiquidity:
                  amountInNative: '5000.123'
                  amountInUsd: '1000000.45'
                  decimals: 6
                  priceNative: '0.005'
                  priceUsd: '1.0001'
                  tokenAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                  vaultAmount: '1000000000000'
                tokenCount: 2
                tvlInSol: '1000000.45'
                tvlInUsd: '1000000.45'
                type: 1
                version: 2
  /v2/dexpools/{chain}/{poolAddress}/snapshots:
    get:
      tags:
        - DexPool
      summary: DEX 풀 - 유동성 스냅샷
      description: 특정 풀의 과거 유동성 스냅샷 조회. 시간 파라미터가 제공되면 해당 시간 이전 또는 해당 시간의 가장 가까운 스냅샷을 반환합니다.
      operationId: get.dexpool.snapshots
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: 풀 주소
          required: true
          schema:
            type: string
          example: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향 (next 또는 prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: time
          in: query
          description: 스냅샷 조회를 위한 대상 Unix 타임스탬프
          required: false
          schema:
            type: integer
            format: int64
          example: 1705312800000
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_DexPoolSnapshot'
  /v2/ipfs/presign:
    post:
      tags:
        - IPFS
      summary: IPFS - 사전 서명
      description: IPFS 콘텐츠에 대한 Presign URL 생성
      operationId: presign
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignResponse'
  /v2/kyt/address:
    post:
      tags:
        - KYT
      summary: KYT - 주소 등록
      description: KYT 모니터링을 위한 주소 등록
      operationId: register.address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterAddressInput'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytRegisterAddressResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/addresses/{address}/risk:
    get:
      tags:
        - KYT
      summary: KYT - 주소 리스크 조회
      description: 등록된 주소의 리스크 평가 조회
      operationId: get.address.risk
      parameters:
        - name: address
          in: path
          description: 주소
          required: true
          schema:
            type: string
          example: 1.2638660031056791e+45
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAddressRiskResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfer:
    post:
      tags:
        - KYT
      summary: KYT - 전송 등록
      description: KYT (Know Your Transaction) 분석을 위한 전송 등록
      operationId: register.transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterTransferInput'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytTransferBaseResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/alerts:
    get:
      tags:
        - KYT
      summary: KYT - 전송 알림 조회
      description: 전송과 관련된 알림 조회
      operationId: get.transfer.alerts
      parameters:
        - name: transferId
          in: path
          description: 전송 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAlertsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/exposures/direct:
    get:
      tags:
        - KYT
      summary: KYT - 전송 직접 노출 조회
      description: 전송의 직접 노출 정보 조회
      operationId: get.transfer.direct.exposure
      parameters:
        - name: transferId
          in: path
          description: 전송 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytDirectExposureResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/network-identifications:
    get:
      tags:
        - KYT
      summary: KYT - 전송 네트워크 식별 조회
      description: 전송의 네트워크 식별 정보 조회
      operationId: get.transfer.network.identifications
      parameters:
        - name: transferId
          in: path
          description: 전송 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytNetworkIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/summary:
    get:
      tags:
        - KYT
      summary: KYT - 전송 요약 조회
      description: 등록된 전송의 요약 정보 조회
      operationId: get.transfer.summary
      parameters:
        - name: transferId
          in: path
          description: 전송 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytTransferBaseResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal:
    post:
      tags:
        - KYT
      summary: KYT - 출금 등록
      description: KYT (Know Your Transaction) 분석을 위한 출금 등록
      operationId: register.withdrawal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterWithdrawalInput'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalBaseResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/address-identifications:
    get:
      tags:
        - KYT
      summary: KYT - 출금 주소 식별 조회
      description: 출금의 주소 식별 정보 조회
      operationId: get.withdrawal.address.identifications
      parameters:
        - name: withdrawalId
          in: path
          description: 출금 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalAddressIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/alerts:
    get:
      tags:
        - KYT
      summary: KYT - 출금 알림 조회
      description: 출금과 관련된 알림 조회
      operationId: get.withdrawal.alerts
      parameters:
        - name: withdrawalId
          in: path
          description: 출금 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAlertsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/exposures/direct:
    get:
      tags:
        - KYT
      summary: KYT - 출금 직접 노출 조회
      description: 출금의 직접 노출 정보 조회
      operationId: get.withdrawal.direct.exposure
      parameters:
        - name: withdrawalId
          in: path
          description: 출금 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytDirectExposureResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/fraud-assessment:
    get:
      tags:
        - KYT
      summary: KYT - 출금 사기 평가 조회
      description: 출금의 사기 평가 결과 조회
      operationId: get.withdrawal.fraud.assessment
      parameters:
        - name: withdrawalId
          in: path
          description: 출금 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytFraudAssessmentResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/network-identifications:
    get:
      tags:
        - KYT
      summary: KYT - 출금 네트워크 식별 조회
      description: 출금의 네트워크 식별 정보 조회
      operationId: get.withdrawal.network.identifications
      parameters:
        - name: withdrawalId
          in: path
          description: 출금 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytNetworkIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/summary:
    get:
      tags:
        - KYT
      summary: KYT - 출금 요약 조회
      description: 등록된 출금의 요약 정보 조회
      operationId: get.withdrawal.summary
      parameters:
        - name: withdrawalId
          in: path
          description: 출금 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalBaseResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/ranking/{chain}/finalStretch:
    get:
      tags:
        - Ranking
      summary: 랭킹 - FinalStretch 토큰
      description: FinalStretch 토큰 반환
      operationId: get.finalStretch.tokens
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: 정렬 필드
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 정렬 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: 랭킹 태그 필터
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: 필터 필드
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: 필터
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: 런치패드 플랫폼
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 검색 키워드
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 제외 키워드
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/hotTokens/{duration}:
    get:
      tags:
        - Ranking
      summary: 랭킹 - 인기 토큰
      description: 인기 토큰 목록 조회
      operationId: get.hot.tokens
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: duration
          in: path
          description: 랭킹 기간
          required: true
          schema:
            $ref: '#/components/schemas/RankingDuration'
          example: 24h
        - name: sortBy
          in: query
          description: 정렬 필드
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 정렬 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: 랭킹 태그 필터
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: 필터 필드
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: 필터
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: 런치패드 플랫폼
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 검색 키워드
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 제외 키워드
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/migrated:
    get:
      tags:
        - Ranking
      summary: 랭킹 - 마이그레이션 토큰
      description: 마이그레이션된 토큰 반환
      operationId: get.migrated.tokens
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: 정렬 필드
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 정렬 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: 랭킹 태그 필터
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: 필터 필드
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: 필터
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: 런치패드 플랫폼
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 검색 키워드
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 제외 키워드
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/newTokens:
    get:
      tags:
        - Ranking
      summary: 랭킹 - 신규 토큰
      description: 최신 100개 토큰 반환
      operationId: get.new.tokens
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: 정렬 필드
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 정렬 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: 랭킹 태그 필터
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: 필터 필드
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: 필터
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: 런치패드 플랫폼
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 검색 키워드
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 제외 키워드
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/stocks:
    get:
      tags:
        - Ranking
      summary: 랭킹 - 주식 토큰
      description: 주식 토큰 반환
      operationId: get.stocks.tokens
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: 정렬 필드
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 정렬 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: 랭킹 태그 필터
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: 필터 필드
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: 필터
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: 런치패드 플랫폼
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 검색 키워드
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 제외 키워드
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/redpacket:
    get:
      tags:
        - RedPacket
      summary: 레드패킷 - 목록
      description: 레드패킷 목록 조회
      operationId: get.redpackets
      parameters:
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: creator
          in: query
          description: 생성자 지갑 주소
          required: false
          schema:
            type: string
          example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: chain
          in: query
          description: 레드패킷의 블록체인 네트워크
          required: false
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketsPage'
  /v2/redpacket/wallet/{address}/claims:
    get:
      tags:
        - RedPacket
      summary: 레드패킷 - 주소별 수령 기록
      description: 수령자 주소별 레드패킷 수령 기록 확인
      operationId: get.claims.by.address
      parameters:
        - name: address
          in: path
          description: 지갑 주소
          required: true
          schema:
            type: string
          example: 3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketClaimsPage'
  /v2/redpacket/wallet/{address}/redpackets:
    get:
      tags:
        - RedPacket
      summary: 레드패킷 - 주소별 목록
      description: 생성자 주소별 레드패킷 목록 조회
      operationId: get.redpackets.by.address
      parameters:
        - name: address
          in: path
          description: 지갑 주소
          required: true
          schema:
            type: string
          example: 3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketsPage'
  /v2/redpacket/{chain}/claim:
    post:
      tags:
        - RedPacket
      summary: 레드패킷 - 수령
      description: 기존 레드패킷에서 토큰 수령
      operationId: claim.redpacket
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimRedPacketRequest'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimRedPacketResponse'
  /v2/redpacket/{chain}/create:
    post:
      tags:
        - RedPacket
      summary: 레드패킷 - 생성
      description: 지정된 금액과 수량으로 새 레드패킷 생성
      operationId: create.redpacket
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRedPacketRequest'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRedPacketResponse'
  /v2/redpacket/{chain}/send:
    post:
      tags:
        - RedPacket
      summary: 레드패킷 - 전송
      description: 레드패킷 관련 트랜잭션
      operationId: redpacket.send
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedPacketSendTxRequest'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketSendTxResponse'
  /v2/redpacket/{id}:
    get:
      tags:
        - RedPacket
      summary: 레드패킷 - 조회
      description: 레드패킷 정보 조회
      operationId: get.redpacket
      parameters:
        - name: id
          in: path
          description: 레드패킷 식별자
          required: true
          schema:
            type: string
          example: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacket'
  /v2/redpacket/{id}/claims:
    get:
      tags:
        - RedPacket
      summary: 레드패킷 - 수령 기록
      description: 레드패킷 수령 기록 확인
      operationId: get.claims
      parameters:
        - name: id
          in: path
          description: 레드패킷 식별자
          required: true
          schema:
            type: string
          example: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketClaimsPage'
  /v2/token/search:
    get:
      tags:
        - Token
      summary: 토큰 - 검색
      description: 이름, 심볼 또는 주소로 토큰 검색
      operationId: search
      parameters:
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향 (next 또는 prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: chains
          in: query
          description: 체인 필터
          required: false
          schema:
            type: array
            items:
              type: string
          example: sol
        - name: q
          in: query
          description: 토큰 이름, 심볼 또는 주소 검색 쿼리
          required: false
          schema:
            type: string
          example: USDC
        - name: sort
          in: query
          description: 정렬 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: protocols
          in: query
          description: 프로토콜 필터
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium
        - name: sortBy
          in: query
          description: 정렬 기준 필드
          required: false
          schema:
            $ref: '#/components/schemas/SearchSortBy'
          example: priceInUsd
        - name: mode
          in: query
          description: '검색 모드: fast (기본값, 기본 필드 반환) 또는 normal (전체 토큰 상세 정보 반환)'
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SearchMode'
            default: fast
          example: fast
      responses:
        '200':
          description: 검색
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPage'
  /v2/token/{chain}/dev/{devAddress}/tokens:
    get:
      tags:
        - Token
      summary: 토큰 - 개발자 토큰 조회
      description: 특정 개발자 주소가 생성한 모든 토큰 조회
      operationId: get.dev.tokens
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: devAddress
          in: path
          description: 사용자 주소
          required: true
          schema:
            type: string
          example: 3NUHqNG2Big2WxbYnaBzSNmxwE4NrxgckJuoiyGxu3Am
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향 (next 또는 prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 개발자 토큰 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_DevToken'
  /v2/token/{chain}/list:
    get:
      tags:
        - Token
      summary: 토큰 - 목록 (필터)
      description: 범위 조건으로 필터링된 토큰 목록 조회
      operationId: list.token
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향 (next 또는 prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: sort
          in: query
          description: 정렬 방향 (asc 또는 desc)
          required: false
          schema:
            $ref: '#/components/schemas/SortDirection'
          example: desc
        - name: sortBy
          in: query
          description: 정렬 기준 필드
          required: false
          schema:
            $ref: '#/components/schemas/TokenListSortField'
          example: h24VolumeInUsd
        - name: min_h24_volume_in_usd
          in: query
          description: 최소 24시간 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_h24_volume_in_usd
          in: query
          description: 최대 24시간 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_h24_price_change_ratio
          in: query
          description: 최소 24시간 가격 변동률
          required: false
          schema:
            type: string
        - name: max_h24_price_change_ratio
          in: query
          description: 최대 24시간 가격 변동률
          required: false
          schema:
            type: string
        - name: min_h24_buys
          in: query
          description: 최소 24시간 매수 건수
          required: false
          schema:
            type: string
        - name: max_h24_buys
          in: query
          description: 최대 24시간 매수 건수
          required: false
          schema:
            type: string
        - name: min_h24_sells
          in: query
          description: 최소 24시간 매도 건수
          required: false
          schema:
            type: string
        - name: max_h24_sells
          in: query
          description: 최대 24시간 매도 건수
          required: false
          schema:
            type: string
        - name: min_h24_trades
          in: query
          description: 최소 24시간 거래 건수
          required: false
          schema:
            type: string
        - name: max_h24_trades
          in: query
          description: 최대 24시간 거래 건수
          required: false
          schema:
            type: string
        - name: min_h24_buyers
          in: query
          description: 최소 24시간 매수자 수
          required: false
          schema:
            type: string
        - name: max_h24_buyers
          in: query
          description: 최대 24시간 매수자 수
          required: false
          schema:
            type: string
        - name: min_h24_sellers
          in: query
          description: 최소 24시간 매도자 수
          required: false
          schema:
            type: string
        - name: max_h24_sellers
          in: query
          description: 최대 24시간 매도자 수
          required: false
          schema:
            type: string
        - name: min_h24_buy_volume_in_usd
          in: query
          description: 최소 24시간 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_h24_buy_volume_in_usd
          in: query
          description: 최대 24시간 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_h24_sell_volume_in_usd
          in: query
          description: 최소 24시간 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_h24_sell_volume_in_usd
          in: query
          description: 최대 24시간 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_h4_volume_in_usd
          in: query
          description: 최소 4시간 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_h4_volume_in_usd
          in: query
          description: 최대 4시간 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_h4_price_change_ratio
          in: query
          description: 최소 4시간 가격 변동률
          required: false
          schema:
            type: string
        - name: max_h4_price_change_ratio
          in: query
          description: 최대 4시간 가격 변동률
          required: false
          schema:
            type: string
        - name: min_h4_buys
          in: query
          description: 최소 4시간 매수 건수
          required: false
          schema:
            type: string
        - name: max_h4_buys
          in: query
          description: 최대 4시간 매수 건수
          required: false
          schema:
            type: string
        - name: min_h4_sells
          in: query
          description: 최소 4시간 매도 건수
          required: false
          schema:
            type: string
        - name: max_h4_sells
          in: query
          description: 최대 4시간 매도 건수
          required: false
          schema:
            type: string
        - name: min_h4_trades
          in: query
          description: 최소 4시간 거래 건수
          required: false
          schema:
            type: string
        - name: max_h4_trades
          in: query
          description: 최대 4시간 거래 건수
          required: false
          schema:
            type: string
        - name: min_h4_buyers
          in: query
          description: 최소 4시간 매수자 수
          required: false
          schema:
            type: string
        - name: max_h4_buyers
          in: query
          description: 최대 4시간 매수자 수
          required: false
          schema:
            type: string
        - name: min_h4_sellers
          in: query
          description: 최소 4시간 매도자 수
          required: false
          schema:
            type: string
        - name: max_h4_sellers
          in: query
          description: 최대 4시간 매도자 수
          required: false
          schema:
            type: string
        - name: min_h4_buy_volume_in_usd
          in: query
          description: 최소 4시간 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_h4_buy_volume_in_usd
          in: query
          description: 최대 4시간 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_h4_sell_volume_in_usd
          in: query
          description: 최소 4시간 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_h4_sell_volume_in_usd
          in: query
          description: 최대 4시간 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_h1_volume_in_usd
          in: query
          description: 최소 1시간 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_h1_volume_in_usd
          in: query
          description: 최대 1시간 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_h1_price_change_ratio
          in: query
          description: 최소 1시간 가격 변동률
          required: false
          schema:
            type: string
        - name: max_h1_price_change_ratio
          in: query
          description: 최대 1시간 가격 변동률
          required: false
          schema:
            type: string
        - name: min_h1_buys
          in: query
          description: 최소 1시간 매수 건수
          required: false
          schema:
            type: string
        - name: max_h1_buys
          in: query
          description: 최대 1시간 매수 건수
          required: false
          schema:
            type: string
        - name: min_h1_sells
          in: query
          description: 최소 1시간 매도 건수
          required: false
          schema:
            type: string
        - name: max_h1_sells
          in: query
          description: 최대 1시간 매도 건수
          required: false
          schema:
            type: string
        - name: min_h1_trades
          in: query
          description: 최소 1시간 거래 건수
          required: false
          schema:
            type: string
        - name: max_h1_trades
          in: query
          description: 최대 1시간 거래 건수
          required: false
          schema:
            type: string
        - name: min_h1_buyers
          in: query
          description: 최소 1시간 매수자 수
          required: false
          schema:
            type: string
        - name: max_h1_buyers
          in: query
          description: 최대 1시간 매수자 수
          required: false
          schema:
            type: string
        - name: min_h1_sellers
          in: query
          description: 최소 1시간 매도자 수
          required: false
          schema:
            type: string
        - name: max_h1_sellers
          in: query
          description: 최대 1시간 매도자 수
          required: false
          schema:
            type: string
        - name: min_h1_buy_volume_in_usd
          in: query
          description: 최소 1시간 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_h1_buy_volume_in_usd
          in: query
          description: 최대 1시간 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_h1_sell_volume_in_usd
          in: query
          description: 최소 1시간 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_h1_sell_volume_in_usd
          in: query
          description: 최대 1시간 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m30_volume_in_usd
          in: query
          description: 최소 30분 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m30_volume_in_usd
          in: query
          description: 최대 30분 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m30_price_change_ratio
          in: query
          description: 최소 30분 가격 변동률
          required: false
          schema:
            type: string
        - name: max_m30_price_change_ratio
          in: query
          description: 최대 30분 가격 변동률
          required: false
          schema:
            type: string
        - name: min_m30_buys
          in: query
          description: 최소 30분 매수 건수
          required: false
          schema:
            type: string
        - name: max_m30_buys
          in: query
          description: 최대 30분 매수 건수
          required: false
          schema:
            type: string
        - name: min_m30_sells
          in: query
          description: 최소 30분 매도 건수
          required: false
          schema:
            type: string
        - name: max_m30_sells
          in: query
          description: 최대 30분 매도 건수
          required: false
          schema:
            type: string
        - name: min_m30_trades
          in: query
          description: 최소 30분 거래 건수
          required: false
          schema:
            type: string
        - name: max_m30_trades
          in: query
          description: 최대 30분 거래 건수
          required: false
          schema:
            type: string
        - name: min_m30_buyers
          in: query
          description: 최소 30분 매수자 수
          required: false
          schema:
            type: string
        - name: max_m30_buyers
          in: query
          description: 최대 30분 매수자 수
          required: false
          schema:
            type: string
        - name: min_m30_sellers
          in: query
          description: 최소 30분 매도자 수
          required: false
          schema:
            type: string
        - name: max_m30_sellers
          in: query
          description: 최대 30분 매도자 수
          required: false
          schema:
            type: string
        - name: min_m30_buy_volume_in_usd
          in: query
          description: 최소 30분 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m30_buy_volume_in_usd
          in: query
          description: 최대 30분 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m30_sell_volume_in_usd
          in: query
          description: 최소 30분 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m30_sell_volume_in_usd
          in: query
          description: 최대 30분 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m15_volume_in_usd
          in: query
          description: 최소 15분 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m15_volume_in_usd
          in: query
          description: 최대 15분 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m15_price_change_ratio
          in: query
          description: 최소 15분 가격 변동률
          required: false
          schema:
            type: string
        - name: max_m15_price_change_ratio
          in: query
          description: 최대 15분 가격 변동률
          required: false
          schema:
            type: string
        - name: min_m15_buys
          in: query
          description: 최소 15분 매수 건수
          required: false
          schema:
            type: string
        - name: max_m15_buys
          in: query
          description: 최대 15분 매수 건수
          required: false
          schema:
            type: string
        - name: min_m15_sells
          in: query
          description: 최소 15분 매도 건수
          required: false
          schema:
            type: string
        - name: max_m15_sells
          in: query
          description: 최대 15분 매도 건수
          required: false
          schema:
            type: string
        - name: min_m15_trades
          in: query
          description: 최소 15분 거래 건수
          required: false
          schema:
            type: string
        - name: max_m15_trades
          in: query
          description: 최대 15분 거래 건수
          required: false
          schema:
            type: string
        - name: min_m15_buyers
          in: query
          description: 최소 15분 매수자 수
          required: false
          schema:
            type: string
        - name: max_m15_buyers
          in: query
          description: 최대 15분 매수자 수
          required: false
          schema:
            type: string
        - name: min_m15_sellers
          in: query
          description: 최소 15분 매도자 수
          required: false
          schema:
            type: string
        - name: max_m15_sellers
          in: query
          description: 최대 15분 매도자 수
          required: false
          schema:
            type: string
        - name: min_m15_buy_volume_in_usd
          in: query
          description: 최소 15분 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m15_buy_volume_in_usd
          in: query
          description: 최대 15분 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m15_sell_volume_in_usd
          in: query
          description: 최소 15분 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m15_sell_volume_in_usd
          in: query
          description: 최대 15분 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m5_volume_in_usd
          in: query
          description: 최소 5분 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m5_volume_in_usd
          in: query
          description: 최대 5분 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m5_price_change_ratio
          in: query
          description: 최소 5분 가격 변동률
          required: false
          schema:
            type: string
        - name: max_m5_price_change_ratio
          in: query
          description: 최대 5분 가격 변동률
          required: false
          schema:
            type: string
        - name: min_m5_buys
          in: query
          description: 최소 5분 매수 건수
          required: false
          schema:
            type: string
        - name: max_m5_buys
          in: query
          description: 최대 5분 매수 건수
          required: false
          schema:
            type: string
        - name: min_m5_sells
          in: query
          description: 최소 5분 매도 건수
          required: false
          schema:
            type: string
        - name: max_m5_sells
          in: query
          description: 최대 5분 매도 건수
          required: false
          schema:
            type: string
        - name: min_m5_trades
          in: query
          description: 최소 5분 거래 건수
          required: false
          schema:
            type: string
        - name: max_m5_trades
          in: query
          description: 최대 5분 거래 건수
          required: false
          schema:
            type: string
        - name: min_m5_buyers
          in: query
          description: 최소 5분 매수자 수
          required: false
          schema:
            type: string
        - name: max_m5_buyers
          in: query
          description: 최대 5분 매수자 수
          required: false
          schema:
            type: string
        - name: min_m5_sellers
          in: query
          description: 최소 5분 매도자 수
          required: false
          schema:
            type: string
        - name: max_m5_sellers
          in: query
          description: 최대 5분 매도자 수
          required: false
          schema:
            type: string
        - name: min_m5_buy_volume_in_usd
          in: query
          description: 최소 5분 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m5_buy_volume_in_usd
          in: query
          description: 최대 5분 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m5_sell_volume_in_usd
          in: query
          description: 최소 5분 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m5_sell_volume_in_usd
          in: query
          description: 최대 5분 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m1_volume_in_usd
          in: query
          description: 최소 1분 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m1_volume_in_usd
          in: query
          description: 최대 1분 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m1_price_change_ratio
          in: query
          description: 최소 1분 가격 변동률
          required: false
          schema:
            type: string
        - name: max_m1_price_change_ratio
          in: query
          description: 최대 1분 가격 변동률
          required: false
          schema:
            type: string
        - name: min_m1_buys
          in: query
          description: 최소 1분 매수 건수
          required: false
          schema:
            type: string
        - name: max_m1_buys
          in: query
          description: 최대 1분 매수 건수
          required: false
          schema:
            type: string
        - name: min_m1_sells
          in: query
          description: 최소 1분 매도 건수
          required: false
          schema:
            type: string
        - name: max_m1_sells
          in: query
          description: 최대 1분 매도 건수
          required: false
          schema:
            type: string
        - name: min_m1_trades
          in: query
          description: 최소 1분 거래 건수
          required: false
          schema:
            type: string
        - name: max_m1_trades
          in: query
          description: 최대 1분 거래 건수
          required: false
          schema:
            type: string
        - name: min_m1_buyers
          in: query
          description: 최소 1분 매수자 수
          required: false
          schema:
            type: string
        - name: max_m1_buyers
          in: query
          description: 최대 1분 매수자 수
          required: false
          schema:
            type: string
        - name: min_m1_sellers
          in: query
          description: 최소 1분 매도자 수
          required: false
          schema:
            type: string
        - name: max_m1_sellers
          in: query
          description: 최대 1분 매도자 수
          required: false
          schema:
            type: string
        - name: min_m1_buy_volume_in_usd
          in: query
          description: 최소 1분 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m1_buy_volume_in_usd
          in: query
          description: 최대 1분 매수 거래량 (USD)
          required: false
          schema:
            type: string
        - name: min_m1_sell_volume_in_usd
          in: query
          description: 최소 1분 매도 거래량 (USD)
          required: false
          schema:
            type: string
        - name: max_m1_sell_volume_in_usd
          in: query
          description: 최대 1분 매도 거래량 (USD)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 토큰 목록 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_Token'
  /v2/token/{chain}/marketData/multi:
    get:
      tags:
        - Token
      summary: 토큰 - 시장 데이터 (다중)
      description: 다중 토큰의 시장 데이터 조회
      operationId: get.marketData.multi
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: 쉼표(,)로 구분된 토큰 주소 목록. 최대 100개의 토큰 주소 허용
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: 다중 시장 데이터 조회
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: 토큰 시장 데이터
                  properties:
                    bluechipHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 블루칩 보유량의 총 공급 대비 비율
                      example: '0.05'
                    bluechipTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 블루칩 지갑 홀더 수
                      example: '10'
                    bluechipTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 블루칩 지갑의 총 보유량
                      example: '50000'
                    bundleHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 번들 보유량의 총 공급 대비 비율
                      example: '0.018'
                    bundleTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 번들 지갑 홀더 수
                      example: '12'
                    bundleTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 번들 지갑의 총 보유량
                      example: '18000'
                    circulatingSupply:
                      type:
                        - string
                        - 'null'
                      description: 토큰 유통 공급량
                      example: '900000'
                    completionRatio:
                      type:
                        - string
                        - 'null'
                      description: 본딩 커브 완료율
                      example: '1.0'
                    devHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 개발자 보유량의 총 공급 대비 비율
                      example: '0.005'
                    devTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 개발자 지갑 홀더 수
                      example: '3'
                    devTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 개발자 지갑의 총 보유량
                      example: '5000'
                    fdvInSol:
                      type:
                        - string
                        - 'null'
                      description: 네이티브 토큰 기준 완전 희석 가치
                      example: '200000'
                    fdvInUsd:
                      type:
                        - string
                        - 'null'
                      description: USD 기준 완전 희석 가치
                      example: '200000'
                    freshHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 신규 지갑 보유량의 총 공급 대비 비율
                      example: '0.01'
                    freshTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 신규 지갑 홀더 수
                      example: '30'
                    freshTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 신규 지갑의 총 보유량
                      example: '10000'
                    holders:
                      type:
                        - string
                        - 'null'
                      description: 총 토큰 홀더 수
                      example: '1000'
                    insiderHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 인사이더 보유량의 총 공급 대비 비율
                      example: '0.02'
                    insiderTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 인사이더 지갑 홀더 수
                      example: '5'
                    insiderTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 인사이더 지갑의 총 보유량
                      example: '20000'
                    kolHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: KOL 보유량의 총 공급 대비 비율
                      example: '0.03'
                    kolTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: KOL (핵심 오피니언 리더) 홀더 수
                      example: '20'
                    kolTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: KOL 지갑의 총 보유량
                      example: '30000'
                    marketCapInSol:
                      type:
                        - string
                        - 'null'
                      description: 네이티브 토큰 기준 시가총액
                      example: '100000'
                    marketCapInUsd:
                      type:
                        - string
                        - 'null'
                      description: USD 기준 시가총액
                      example: '100000'
                    maxPoolTvlInSol:
                      type:
                        - string
                        - 'null'
                      description: 네이티브 토큰 기준 최대 풀 TVL
                      example: '1000.45'
                    maxPoolTvlInUsd:
                      type:
                        - string
                        - 'null'
                      description: USD 기준 최대 풀 TVL
                      example: '150000.00'
                    priceInSol:
                      type:
                        - string
                        - 'null'
                      description: 네이티브 토큰 기준 토큰 가격
                      example: '0.00000261383847574915906643405542'
                    priceInUsd:
                      type:
                        - string
                        - 'null'
                      description: USD 기준 토큰 가격
                      example: '0.00000261383847574915906643405542'
                    proHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 프로 트레이더 보유량의 총 공급 대비 비율
                      example: '0.04'
                    proTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 프로 트레이더 홀더 수
                      example: '25'
                    proTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 프로 트레이더의 총 보유량
                      example: '40000'
                    sandwishHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 샌드위치 공격 보유량의 총 공급 대비 비율
                      example: '0.015'
                    sandwishTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 샌드위치 공격 지갑 홀더 수
                      example: '8'
                    sandwishTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 샌드위치 공격 지갑의 총 보유량
                      example: '15000'
                    sniperHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 스나이퍼 보유량의 총 공급 대비 비율
                      example: '0.025'
                    sniperTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 스나이퍼 지갑 홀더 수
                      example: '15'
                    sniperTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 스나이퍼 지갑의 총 보유량
                      example: '25000'
                    top100HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 상위 100명 홀더의 총 공급 대비 비율
                      example: '0.8'
                    top100TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 상위 100명 홀더의 총 보유량
                      example: '800000'
                    top10HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 상위 10명 홀더의 총 공급 대비 비율
                      example: '0.5'
                    top10TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 상위 10명 홀더의 총 보유량
                      example: '500000'
                    top50HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 상위 50명 홀더의 총 공급 대비 비율
                      example: '0.3'
                    top50TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 상위 50명 홀더의 총 보유량
                      example: '300000'
                    totalSupply:
                      type:
                        - string
                        - 'null'
                      description: 토큰 총 공급량
                      example: '1000000'
                    totalTvlInSol:
                      type:
                        - string
                        - 'null'
                      description: 네이티브 토큰 기준 총 예치 자산
                      example: '1000000.45'
                    totalTvlInUsd:
                      type:
                        - string
                        - 'null'
                      description: USD 기준 총 예치 자산
                      example: '1000000.45'
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  circulatingSupply: '1000000000'
                  holders: '12345'
                  marketCap: '150000000.00'
                  priceInNative: '0.00005'
                  priceInUsd: '0.15'
                  totalSupply: '1000000000'
  /v2/token/{chain}/metadata/multi:
    get:
      tags:
        - Token
      summary: 토큰 - 메타데이터 (다중)
      description: 다중 토큰의 메타데이터 조회
      operationId: get.metadata.multi
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: 쉼표(,)로 구분된 토큰 주소 목록. 최대 100개의 토큰 주소 허용
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: 다중 메타데이터 조회
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: 토큰 메타데이터
                  required:
                    - address
                    - chain
                    - symbol
                    - name
                    - decimals
                  properties:
                    address:
                      type: string
                      description: 토큰 컨트랙트 주소
                      example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    chain:
                      type: string
                      description: 블록체인 네트워크 식별자
                      example: sol
                    coingeckoCoinId:
                      type:
                        - string
                        - 'null'
                      description: CoinGecko 코인 식별자
                      example: usd-coin
                    decimals:
                      type: string
                      description: 소수점 자릿수
                      example: '9'
                    description:
                      type:
                        - string
                        - 'null'
                      description: 토큰 설명
                      example: USDC is a stablecoin pegged to the US dollar
                    devLastTokenCreatedAt:
                      type:
                        - string
                        - 'null'
                      description: 개발자의 마지막 토큰 생성 타임스탬프
                      example: 2025-12-03T09:23:34.000Z
                    devTotalTokens:
                      type:
                        - string
                        - 'null'
                      description: 개발자가 생성한 총 토큰 수
                      example: '163'
                    extra:
                      $ref: '#/components/schemas/TokenExtra'
                      description: 확장 토큰 메타데이터
                    imageUrl:
                      type:
                        - string
                        - 'null'
                      description: 토큰 로고 이미지 URL
                      example: https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v/logo.png
                    metadataAddress:
                      type:
                        - string
                        - 'null'
                      description: 온체인 메타데이터 계정 주소
                      example: metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s
                    name:
                      type: string
                      description: 토큰 표시 이름
                      example: USD Coin
                    socialMedias:
                      $ref: '#/components/schemas/TokenSocialMedias'
                      description: 토큰 소셜 미디어 링크
                    symbol:
                      type: string
                      description: 토큰 티커 심볼
                      example: USDC
                    tokenCreatedAt:
                      type:
                        - integer
                        - 'null'
                      format: int64
                      description: 토큰 생성 타임스탬프 (밀리초)
                      example: 1710417600000
                    tokenCreatedBlockHeight:
                      type:
                        - string
                        - 'null'
                      description: 토큰이 생성된 블록 높이
                      example: '220000000'
                    tokenCreatedSlot:
                      type:
                        - string
                        - 'null'
                      description: 토큰이 생성된 슬롯 번호
                      example: '230000000'
                    tokenCreatedTxSignature:
                      type:
                        - string
                        - 'null'
                      description: 토큰 생성 트랜잭션 서명
                      example: 5dJ1BxPiFT7w7aBdkxNy2jopGZnZoLwRwS8e9GkEXrVz...
                    tokenCreators:
                      type: array
                      items:
                        $ref: '#/components/schemas/TokenCreator'
                      description: 토큰 생성자 목록
                    updatedAt:
                      type:
                        - string
                        - 'null'
                      description: 마지막 업데이트 타임스탬프
                      example: 2026-02-09T08:05:12.345Z
                    uri:
                      type:
                        - string
                        - 'null'
                      description: 토큰 메타데이터 URI
                      example: https://arweave.net/abc123
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  address: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                  chain: sol
                  decimals: '9'
                  imageUrl: https://example.com/sol.png
                  name: Solana
                  symbol: SOL
  /v2/token/{chain}/multi:
    get:
      tags:
        - Token
      summary: 토큰 - 상세 (다중)
      description: 다중 토큰 상세 정보 조회
      operationId: get.tokens
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: 쉼표(,)로 구분된 토큰 주소 목록. 최대 100개의 토큰 주소 허용
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: sortBy
          in: query
          description: 정렬 필드
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 정렬 방향
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: filterBy
          in: query
          description: DTO.TOKEN.REQUEST.FILTER_BY(필터 조건의 JSON 배열)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 토큰 조회
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/token/{chain}/pair/{pair}/candles:
    get:
      tags:
        - Token
      summary: 거래 쌍 - 캔들
      description: '거래 쌍의 OHLCV 캔들스틱 데이터 조회 (형식: TOKEN_A_ADDRESS-TOKEN_B_ADDRESS)'
      operationId: get.pair.candles
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: pair
          in: path
          description: '거래 쌍 식별자 (형식: TOKEN_A_ADDRESS-TOKEN_B_ADDRESS). 거래 쌍은 자동으로 정렬됩니다'
          required: true
          schema:
            type: string
          example: 9BB6NFEcjBCtnNLFko2FqVQBq8HHM13kCyYcdQbgpump-EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: resolution
          in: query
          description: 캔들 데이터의 시간 해상도
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: '가격 유형: usd (기본값) 또는 네이티브 토큰 가격'
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: 시작 타임스탬프 (Unix 초 단위 타임스탬프)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: 종료 타임스탬프 (Unix 초 단위 타임스탬프)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: 반환할 캔들 수
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: 거래 쌍 캔들 조회
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/pool/{poolAddress}/candles:
    get:
      tags:
        - Token
      summary: 풀 - 캔들
      description: 특정 유동성 풀의 OHLCV 캔들스틱 데이터 조회
      operationId: get.pool.candles
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: 풀 주소
          required: true
          schema:
            type: string
          example: 8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj
        - name: resolution
          in: query
          description: 캔들 데이터의 시간 해상도
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: '가격 유형: usd (기본값) 또는 네이티브 토큰 가격'
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: 시작 타임스탬프 (Unix 초 단위 타임스탬프)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: 종료 타임스탬프 (Unix 초 단위 타임스탬프)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: 반환할 캔들 수
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: 풀 캔들 조회
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/stats/multi:
    get:
      tags:
        - Token
      summary: 토큰 - 통계 (다중)
      description: 다중 토큰의 통계 조회
      operationId: get.stats.multi
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: 쉼표(,)로 구분된 토큰 주소 목록. 최대 100개의 토큰 주소 허용
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: 다중 통계 조회
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: 중첩된 기간 데이터가 포함된 토큰 통계
                  required:
                    - address
                    - periods
                  properties:
                    address:
                      type: string
                      description: 토큰 컨트랙트 주소
                      example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    periods:
                      type: object
                      description: |-
                        시간 주기(1m, 5m, 15m, 30m, 1h, 4h, 24h)별로 집계된 거래 통계.
                        각 주기에는 전체 OHLCV 데이터, 거래 건수, 이전 주기 대비 비교가 포함됩니다.
                        전체 필드는 `TokenTradeStatPeriod` 스키마를 참조하세요.
                      additionalProperties:
                        $ref: '#/components/schemas/TokenTradeStatPeriod'
                      propertyNames:
                        type: string
                      example:
                        24h:
                          buyVolumeInUsd: '45000.00'
                          buyers: '320'
                          buys: '1520'
                          closeInUsd: '0.15600000'
                          currentLiquidityInUsd: '250000.00'
                          highInUsd: '0.15900000'
                          lowInUsd: '0.15000000'
                          openInUsd: '0.15000000'
                          priceChangeRatioInUsd: '0.04000000'
                          sellVolumeInUsd: '36000.00'
                          sellers: '210'
                          sells: '980'
                          totalVolumeInUsd: '81000.00'
                          traders: '530'
                          trades: '2500'
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  address: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                  periods:
                    24h:
                      buyVolume: '15000000.12345678'
                      buyVolumeInUsd: '45000.00'
                      buyers: '320'
                      buys: '1520'
                      closeInUsd: '0.15600000'
                      highInUsd: '0.15900000'
                      lowInUsd: '0.15000000'
                      openInUsd: '0.15000000'
                      priceChangeRatioInUsd: '0.04000000'
                      sellVolume: '12000000.98765432'
                      sellVolumeInUsd: '36000.00'
                      sellers: '210'
                      sells: '980'
                      totalVolumeInUsd: '81000.00'
                      traders: '530'
                      trades: '2500'
  /v2/token/{chain}/{tokenAddress}:
    get:
      tags:
        - Token
      summary: 토큰 - 상세
      description: 토큰 상세 정보 조회
      operationId: get.token
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 토큰 주소
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
  /v2/token/{chain}/{tokenAddress}/candles:
    get:
      tags:
        - Token
      summary: 토큰 - 캔들
      description: 토큰 가격 캔들 조회
      operationId: get.candles
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 토큰 주소
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
        - name: resolution
          in: query
          description: 캔들 데이터의 시간 해상도
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: '가격 유형: usd (기본값) 또는 네이티브 토큰 가격'
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: 시작 타임스탬프 (Unix 초 단위 타임스탬프)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: 종료 타임스탬프 (Unix 초 단위 타임스탬프)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: 반환할 캔들 수
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: 캔들 조회
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/{tokenAddress}/creation:
    get:
      tags:
        - Token
      summary: 토큰 - 생성
      description: 토큰 생성 정보 조회
      operationId: get.creation
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 토큰 주소
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 생성 정보 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenCreation'
  /v2/token/{chain}/{tokenAddress}/holders:
    get:
      tags:
        - Token
      summary: 토큰 - 홀더
      description: 토큰 홀더 조회
      operationId: get.holders
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 토큰 주소
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향 (next 또는 prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 홀더 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_TokenHolder'
  /v2/token/{chain}/{tokenAddress}/holders/multi:
    get:
      tags:
        - Token
      summary: 토큰 - 홀더 (다중)
      description: 다중 지갑 주소의 홀더 정보 조회
      operationId: get.holders.multi
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 토큰 주소
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
        - name: walletAddresses
          in: query
          description: 쉼표(,)로 구분된 지갑 주소 목록. 최대 100개의 지갑 주소 허용
          required: true
          schema:
            type: string
          example: MJKqp326RZCHnAAbew9MDdui3iCKWco7fsK9sVuZTX2,2RH6rUTPBJ9rUDPpuV9b8z1YL56k1tYU6Uk5ZoaEFFSK
      responses:
        '200':
          description: 다중 홀더 조회
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenHolder'
  /v2/token/{chain}/{tokenAddress}/liquiditySnapshots:
    get:
      tags:
        - Token
      summary: 토큰 - 유동성 스냅샷
      description: 토큰의 과거 유동성 스냅샷 조회. 시간 파라미터가 제공되면 해당 시간 이전 또는 해당 시간의 가장 가까운 스냅샷을 반환합니다.
      operationId: get.token.liquidity.snapshots
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 토큰 주소
          required: true
          schema:
            type: string
          example: 113FvWQTBC7CXtgSvzfxRSedwVkLbmD8WfAjFrbpump
        - name: cursor
          in: query
          description: 페이지네이션 커서
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 페이지당 결과 수
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 페이지네이션 방향 (next 또는 prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: time
          in: query
          description: 유동성 스냅샷 조회를 위한 대상 Unix 타임스탬프
          required: false
          schema:
            type: integer
            format: int64
          example: 1770336000000
      responses:
        '200':
          description: 유동성 스냅샷 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_TokenLiquiditySnapshot'
  /v2/token/{chain}/{tokenAddress}/marketData:
    get:
      tags:
        - Token
      summary: 토큰 - 시가총액
      description: 토큰 시가총액 조회
      operationId: get.marketData
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 토큰 주소
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 시가총액 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenMarketData'
  /v2/token/{chain}/{tokenAddress}/metadata:
    get:
      tags:
        - Token
      summary: 토큰 - 메타데이터
      description: 토큰 메타데이터 조회
      operationId: get.metadata
      parameters:
        - name: chain
          in: path
          description: 지원되는 네트워크에 나열된 체인 이름
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 토큰 주소
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 메타데이터 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenMetadata'
  /v2/token/{chain}/{tokenAddress}/mintAndBurn:
    get:
      tags:
        - Token
      summary: 토큰 - 발행 및 소각
[...]
