openapi: 3.1.0
info:
  title: Data Services API
  description: Data Services API
  contact:
    name: AI
    email: ai@sx.ai
  license:
    name: MIT
  version: '1.0'
servers:
  - url: https://api.chainstream.io
    description: Production
paths:
  /v2/blockchain:
    get:
      tags:
        - Blockchain
      summary: 區塊鏈 - 列表
      description: 取得支援的區塊鏈列表
      operationId: get.supported.blockchains
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Blockchain'
  /v2/blockchain/{chain}/latest_block:
    get:
      tags:
        - Blockchain
      summary: 區塊鏈 - 最新區塊
      description: 取得特定區塊鏈的最新區塊資訊
      operationId: get.latest.block
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainLatestBlock'
  /v2/dex:
    get:
      tags:
        - Dex
      summary: Dex - 列表
      description: 取得指定區塊鏈上所有 DEX 的資訊
      operationId: list.dex
      parameters:
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 每頁回傳結果數量
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 分頁方向（next 或 prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: chains
          in: query
          description: 按區塊鏈網路篩選
          required: false
          schema:
            type: array
            items:
              type: string
          example: sol
        - name: dexProgram
          in: query
          description: 按 DEX 程式地址篩選
          required: false
          schema:
            type: string
          example: whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_Dex'
  /v2/dexpools/{chain}/{poolAddress}:
    get:
      tags:
        - DexPool
      summary: DEX 池子 - 詳情
      description: 取得特定 DEX 池子的詳細資訊
      operationId: get.dexpool
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: 池子地址
          required: true
          schema:
            type: string
          example: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/DexPoolDetail'
              example:
                chain: sol
                createdBlockTimestamp: 2024-01-15T10:30:00Z
                feeRate: '0.003'
                image: https://ipfs.io/ipfs/bafkreid7667676767676767676767676767676767676767676767676767676767676767
                liquidityModel: 1
                poolAddress: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
                programAddress: whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc
                protocolFamily: OrcaWhirpool
                protocolName: OrcaWhirpool AMM V2
                tickSpacing: 64
                tokenAAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                tokenALiquidity:
                  amountInNative: '5000.123'
                  amountInUsd: '1000000.45'
                  decimals: 6
                  priceNative: '0.005'
                  priceUsd: '1.0001'
                  tokenAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                  vaultAmount: '1000000000000'
                tokenBAddress: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
                tokenBLiquidity:
                  amountInNative: '5000.123'
                  amountInUsd: '1000000.45'
                  decimals: 6
                  priceNative: '0.005'
                  priceUsd: '1.0001'
                  tokenAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                  vaultAmount: '1000000000000'
                tokenCount: 2
                tvlInSol: '1000000.45'
                tvlInUsd: '1000000.45'
                type: 1
                version: 2
  /v2/dexpools/{chain}/{poolAddress}/snapshots:
    get:
      tags:
        - DexPool
      summary: DEX 池子 - 流動性快照
      description: 取得特定池子的歷史流動性快照。如果提供了時間參數，將回傳該時間點之前或當時最近的快照
      operationId: get.dexpool.snapshots
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: 池子地址
          required: true
          schema:
            type: string
          example: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 每頁回傳結果數量
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 分頁方向（next 或 prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: time
          in: query
          description: 快照查詢的目標 Unix 時間戳
          required: false
          schema:
            type: integer
            format: int64
          example: 1705312800000
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_DexPoolSnapshot'
  /v2/ipfs/presign:
    post:
      tags:
        - IPFS
      summary: IPFS - 預簽名
      description: 建立 IPFS 內容的預簽名 URL
      operationId: presign
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignResponse'
  /v2/kyt/address:
    post:
      tags:
        - KYT
      summary: KYT - 註冊地址
      description: 註冊地址用於 KYT 監控
      operationId: register.address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterAddressInput'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytRegisterAddressResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/addresses/{address}/risk:
    get:
      tags:
        - KYT
      summary: KYT - 取得地址風險
      description: 取得已註冊地址的風險評估
      operationId: get.address.risk
      parameters:
        - name: address
          in: path
          description: 地址
          required: true
          schema:
            type: string
          example: 1.2638660031056791e+45
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAddressRiskResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfer:
    post:
      tags:
        - KYT
      summary: KYT - 註冊轉帳
      description: 註冊轉帳用於 KYT（交易追蹤）分析
      operationId: register.transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterTransferInput'
        required: true
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytTransferBaseResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/alerts:
    get:
      tags:
        - KYT
      summary: KYT - 取得轉帳告警
      description: 取得與轉帳關聯的告警
      operationId: get.transfer.alerts
      parameters:
        - name: transferId
          in: path
          description: 轉帳 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAlertsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/exposures/direct:
    get:
      tags:
        - KYT
      summary: KYT - 取得轉帳直接敞口
      description: 取得轉帳的直接風險敞口資訊
      operationId: get.transfer.direct.exposure
      parameters:
        - name: transferId
          in: path
          description: 轉帳 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytDirectExposureResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/network-identifications:
    get:
      tags:
        - KYT
      summary: KYT - 取得轉帳網路標識
      description: 取得轉帳的網路標識資訊
      operationId: get.transfer.network.identifications
      parameters:
        - name: transferId
          in: path
          description: 轉帳 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytNetworkIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/summary:
    get:
      tags:
        - KYT
      summary: KYT - 取得轉帳摘要
      description: 取得已註冊轉帳的摘要資訊
      operationId: get.transfer.summary
      parameters:
        - name: transferId
          in: path
          description: 轉帳 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytTransferBaseResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal:
    post:
      tags:
        - KYT
      summary: KYT - 註冊提款
      description: 註冊提款用於 KYT（交易追蹤）分析
      operationId: register.withdrawal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterWithdrawalInput'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalBaseResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/address-identifications:
    get:
      tags:
        - KYT
      summary: KYT - 取得提款地址標識
      description: 取得提款的地址標識資訊
      operationId: get.withdrawal.address.identifications
      parameters:
        - name: withdrawalId
          in: path
          description: 提款 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalAddressIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/alerts:
    get:
      tags:
        - KYT
      summary: KYT - 取得提款告警
      description: 取得與提款關聯的告警
      operationId: get.withdrawal.alerts
      parameters:
        - name: withdrawalId
          in: path
          description: 提款 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAlertsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/exposures/direct:
    get:
      tags:
        - KYT
      summary: KYT - 取得提款直接敞口
      description: 取得提款的直接風險敞口資訊
      operationId: get.withdrawal.direct.exposure
      parameters:
        - name: withdrawalId
          in: path
          description: 提款 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytDirectExposureResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/fraud-assessment:
    get:
      tags:
        - KYT
      summary: KYT - 取得提款詐欺評估
      description: 取得提款的詐欺評估結果
      operationId: get.withdrawal.fraud.assessment
      parameters:
        - name: withdrawalId
          in: path
          description: 提款 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytFraudAssessmentResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/network-identifications:
    get:
      tags:
        - KYT
      summary: KYT - 取得提款網路標識
      description: 取得提款的網路標識資訊
      operationId: get.withdrawal.network.identifications
      parameters:
        - name: withdrawalId
          in: path
          description: 提款 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytNetworkIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/summary:
    get:
      tags:
        - KYT
      summary: KYT - 取得提款摘要
      description: 取得已註冊提款的摘要資訊
      operationId: get.withdrawal.summary
      parameters:
        - name: withdrawalId
          in: path
          description: 提款 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalBaseResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/ranking/{chain}/finalStretch:
    get:
      tags:
        - Ranking
      summary: 排行 - 衝刺代幣
      description: 回傳即將畢業的代幣
      operationId: get.finalStretch.tokens
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: 排序欄位
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 排序方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: 排行標籤篩選
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: 篩選欄位
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: 篩選條件
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: 發射平台
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 搜尋關鍵字
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 排除關鍵字
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/hotTokens/{duration}:
    get:
      tags:
        - Ranking
      summary: 排行 - 熱門代幣
      description: 取得熱門代幣列表
      operationId: get.hot.tokens
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: duration
          in: path
          description: 排行時間範圍
          required: true
          schema:
            $ref: '#/components/schemas/RankingDuration'
          example: 24h
        - name: sortBy
          in: query
          description: 排序欄位
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 排序方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: 排行標籤篩選
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: 篩選欄位
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: 篩選條件
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: 發射平台
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 搜尋關鍵字
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 排除關鍵字
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/migrated:
    get:
      tags:
        - Ranking
      summary: 排行 - 已遷移代幣
      description: 回傳已遷移的代幣
      operationId: get.migrated.tokens
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: 排序欄位
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 排序方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: 排行標籤篩選
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: 篩選欄位
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: 篩選條件
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: 發射平台
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 搜尋關鍵字
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 排除關鍵字
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/newTokens:
    get:
      tags:
        - Ranking
      summary: 排行 - 新代幣
      description: 回傳最新的 100 個代幣
      operationId: get.new.tokens
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: 排序欄位
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 排序方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: 排行標籤篩選
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: 篩選欄位
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: 篩選條件
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: 發射平台
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 搜尋關鍵字
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 排除關鍵字
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/stocks:
    get:
      tags:
        - Ranking
      summary: 排行 - Stocks 代幣
      description: 回傳 Stocks 代幣
      operationId: get.stocks.tokens
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: 排序欄位
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 排序方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: 排行標籤篩選
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: 篩選欄位
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: 篩選條件
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: 發射平台
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 搜尋關鍵字
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 排除關鍵字
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/redpacket:
    get:
      tags:
        - RedPacket
      summary: 紅包 - 列表
      description: 取得紅包列表
      operationId: get.redpackets
      parameters:
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: 每頁結果數量
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: 分頁方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: creator
          in: query
          description: 建立者錢包地址
          required: false
          schema:
            type: string
          example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: chain
          in: query
          description: 紅包所在的區塊鏈網路
          required: false
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketsPage'
  /v2/redpacket/wallet/{address}/claims:
    get:
      tags:
        - RedPacket
      summary: 紅包 - 按地址查領取紀錄
      description: 按領取者地址查詢紅包領取紀錄
      operationId: get.claims.by.address
      parameters:
        - name: address
          in: path
          description: 錢包地址
          required: true
          schema:
            type: string
          example: 3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: 每頁結果數量
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: 分頁方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketClaimsPage'
  /v2/redpacket/wallet/{address}/redpackets:
    get:
      tags:
        - RedPacket
      summary: 紅包 - 按地址查紅包
      description: 按建立者地址取得紅包列表
      operationId: get.redpackets.by.address
      parameters:
        - name: address
          in: path
          description: 錢包地址
          required: true
          schema:
            type: string
          example: 3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: 每頁結果數量
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: 分頁方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketsPage'
  /v2/redpacket/{chain}/claim:
    post:
      tags:
        - RedPacket
      summary: 紅包 - 領取
      description: 從已有紅包中領取代幣
      operationId: claim.redpacket
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimRedPacketRequest'
        required: true
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimRedPacketResponse'
  /v2/redpacket/{chain}/create:
    post:
      tags:
        - RedPacket
      summary: 紅包 - 建立
      description: 建立指定金額和數量的新紅包
      operationId: create.redpacket
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRedPacketRequest'
        required: true
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRedPacketResponse'
  /v2/redpacket/{chain}/send:
    post:
      tags:
        - RedPacket
      summary: 紅包 - 發送
      description: 紅包相關交易
      operationId: redpacket.send
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedPacketSendTxRequest'
        required: true
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketSendTxResponse'
  /v2/redpacket/{id}:
    get:
      tags:
        - RedPacket
      summary: 紅包 - 查詢
      description: 查詢紅包資訊
      operationId: get.redpacket
      parameters:
        - name: id
          in: path
          description: 紅包標識
          required: true
          schema:
            type: string
          example: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacket'
  /v2/redpacket/{id}/claims:
    get:
      tags:
        - RedPacket
      summary: 紅包 - 領取紀錄
      description: 查詢紅包領取紀錄
      operationId: get.claims
      parameters:
        - name: id
          in: path
          description: 紅包標識
          required: true
          schema:
            type: string
          example: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: 每頁結果數量
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: 分頁方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 成功回應
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketClaimsPage'
  /v2/token/search:
    get:
      tags:
        - Token
      summary: 代幣 - 搜尋
      description: 按名稱、符號或地址搜尋代幣
      operationId: search
      parameters:
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 每頁回傳結果數量
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 分頁方向（next 或 prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: chains
          in: query
          description: 鏈篩選
          required: false
          schema:
            type: array
            items:
              type: string
          example: sol
        - name: q
          in: query
          description: 搜尋關鍵字，支援代幣名稱、符號或地址
          required: false
          schema:
            type: string
          example: USDC
        - name: sort
          in: query
          description: 排序方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: protocols
          in: query
          description: 協議篩選
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium
        - name: sortBy
          in: query
          description: 排序欄位
          required: false
          schema:
            $ref: '#/components/schemas/SearchSortBy'
          example: priceInUsd
        - name: mode
          in: query
          description: 搜尋模式：fast（預設，回傳基礎欄位）或 normal（回傳完整代幣詳情）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SearchMode'
            default: fast
          example: fast
      responses:
        '200':
          description: 搜尋
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPage'
  /v2/token/{chain}/dev/{devAddress}/tokens:
    get:
      tags:
        - Token
      summary: 代幣 - 開發者代幣
      description: 取得特定開發者地址建立的所有代幣
      operationId: get.dev.tokens
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: devAddress
          in: path
          description: 使用者地址
          required: true
          schema:
            type: string
          example: 3NUHqNG2Big2WxbYnaBzSNmxwE4NrxgckJuoiyGxu3Am
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 每頁回傳結果數量
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 分頁方向（next 或 prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 取得開發者代幣
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_DevToken'
  /v2/token/{chain}/list:
    get:
      tags:
        - Token
      summary: 代幣 - 列表（篩選）
      description: 按範圍條件篩選取得代幣列表
      operationId: list.token
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 每頁回傳結果數量
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 分頁方向（next 或 prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: sort
          in: query
          description: 排序方向（asc 或 desc）
          required: false
          schema:
            $ref: '#/components/schemas/SortDirection'
          example: desc
        - name: sortBy
          in: query
          description: 排序欄位
          required: false
          schema:
            $ref: '#/components/schemas/TokenListSortField'
          example: h24VolumeInUsd
        - name: min_h24_volume_in_usd
          in: query
          description: 最小 24 小時交易量（USD 計）
          required: false
          schema:
            type: string
        - name: max_h24_volume_in_usd
          in: query
          description: 最大 24 小時交易量（USD 計）
          required: false
          schema:
            type: string
        - name: min_h24_price_change_ratio
          in: query
          description: 最小 24 小時價格變化率
          required: false
          schema:
            type: string
        - name: max_h24_price_change_ratio
          in: query
          description: 最大 24 小時價格變化率
          required: false
          schema:
            type: string
        - name: min_h24_buys
          in: query
          description: 最小 24 小時買入次數
          required: false
          schema:
            type: string
        - name: max_h24_buys
          in: query
          description: 最大 24 小時買入次數
          required: false
          schema:
            type: string
        - name: min_h24_sells
          in: query
          description: 最小 24 小時賣出次數
          required: false
          schema:
            type: string
        - name: max_h24_sells
          in: query
          description: 最大 24 小時賣出次數
          required: false
          schema:
            type: string
        - name: min_h24_trades
          in: query
          description: 最小 24 小時交易次數
          required: false
          schema:
            type: string
        - name: max_h24_trades
          in: query
          description: 最大 24 小時交易次數
          required: false
          schema:
            type: string
        - name: min_h24_buyers
          in: query
          description: 最小 24 小時買方數量
          required: false
          schema:
            type: string
        - name: max_h24_buyers
          in: query
          description: 最大 24 小時買方數量
          required: false
          schema:
            type: string
        - name: min_h24_sellers
          in: query
          description: 最小 24 小時賣方數量
          required: false
          schema:
            type: string
        - name: max_h24_sellers
          in: query
          description: 最大 24 小時賣方數量
          required: false
          schema:
            type: string
        - name: min_h24_buy_volume_in_usd
          in: query
          description: 最小 24 小時買入量（USD 計）
          required: false
          schema:
            type: string
        - name: max_h24_buy_volume_in_usd
          in: query
          description: 最大 24 小時買入量（USD 計）
          required: false
          schema:
            type: string
        - name: min_h24_sell_volume_in_usd
          in: query
          description: 最小 24 小時賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: max_h24_sell_volume_in_usd
          in: query
          description: 最大 24 小時賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: min_h4_volume_in_usd
          in: query
          description: 最小 4 小時交易量（USD 計）
          required: false
          schema:
            type: string
        - name: max_h4_volume_in_usd
          in: query
          description: 最大 4 小時交易量（USD 計）
          required: false
          schema:
            type: string
        - name: min_h4_price_change_ratio
          in: query
          description: 最小 4 小時價格變化率
          required: false
          schema:
            type: string
        - name: max_h4_price_change_ratio
          in: query
          description: 最大 4 小時價格變化率
          required: false
          schema:
            type: string
        - name: min_h4_buys
          in: query
          description: 最小 4 小時買入次數
          required: false
          schema:
            type: string
        - name: max_h4_buys
          in: query
          description: 最大 4 小時買入次數
          required: false
          schema:
            type: string
        - name: min_h4_sells
          in: query
          description: 最小 4 小時賣出次數
          required: false
          schema:
            type: string
        - name: max_h4_sells
          in: query
          description: 最大 4 小時賣出次數
          required: false
          schema:
            type: string
        - name: min_h4_trades
          in: query
          description: 最小 4 小時交易次數
          required: false
          schema:
            type: string
        - name: max_h4_trades
          in: query
          description: 最大 4 小時交易次數
          required: false
          schema:
            type: string
        - name: min_h4_buyers
          in: query
          description: 最小 4 小時買方數量
          required: false
          schema:
            type: string
        - name: max_h4_buyers
          in: query
          description: 最大 4 小時買方數量
          required: false
          schema:
            type: string
        - name: min_h4_sellers
          in: query
          description: 最小 4 小時賣方數量
          required: false
          schema:
            type: string
        - name: max_h4_sellers
          in: query
          description: 最大 4 小時賣方數量
          required: false
          schema:
            type: string
        - name: min_h4_buy_volume_in_usd
          in: query
          description: 最小 4 小時買入量（USD 計）
          required: false
          schema:
            type: string
        - name: max_h4_buy_volume_in_usd
          in: query
          description: 最大 4 小時買入量（USD 計）
          required: false
          schema:
            type: string
        - name: min_h4_sell_volume_in_usd
          in: query
          description: 最小 4 小時賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: max_h4_sell_volume_in_usd
          in: query
          description: 最大 4 小時賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: min_h1_volume_in_usd
          in: query
          description: 最小 1 小時交易量（USD 計）
          required: false
          schema:
            type: string
        - name: max_h1_volume_in_usd
          in: query
          description: 最大 1 小時交易量（USD 計）
          required: false
          schema:
            type: string
        - name: min_h1_price_change_ratio
          in: query
          description: 最小 1 小時價格變化率
          required: false
          schema:
            type: string
        - name: max_h1_price_change_ratio
          in: query
          description: 最大 1 小時價格變化率
          required: false
          schema:
            type: string
        - name: min_h1_buys
          in: query
          description: 最小 1 小時買入次數
          required: false
          schema:
            type: string
        - name: max_h1_buys
          in: query
          description: 最大 1 小時買入次數
          required: false
          schema:
            type: string
        - name: min_h1_sells
          in: query
          description: 最小 1 小時賣出次數
          required: false
          schema:
            type: string
        - name: max_h1_sells
          in: query
          description: 最大 1 小時賣出次數
          required: false
          schema:
            type: string
        - name: min_h1_trades
          in: query
          description: 最小 1 小時交易次數
          required: false
          schema:
            type: string
        - name: max_h1_trades
          in: query
          description: 最大 1 小時交易次數
          required: false
          schema:
            type: string
        - name: min_h1_buyers
          in: query
          description: 最小 1 小時買方數量
          required: false
          schema:
            type: string
        - name: max_h1_buyers
          in: query
          description: 最大 1 小時買方數量
          required: false
          schema:
            type: string
        - name: min_h1_sellers
          in: query
          description: 最小 1 小時賣方數量
          required: false
          schema:
            type: string
        - name: max_h1_sellers
          in: query
          description: 最大 1 小時賣方數量
          required: false
          schema:
            type: string
        - name: min_h1_buy_volume_in_usd
          in: query
          description: 最小 1 小時買入量（USD 計）
          required: false
          schema:
            type: string
        - name: max_h1_buy_volume_in_usd
          in: query
          description: 最大 1 小時買入量（USD 計）
          required: false
          schema:
            type: string
        - name: min_h1_sell_volume_in_usd
          in: query
          description: 最小 1 小時賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: max_h1_sell_volume_in_usd
          in: query
          description: 最大 1 小時賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m30_volume_in_usd
          in: query
          description: 最小 30 分鐘交易量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m30_volume_in_usd
          in: query
          description: 最大 30 分鐘交易量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m30_price_change_ratio
          in: query
          description: 最小 30 分鐘價格變化率
          required: false
          schema:
            type: string
        - name: max_m30_price_change_ratio
          in: query
          description: 最大 30 分鐘價格變化率
          required: false
          schema:
            type: string
        - name: min_m30_buys
          in: query
          description: 最小 30 分鐘買入次數
          required: false
          schema:
            type: string
        - name: max_m30_buys
          in: query
          description: 最大 30 分鐘買入次數
          required: false
          schema:
            type: string
        - name: min_m30_sells
          in: query
          description: 最小 30 分鐘賣出次數
          required: false
          schema:
            type: string
        - name: max_m30_sells
          in: query
          description: 最大 30 分鐘賣出次數
          required: false
          schema:
            type: string
        - name: min_m30_trades
          in: query
          description: 最小 30 分鐘交易次數
          required: false
          schema:
            type: string
        - name: max_m30_trades
          in: query
          description: 最大 30 分鐘交易次數
          required: false
          schema:
            type: string
        - name: min_m30_buyers
          in: query
          description: 最小 30 分鐘買方數量
          required: false
          schema:
            type: string
        - name: max_m30_buyers
          in: query
          description: 最大 30 分鐘買方數量
          required: false
          schema:
            type: string
        - name: min_m30_sellers
          in: query
          description: 最小 30 分鐘賣方數量
          required: false
          schema:
            type: string
        - name: max_m30_sellers
          in: query
          description: 最大 30 分鐘賣方數量
          required: false
          schema:
            type: string
        - name: min_m30_buy_volume_in_usd
          in: query
          description: 最小 30 分鐘買入量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m30_buy_volume_in_usd
          in: query
          description: 最大 30 分鐘買入量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m30_sell_volume_in_usd
          in: query
          description: 最小 30 分鐘賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m30_sell_volume_in_usd
          in: query
          description: 最大 30 分鐘賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m15_volume_in_usd
          in: query
          description: 最小 15 分鐘交易量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m15_volume_in_usd
          in: query
          description: 最大 15 分鐘交易量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m15_price_change_ratio
          in: query
          description: 最小 15 分鐘價格變化率
          required: false
          schema:
            type: string
        - name: max_m15_price_change_ratio
          in: query
          description: 最大 15 分鐘價格變化率
          required: false
          schema:
            type: string
        - name: min_m15_buys
          in: query
          description: 最小 15 分鐘買入次數
          required: false
          schema:
            type: string
        - name: max_m15_buys
          in: query
          description: 最大 15 分鐘買入次數
          required: false
          schema:
            type: string
        - name: min_m15_sells
          in: query
          description: 最小 15 分鐘賣出次數
          required: false
          schema:
            type: string
        - name: max_m15_sells
          in: query
          description: 最大 15 分鐘賣出次數
          required: false
          schema:
            type: string
        - name: min_m15_trades
          in: query
          description: 最小 15 分鐘交易次數
          required: false
          schema:
            type: string
        - name: max_m15_trades
          in: query
          description: 最大 15 分鐘交易次數
          required: false
          schema:
            type: string
        - name: min_m15_buyers
          in: query
          description: 最小 15 分鐘買方數量
          required: false
          schema:
            type: string
        - name: max_m15_buyers
          in: query
          description: 最大 15 分鐘買方數量
          required: false
          schema:
            type: string
        - name: min_m15_sellers
          in: query
          description: 最小 15 分鐘賣方數量
          required: false
          schema:
            type: string
        - name: max_m15_sellers
          in: query
          description: 最大 15 分鐘賣方數量
          required: false
          schema:
            type: string
        - name: min_m15_buy_volume_in_usd
          in: query
          description: 最小 15 分鐘買入量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m15_buy_volume_in_usd
          in: query
          description: 最大 15 分鐘買入量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m15_sell_volume_in_usd
          in: query
          description: 最小 15 分鐘賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m15_sell_volume_in_usd
          in: query
          description: 最大 15 分鐘賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m5_volume_in_usd
          in: query
          description: 最小 5 分鐘交易量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m5_volume_in_usd
          in: query
          description: 最大 5 分鐘交易量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m5_price_change_ratio
          in: query
          description: 最小 5 分鐘價格變化率
          required: false
          schema:
            type: string
        - name: max_m5_price_change_ratio
          in: query
          description: 最大 5 分鐘價格變化率
          required: false
          schema:
            type: string
        - name: min_m5_buys
          in: query
          description: 最小 5 分鐘買入次數
          required: false
          schema:
            type: string
        - name: max_m5_buys
          in: query
          description: 最大 5 分鐘買入次數
          required: false
          schema:
            type: string
        - name: min_m5_sells
          in: query
          description: 最小 5 分鐘賣出次數
          required: false
          schema:
            type: string
        - name: max_m5_sells
          in: query
          description: 最大 5 分鐘賣出次數
          required: false
          schema:
            type: string
        - name: min_m5_trades
          in: query
          description: 最小 5 分鐘交易次數
          required: false
          schema:
            type: string
        - name: max_m5_trades
          in: query
          description: 最大 5 分鐘交易次數
          required: false
          schema:
            type: string
        - name: min_m5_buyers
          in: query
          description: 最小 5 分鐘買方數量
          required: false
          schema:
            type: string
        - name: max_m5_buyers
          in: query
          description: 最大 5 分鐘買方數量
          required: false
          schema:
            type: string
        - name: min_m5_sellers
          in: query
          description: 最小 5 分鐘賣方數量
          required: false
          schema:
            type: string
        - name: max_m5_sellers
          in: query
          description: 最大 5 分鐘賣方數量
          required: false
          schema:
            type: string
        - name: min_m5_buy_volume_in_usd
          in: query
          description: 最小 5 分鐘買入量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m5_buy_volume_in_usd
          in: query
          description: 最大 5 分鐘買入量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m5_sell_volume_in_usd
          in: query
          description: 最小 5 分鐘賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m5_sell_volume_in_usd
          in: query
          description: 最大 5 分鐘賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m1_volume_in_usd
          in: query
          description: 最小 1 分鐘交易量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m1_volume_in_usd
          in: query
          description: 最大 1 分鐘交易量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m1_price_change_ratio
          in: query
          description: 最小 1 分鐘價格變化率
          required: false
          schema:
            type: string
        - name: max_m1_price_change_ratio
          in: query
          description: 最大 1 分鐘價格變化率
          required: false
          schema:
            type: string
        - name: min_m1_buys
          in: query
          description: 最小 1 分鐘買入次數
          required: false
          schema:
            type: string
        - name: max_m1_buys
          in: query
          description: 最大 1 分鐘買入次數
          required: false
          schema:
            type: string
        - name: min_m1_sells
          in: query
          description: 最小 1 分鐘賣出次數
          required: false
          schema:
            type: string
        - name: max_m1_sells
          in: query
          description: 最大 1 分鐘賣出次數
          required: false
          schema:
            type: string
        - name: min_m1_trades
          in: query
          description: 最小 1 分鐘交易次數
          required: false
          schema:
            type: string
        - name: max_m1_trades
          in: query
          description: 最大 1 分鐘交易次數
          required: false
          schema:
            type: string
        - name: min_m1_buyers
          in: query
          description: 最小 1 分鐘買方數量
          required: false
          schema:
            type: string
        - name: max_m1_buyers
          in: query
          description: 最大 1 分鐘買方數量
          required: false
          schema:
            type: string
        - name: min_m1_sellers
          in: query
          description: 最小 1 分鐘賣方數量
          required: false
          schema:
            type: string
        - name: max_m1_sellers
          in: query
          description: 最大 1 分鐘賣方數量
          required: false
          schema:
            type: string
        - name: min_m1_buy_volume_in_usd
          in: query
          description: 最小 1 分鐘買入量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m1_buy_volume_in_usd
          in: query
          description: 最大 1 分鐘買入量（USD 計）
          required: false
          schema:
            type: string
        - name: min_m1_sell_volume_in_usd
          in: query
          description: 最小 1 分鐘賣出量（USD 計）
          required: false
          schema:
            type: string
        - name: max_m1_sell_volume_in_usd
          in: query
          description: 最大 1 分鐘賣出量（USD 計）
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 取得代幣列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_Token'
  /v2/token/{chain}/marketData/multi:
    get:
      tags:
        - Token
      summary: 代幣 - 市場資料（批次）
      description: 批次取得多個代幣的市場資料
      operationId: get.marketData.multi
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: 代幣地址列表，以逗號 (,) 分隔的字串。最多允許 100 個代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: 批次取得市場資料
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: 代幣市場資料
                  properties:
                    bluechipHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 藍籌錢包持倉佔總供應量比例
                      example: '0.05'
                    bluechipTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 藍籌錢包持有者數量
                      example: '10'
                    bluechipTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 藍籌錢包總持倉量
                      example: '50000'
                    bundleHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 捆綁錢包持倉佔總供應量比例
                      example: '0.018'
                    bundleTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 捆綁錢包持有者數量
                      example: '12'
                    bundleTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 捆綁錢包總持倉量
                      example: '18000'
                    circulatingSupply:
                      type:
                        - string
                        - 'null'
                      description: 代幣流通供應量
                      example: '900000'
                    completionRatio:
                      type:
                        - string
                        - 'null'
                      description: Bonding Curve 完成比例
                      example: '1.0'
                    devHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 開發者持倉佔總供應量比例
                      example: '0.005'
                    devTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 開發者錢包持有者數量
                      example: '3'
                    devTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 開發者錢包總持倉量
                      example: '5000'
                    fdvInSol:
                      type:
                        - string
                        - 'null'
                      description: 完全稀釋估值（原生代幣計）
                      example: '200000'
                    fdvInUsd:
                      type:
                        - string
                        - 'null'
                      description: 完全稀釋估值（USD 計）
                      example: '200000'
                    freshHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 新錢包持倉佔總供應量比例
                      example: '0.01'
                    freshTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 新錢包持有者數量
                      example: '30'
                    freshTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 新錢包總持倉量
                      example: '10000'
                    holders:
                      type:
                        - string
                        - 'null'
                      description: 代幣持有者總數
                      example: '1000'
                    insiderHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 內部人持倉佔總供應量比例
                      example: '0.02'
                    insiderTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 內部人錢包持有者數量
                      example: '5'
                    insiderTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 內部人錢包總持倉量
                      example: '20000'
                    kolHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: KOL 持倉佔總供應量比例
                      example: '0.03'
                    kolTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: KOL（意見領袖）持有者數量
                      example: '20'
                    kolTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: KOL 錢包總持倉量
                      example: '30000'
                    marketCapInSol:
                      type:
                        - string
                        - 'null'
                      description: 市值（原生代幣計）
                      example: '100000'
                    marketCapInUsd:
                      type:
                        - string
                        - 'null'
                      description: 市值（USD 計）
                      example: '100000'
                    maxPoolTvlInSol:
                      type:
                        - string
                        - 'null'
                      description: 最大池子 TVL（原生代幣計）
                      example: '1000.45'
                    maxPoolTvlInUsd:
                      type:
                        - string
                        - 'null'
                      description: 最大池子 TVL（USD 計）
                      example: '150000.00'
                    priceInSol:
                      type:
                        - string
                        - 'null'
                      description: 代幣價格（原生代幣計）
                      example: '0.00000261383847574915906643405542'
                    priceInUsd:
                      type:
                        - string
                        - 'null'
                      description: 代幣價格（USD 計）
                      example: '0.00000261383847574915906643405542'
                    proHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 專業交易者持倉佔總供應量比例
                      example: '0.04'
                    proTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 專業交易者持有者數量
                      example: '25'
                    proTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 專業交易者總持倉量
                      example: '40000'
                    sandwishHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 三明治攻擊持倉佔總供應量比例
                      example: '0.015'
                    sandwishTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 三明治攻擊錢包持有者數量
                      example: '8'
                    sandwishTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 三明治攻擊錢包總持倉量
                      example: '15000'
                    sniperHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 狙擊錢包持倉佔總供應量比例
                      example: '0.025'
                    sniperTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 狙擊錢包持有者數量
                      example: '15'
                    sniperTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 狙擊錢包總持倉量
                      example: '25000'
                    top100HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 前 100 持有者佔總供應量比例
                      example: '0.8'
                    top100TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 前 100 持有者總持倉量
                      example: '800000'
                    top10HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 前 10 持有者佔總供應量比例
                      example: '0.5'
                    top10TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 前 10 持有者總持倉量
                      example: '500000'
                    top50HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 前 50 持有者佔總供應量比例
                      example: '0.3'
                    top50TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 前 50 持有者總持倉量
                      example: '300000'
                    totalSupply:
                      type:
                        - string
                        - 'null'
                      description: 代幣總供應量
                      example: '1000000'
                    totalTvlInSol:
                      type:
                        - string
                        - 'null'
                      description: 總鎖倉量（原生代幣計）
                      example: '1000000.45'
                    totalTvlInUsd:
                      type:
                        - string
                        - 'null'
                      description: 總鎖倉量（USD 計）
                      example: '1000000.45'
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  circulatingSupply: '1000000000'
                  holders: '12345'
                  marketCap: '150000000.00'
                  priceInNative: '0.00005'
                  priceInUsd: '0.15'
                  totalSupply: '1000000000'
  /v2/token/{chain}/metadata/multi:
    get:
      tags:
        - Token
      summary: 代幣 - 元資料（批次）
      description: 批次取得多個代幣的元資料
      operationId: get.metadata.multi
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: 代幣地址列表，以逗號 (,) 分隔的字串。最多允許 100 個代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: 批次取得元資料
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: 代幣元資料
                  required:
                    - address
                    - chain
                    - symbol
                    - name
                    - decimals
                  properties:
                    address:
                      type: string
                      description: 代幣合約地址
                      example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    chain:
                      type: string
                      description: 區塊鏈網路標識
                      example: sol
                    coingeckoCoinId:
                      type:
                        - string
                        - 'null'
                      description: CoinGecko 幣種標識
                      example: usd-coin
                    decimals:
                      type: string
                      description: 小數位數
                      example: '9'
                    description:
                      type:
                        - string
                        - 'null'
                      description: 代幣描述
                      example: USDC is a stablecoin pegged to the US dollar
                    devLastTokenCreatedAt:
                      type:
                        - string
                        - 'null'
                      description: 開發者最近一次建立代幣的時間戳
                      example: 2025-12-03T09:23:34.000Z
                    devTotalTokens:
                      type:
                        - string
                        - 'null'
                      description: 開發者建立的代幣總數
                      example: '163'
                    extra:
                      $ref: '#/components/schemas/TokenExtra'
                      description: 代幣擴充元資料
                    imageUrl:
                      type:
                        - string
                        - 'null'
                      description: 代幣 Logo 圖片 URL
                      example: https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v/logo.png
                    metadataAddress:
                      type:
                        - string
                        - 'null'
                      description: 鏈上元資料帳戶地址
                      example: metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s
                    name:
                      type: string
                      description: 代幣顯示名稱
                      example: USD Coin
                    socialMedias:
                      $ref: '#/components/schemas/TokenSocialMedias'
                      description: 代幣社交媒體連結
                    symbol:
                      type: string
                      description: 代幣代號
                      example: USDC
                    tokenCreatedAt:
                      type:
                        - integer
                        - 'null'
                      format: int64
                      description: 代幣建立時間戳（毫秒）
                      example: 1710417600000
                    tokenCreatedBlockHeight:
                      type:
                        - string
                        - 'null'
                      description: 代幣建立時的區塊高度
                      example: '220000000'
                    tokenCreatedSlot:
                      type:
                        - string
                        - 'null'
                      description: 代幣建立時的 Slot 編號
                      example: '230000000'
                    tokenCreatedTxSignature:
                      type:
                        - string
                        - 'null'
                      description: 代幣建立交易簽名
                      example: 5dJ1BxPiFT7w7aBdkxNy2jopGZnZoLwRwS8e9GkEXrVz...
                    tokenCreators:
                      type: array
                      items:
                        $ref: '#/components/schemas/TokenCreator'
                      description: 代幣建立者列表
                    updatedAt:
                      type:
                        - string
                        - 'null'
                      description: 最後更新時間戳
                      example: 2026-02-09T08:05:12.345Z
                    uri:
                      type:
                        - string
                        - 'null'
                      description: 代幣元資料 URI
                      example: https://arweave.net/abc123
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  address: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                  chain: sol
                  decimals: '9'
                  imageUrl: https://example.com/sol.png
                  name: Solana
                  symbol: SOL
  /v2/token/{chain}/multi:
    get:
      tags:
        - Token
      summary: 代幣 - 詳情（批次）
      description: 批次取得代幣詳情
      operationId: get.tokens
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: 代幣地址列表，以逗號 (,) 分隔的字串。最多允許 100 個代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: sortBy
          in: query
          description: 排序欄位
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: 排序方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: filterBy
          in: query
          description: DTO.TOKEN.REQUEST.FILTER_BY（篩選條件的 JSON 陣列）
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 取得代幣
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/token/{chain}/pair/{pair}/candles:
    get:
      tags:
        - Token
      summary: 交易對 - K 線
      description: 取得交易對的 OHLCV K 線資料（格式：TOKEN_A_ADDRESS-TOKEN_B_ADDRESS）
      operationId: get.pair.candles
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: pair
          in: path
          description: 交易對標識符（格式：TOKEN_A_ADDRESS-TOKEN_B_ADDRESS）。交易對會自動排序
          required: true
          schema:
            type: string
          example: 9BB6NFEcjBCtnNLFko2FqVQBq8HHM13kCyYcdQbgpump-EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: resolution
          in: query
          description: K 線資料的時間粒度
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: 價格類型：usd（預設）或原生代幣價格
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: 開始時間戳（Unix 秒級時間戳）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: 結束時間戳（Unix 秒級時間戳）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: 回傳的 K 線數量
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: 取得交易對 K 線
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/pool/{poolAddress}/candles:
    get:
      tags:
        - Token
      summary: 池子 - K 線
      description: 取得特定流動性池子的 OHLCV K 線資料
      operationId: get.pool.candles
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: 池子地址
          required: true
          schema:
            type: string
          example: 8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj
        - name: resolution
          in: query
          description: K 線資料的時間粒度
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: 價格類型：usd（預設）或原生代幣價格
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: 開始時間戳（Unix 秒級時間戳）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: 結束時間戳（Unix 秒級時間戳）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: 回傳的 K 線數量
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: 取得池子 K 線
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/stats/multi:
    get:
      tags:
        - Token
      summary: 代幣 - 統計（批次）
      description: 批次取得多個代幣的統計資料
      operationId: get.stats.multi
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: 代幣地址列表，以逗號 (,) 分隔的字串。最多允許 100 個代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: 批次取得統計
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: 包含巢狀時間段資料的代幣統計
                  required:
                    - address
                    - periods
                  properties:
                    address:
                      type: string
                      description: 代幣合約地址
                      example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    periods:
                      type: object
                      description: |-
                        依時間週期（1m、5m、15m、30m、1h、4h、24h）彙總的交易統計。
                        每個週期包含完整 OHLCV 資料、交易筆數，以及與前一週期的比較。
                        完整欄位請參見 `TokenTradeStatPeriod` schema。
                      additionalProperties:
                        $ref: '#/components/schemas/TokenTradeStatPeriod'
                      propertyNames:
                        type: string
                      example:
                        24h:
                          buyVolumeInUsd: '45000.00'
                          buyers: '320'
                          buys: '1520'
                          closeInUsd: '0.15600000'
                          currentLiquidityInUsd: '250000.00'
                          highInUsd: '0.15900000'
                          lowInUsd: '0.15000000'
                          openInUsd: '0.15000000'
                          priceChangeRatioInUsd: '0.04000000'
                          sellVolumeInUsd: '36000.00'
                          sellers: '210'
                          sells: '980'
                          totalVolumeInUsd: '81000.00'
                          traders: '530'
                          trades: '2500'
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  address: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                  periods:
                    24h:
                      buyVolume: '15000000.12345678'
                      buyVolumeInUsd: '45000.00'
                      buyers: '320'
                      buys: '1520'
                      closeInUsd: '0.15600000'
                      highInUsd: '0.15900000'
                      lowInUsd: '0.15000000'
                      openInUsd: '0.15000000'
                      priceChangeRatioInUsd: '0.04000000'
                      sellVolume: '12000000.98765432'
                      sellVolumeInUsd: '36000.00'
                      sellers: '210'
                      sells: '980'
                      totalVolumeInUsd: '81000.00'
                      traders: '530'
                      trades: '2500'
  /v2/token/{chain}/{tokenAddress}:
    get:
      tags:
        - Token
      summary: 代幣 - 詳情
      description: 取得代幣詳情
      operationId: get.token
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
  /v2/token/{chain}/{tokenAddress}/candles:
    get:
      tags:
        - Token
      summary: 代幣 - K 線
      description: 取得代幣價格 K 線資料
      operationId: get.candles
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
        - name: resolution
          in: query
          description: K 線資料的時間粒度
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: 價格類型：usd（預設）或原生代幣價格
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: 開始時間戳（Unix 秒級時間戳）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: 結束時間戳（Unix 秒級時間戳）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: 回傳的 K 線數量
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: 取得 K 線
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/{tokenAddress}/creation:
    get:
      tags:
        - Token
      summary: 代幣 - 建立資訊
      description: 取得代幣建立資訊
      operationId: get.creation
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 取得建立資訊
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenCreation'
  /v2/token/{chain}/{tokenAddress}/holders:
    get:
      tags:
        - Token
      summary: 代幣 - 持有者
      description: 取得代幣持有者列表
      operationId: get.holders
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 每頁回傳結果數量
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 分頁方向（next 或 prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 取得持有者
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_TokenHolder'
  /v2/token/{chain}/{tokenAddress}/holders/multi:
    get:
      tags:
        - Token
      summary: 代幣 - 持有者（批次）
      description: 批次取得多個錢包地址的持有資訊
      operationId: get.holders.multi
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
        - name: walletAddresses
          in: query
          description: 錢包地址列表，以逗號 (,) 分隔的字串。最多允許 100 個錢包地址
          required: true
          schema:
            type: string
          example: MJKqp326RZCHnAAbew9MDdui3iCKWco7fsK9sVuZTX2,2RH6rUTPBJ9rUDPpuV9b8z1YL56k1tYU6Uk5ZoaEFFSK
      responses:
        '200':
          description: 批次取得持有者
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenHolder'
  /v2/token/{chain}/{tokenAddress}/liquiditySnapshots:
    get:
      tags:
        - Token
      summary: 代幣 - 流動性快照
      description: 取得代幣的歷史流動性快照。如果提供了時間參數，將回傳該時間點之前或當時最近的快照
      operationId: get.token.liquidity.snapshots
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 代幣地址
          required: true
          schema:
            type: string
          example: 113FvWQTBC7CXtgSvzfxRSedwVkLbmD8WfAjFrbpump
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 每頁回傳結果數量
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 分頁方向（next 或 prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: time
          in: query
          description: 流動性快照查詢的目標 Unix 時間戳
          required: false
          schema:
            type: integer
            format: int64
          example: 1770336000000
      responses:
        '200':
          description: 取得流動性快照
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_TokenLiquiditySnapshot'
  /v2/token/{chain}/{tokenAddress}/marketData:
    get:
      tags:
        - Token
      summary: 代幣 - 市值
      description: 取得代幣市值
      operationId: get.marketData
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 取得市值
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenMarketData'
  /v2/token/{chain}/{tokenAddress}/metadata:
    get:
      tags:
        - Token
      summary: 代幣 - 元資料
      description: 取得代幣元資料
      operationId: get.metadata
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 代幣地址
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 取得元資料
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenMetadata'
  /v2/token/{chain}/{tokenAddress}/mintAndBurn:
    get:
      tags:
        - Token
      summary: 代幣 - 鑄造和銷毀
      description: 取得代幣的鑄造和銷毀資訊
      operationId: get.mint.and.burn
      parameters:
        - name: chain
          in: path
          description: 支援網路列表中的鏈名稱
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: 代幣地址
          required: true
          schema:
            type: string
          example: FZN7QZ8ZUUAxMPfxYEYkH3cXUASzH8EqA6B4tyCL8f1j
        - name: cursor
          in: query
          description: 分頁游標
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: 每頁回傳結果數量
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: 分頁方向（next 或 prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: type
          in: query
          description: 鑄造和銷毀操作的篩選類型
          required: false
          schema:
            $ref: '#/components/schemas/MintBurnType'
          example: all
      responses:
        '200':
          description: 取得鑄造和銷毀
          content:
            application/json:
              schema:
[...]
