openapi: 3.1.0
info:
  title: Data Services API
  description: Data Services API
  contact:
    name: AI
    email: ai@sx.ai
  license:
    name: MIT
  version: '1.0'
servers:
  - url: https://api.chainstream.io
    description: Production
paths:
  /v2/blockchain:
    get:
      tags:
        - Blockchain
      summary: Blockchain - List
      description: Get list of supported blockchains
      operationId: get.supported.blockchains
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Blockchain'
  /v2/blockchain/{chain}/latest_block:
    get:
      tags:
        - Blockchain
      summary: Blockchain - Latest Block
      description: Get the latest block information for a specific blockchain
      operationId: get.latest.block
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainLatestBlock'
  /v2/dex:
    get:
      tags:
        - Dex
      summary: Dex - List
      description: Obtain information about all DEXs on a specified blockchain.
      operationId: list.dex
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: Pagination direction (next or prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: chains
          in: query
          description: Filter by blockchain networks
          required: false
          schema:
            type: array
            items:
              type: string
          example: sol
        - name: dexProgram
          in: query
          description: Filter by DEX program address
          required: false
          schema:
            type: string
          example: whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_Dex'
  /v2/dexpools/{chain}/{poolAddress}:
    get:
      tags:
        - DexPool
      summary: DexPool - Detail
      description: Retrieve detailed information about a specific DEX pool
      operationId: get.dexpool
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: A pool address
          required: true
          schema:
            type: string
          example: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/DexPoolDetail'
              example:
                chain: sol
                createdBlockTimestamp: 2024-01-15T10:30:00Z
                feeRate: '0.003'
                image: https://ipfs.io/ipfs/bafkreid7667676767676767676767676767676767676767676767676767676767676767
                liquidityModel: 1
                poolAddress: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
                programAddress: whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc
                protocolFamily: OrcaWhirpool
                protocolName: OrcaWhirpool AMM V2
                tickSpacing: 64
                tokenAAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                tokenALiquidity:
                  amountInNative: '5000.123'
                  amountInUsd: '1000000.45'
                  decimals: 6
                  priceNative: '0.005'
                  priceUsd: '1.0001'
                  tokenAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                  vaultAmount: '1000000000000'
                tokenBAddress: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
                tokenBLiquidity:
                  amountInNative: '5000.123'
                  amountInUsd: '1000000.45'
                  decimals: 6
                  priceNative: '0.005'
                  priceUsd: '1.0001'
                  tokenAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                  vaultAmount: '1000000000000'
                tokenCount: 2
                tvlInSol: '1000000.45'
                tvlInUsd: '1000000.45'
                type: 1
                version: 2
  /v2/dexpools/{chain}/{poolAddress}/snapshots:
    get:
      tags:
        - DexPool
      summary: DexPool - Liquidity Snapshots
      description: Retrieve historical liquidity snapshots for a specific pool. If a time parameter is provided, returns the nearest snapshot before or at that time.
      operationId: get.dexpool.snapshots
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: A pool address
          required: true
          schema:
            type: string
          example: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: Pagination direction (next or prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: time
          in: query
          description: Target Unix timestamp for snapshot query
          required: false
          schema:
            type: integer
            format: int64
          example: 1705312800000
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_DexPoolSnapshot'
  /v2/ipfs/presign:
    post:
      tags:
        - IPFS
      summary: IPFS - Presign
      description: Create a Presign URL for IPFS content
      operationId: presign
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignResponse'
  /v2/kyt/address:
    post:
      tags:
        - KYT
      summary: KYT - Register Address
      description: Register an address for KYT monitoring
      operationId: register.address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterAddressInput'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytRegisterAddressResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/addresses/{address}/risk:
    get:
      tags:
        - KYT
      summary: KYT - Get Address Risk
      description: Retrieve risk assessment for a registered address
      operationId: get.address.risk
      parameters:
        - name: address
          in: path
          description: Address
          required: true
          schema:
            type: string
          example: 1.2638660031056791e+45
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAddressRiskResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfer:
    post:
      tags:
        - KYT
      summary: KYT - Register Transfer
      description: Register a transfer for KYT (Know Your Transaction) analysis
      operationId: register.transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterTransferInput'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytTransferBaseResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/alerts:
    get:
      tags:
        - KYT
      summary: KYT - Get Transfer Alerts
      description: Retrieve alerts associated with a transfer
      operationId: get.transfer.alerts
      parameters:
        - name: transferId
          in: path
          description: Transfer ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAlertsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/exposures/direct:
    get:
      tags:
        - KYT
      summary: KYT - Get Transfer Direct Exposure
      description: Get direct exposure information for a transfer
      operationId: get.transfer.direct.exposure
      parameters:
        - name: transferId
          in: path
          description: Transfer ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytDirectExposureResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/network-identifications:
    get:
      tags:
        - KYT
      summary: KYT - Get Transfer Network Identifications
      description: Get network identifications for a transfer
      operationId: get.transfer.network.identifications
      parameters:
        - name: transferId
          in: path
          description: Transfer ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytNetworkIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/summary:
    get:
      tags:
        - KYT
      summary: KYT - Get Transfer Summary
      description: Retrieve summary information for a registered transfer
      operationId: get.transfer.summary
      parameters:
        - name: transferId
          in: path
          description: Transfer ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytTransferBaseResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal:
    post:
      tags:
        - KYT
      summary: KYT - Register Withdrawal
      description: Register a withdrawal for KYT (Know Your Transaction) analysis
      operationId: register.withdrawal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterWithdrawalInput'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalBaseResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/address-identifications:
    get:
      tags:
        - KYT
      summary: KYT - Get Withdrawal Address Identifications
      description: Get address identifications for a withdrawal
      operationId: get.withdrawal.address.identifications
      parameters:
        - name: withdrawalId
          in: path
          description: Withdrawal ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalAddressIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/alerts:
    get:
      tags:
        - KYT
      summary: KYT - Get Withdrawal Alerts
      description: Retrieve alerts associated with a withdrawal
      operationId: get.withdrawal.alerts
      parameters:
        - name: withdrawalId
          in: path
          description: Withdrawal ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAlertsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/exposures/direct:
    get:
      tags:
        - KYT
      summary: KYT - Get Withdrawal Direct Exposure
      description: Get direct exposure information for a withdrawal
      operationId: get.withdrawal.direct.exposure
      parameters:
        - name: withdrawalId
          in: path
          description: Withdrawal ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytDirectExposureResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/fraud-assessment:
    get:
      tags:
        - KYT
      summary: KYT - Get Withdrawal Fraud Assessment
      description: Get fraud assessment results for a withdrawal
      operationId: get.withdrawal.fraud.assessment
      parameters:
        - name: withdrawalId
          in: path
          description: Withdrawal ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytFraudAssessmentResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/network-identifications:
    get:
      tags:
        - KYT
      summary: KYT - Get Withdrawal Network Identifications
      description: Get network identifications for a withdrawal
      operationId: get.withdrawal.network.identifications
      parameters:
        - name: withdrawalId
          in: path
          description: Withdrawal ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytNetworkIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/summary:
    get:
      tags:
        - KYT
      summary: KYT - Get Withdrawal Summary
      description: Retrieve summary information for a registered withdrawal
      operationId: get.withdrawal.summary
      parameters:
        - name: withdrawalId
          in: path
          description: Withdrawal ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalBaseResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/ranking/{chain}/finalStretch:
    get:
      tags:
        - Ranking
      summary: Ranking - FinalStretch Tokens
      description: Return the finalStretch tokens
      operationId: get.finalStretch.tokens
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: Sort field
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: Sort Direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: Ranking tag filter
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: Filter field
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: Filters
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: Launchpad Platform
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: Search Keywords
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: Exclude Keywords
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/hotTokens/{duration}:
    get:
      tags:
        - Ranking
      summary: Ranking - Hot Tokens
      description: Retrieve a list of trending tokens
      operationId: get.hot.tokens
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: duration
          in: path
          description: Duration of the ranking
          required: true
          schema:
            $ref: '#/components/schemas/RankingDuration'
          example: 24h
        - name: sortBy
          in: query
          description: Sort field
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: Sort Direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: Ranking tag filter
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: Filter field
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: Filters
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: Launchpad Platform
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: Search Keywords
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: Exclude Keywords
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/migrated:
    get:
      tags:
        - Ranking
      summary: Ranking - Migrated Tokens
      description: Return the migrated tokens
      operationId: get.migrated.tokens
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: Sort field
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: Sort Direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: Ranking tag filter
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: Filter field
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: Filters
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: Launchpad Platform
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: Search Keywords
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: Exclude Keywords
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/newTokens:
    get:
      tags:
        - Ranking
      summary: Ranking - New Tokens
      description: Return the latest 100 tokens
      operationId: get.new.tokens
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: Sort field
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: Sort Direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: Ranking tag filter
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: Filter field
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: Filters
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: Launchpad Platform
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: Search Keywords
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: Exclude Keywords
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/stocks:
    get:
      tags:
        - Ranking
      summary: Ranking - Stocks Tokens
      description: Return the stocks tokens
      operationId: get.stocks.tokens
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: Sort field
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: Sort Direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: Ranking tag filter
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: Filter field
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: Filters
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: Launchpad Platform
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: Search Keywords
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: Exclude Keywords
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/redpacket:
    get:
      tags:
        - RedPacket
      summary: RedPacket - GetRedpackets
      description: Get the redpackets list
      operationId: get.redpackets
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: Pagination direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: creator
          in: query
          description: Creator wallet address
          required: false
          schema:
            type: string
          example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: chain
          in: query
          description: Blockchain network for the red packet
          required: false
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketsPage'
  /v2/redpacket/wallet/{address}/claims:
    get:
      tags:
        - RedPacket
      summary: RedPacket - GetClaimsByAddress
      description: Check the record of redpacket collection by the claimer address
      operationId: get.claims.by.address
      parameters:
        - name: address
          in: path
          description: An address of a wallet
          required: true
          schema:
            type: string
          example: 3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: Pagination direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketClaimsPage'
  /v2/redpacket/wallet/{address}/redpackets:
    get:
      tags:
        - RedPacket
      summary: RedPacket - GetRedpacketsByAddress
      description: Get the redpackets list by the creator address
      operationId: get.redpackets.by.address
      parameters:
        - name: address
          in: path
          description: An address of a wallet
          required: true
          schema:
            type: string
          example: 3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: Pagination direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketsPage'
  /v2/redpacket/{chain}/claim:
    post:
      tags:
        - RedPacket
      summary: RedPacket - Claim
      description: Claim tokens from an existing red packet
      operationId: claim.redpacket
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimRedPacketRequest'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimRedPacketResponse'
  /v2/redpacket/{chain}/create:
    post:
      tags:
        - RedPacket
      summary: RedPacket - Create
      description: Create a new red packet with specified amount and quantity
      operationId: create.redpacket
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRedPacketRequest'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRedPacketResponse'
  /v2/redpacket/{chain}/send:
    post:
      tags:
        - RedPacket
      summary: RedPacket - Send
      description: Transactions related to redpacket
      operationId: redpacket.send
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedPacketSendTxRequest'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketSendTxResponse'
  /v2/redpacket/{id}:
    get:
      tags:
        - RedPacket
      summary: RedPacket - Get
      description: Query redpacket information
      operationId: get.redpacket
      parameters:
        - name: id
          in: path
          description: Red packet identifier
          required: true
          schema:
            type: string
          example: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacket'
  /v2/redpacket/{id}/claims:
    get:
      tags:
        - RedPacket
      summary: RedPacket - GetClaims
      description: Check the record of redpacket collection
      operationId: get.claims
      parameters:
        - name: id
          in: path
          description: Red packet identifier
          required: true
          schema:
            type: string
          example: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: Pagination direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketClaimsPage'
  /v2/token/search:
    get:
      tags:
        - Token
      summary: Token - Search
      description: Search tokens by name, symbol or address
      operationId: search
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: Pagination direction (next or prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: chains
          in: query
          description: Chain filter
          required: false
          schema:
            type: array
            items:
              type: string
          example: sol
        - name: q
          in: query
          description: Search query string for token name, symbol or address
          required: false
          schema:
            type: string
          example: USDC
        - name: sort
          in: query
          description: Sort direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: protocols
          in: query
          description: Protocol filter
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium
        - name: sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            $ref: '#/components/schemas/SearchSortBy'
          example: priceInUsd
        - name: mode
          in: query
          description: 'Search mode: fast (default, returns basic fields) or normal (returns full token details)'
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SearchMode'
            default: fast
          example: fast
      responses:
        '200':
          description: Search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPage'
  /v2/token/{chain}/dev/{devAddress}/tokens:
    get:
      tags:
        - Token
      summary: Token - Get Dev Tokens
      description: Retrieve all tokens created by a specific developer address
      operationId: get.dev.tokens
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: devAddress
          in: path
          description: An address of a user
          required: true
          schema:
            type: string
          example: 3NUHqNG2Big2WxbYnaBzSNmxwE4NrxgckJuoiyGxu3Am
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: Pagination direction (next or prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: Get Dev Tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_DevToken'
  /v2/token/{chain}/list:
    get:
      tags:
        - Token
      summary: Token - List (Filtered)
      description: Get filtered token list with range conditions
      operationId: list.token
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: Pagination direction (next or prev)
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: sort
          in: query
          description: Sort direction (asc or desc)
          required: false
          schema:
            $ref: '#/components/schemas/SortDirection'
          example: desc
        - name: sortBy
          in: query
          description: Sort by field
          required: false
          schema:
            $ref: '#/components/schemas/TokenListSortField'
          example: h24VolumeInUsd
        - name: min_h24_volume_in_usd
          in: query
          description: Minimum 24h volume in USD
          required: false
          schema:
            type: string
        - name: max_h24_volume_in_usd
          in: query
          description: Maximum 24h volume in USD
          required: false
          schema:
            type: string
        - name: min_h24_price_change_ratio
          in: query
          description: Minimum 24h price change ratio
          required: false
          schema:
            type: string
        - name: max_h24_price_change_ratio
          in: query
          description: Maximum 24h price change ratio
          required: false
          schema:
            type: string
        - name: min_h24_buys
          in: query
          description: Minimum 24h buy count
          required: false
          schema:
            type: string
        - name: max_h24_buys
          in: query
          description: Maximum 24h buy count
          required: false
          schema:
            type: string
        - name: min_h24_sells
          in: query
          description: Minimum 24h sell count
          required: false
          schema:
            type: string
        - name: max_h24_sells
          in: query
          description: Maximum 24h sell count
          required: false
          schema:
            type: string
        - name: min_h24_trades
          in: query
          description: Minimum 24h trade count
          required: false
          schema:
            type: string
        - name: max_h24_trades
          in: query
          description: Maximum 24h trade count
          required: false
          schema:
            type: string
        - name: min_h24_buyers
          in: query
          description: Minimum 24h buyer count
          required: false
          schema:
            type: string
        - name: max_h24_buyers
          in: query
          description: Maximum 24h buyer count
          required: false
          schema:
            type: string
        - name: min_h24_sellers
          in: query
          description: Minimum 24h seller count
          required: false
          schema:
            type: string
        - name: max_h24_sellers
          in: query
          description: Maximum 24h seller count
          required: false
          schema:
            type: string
        - name: min_h24_buy_volume_in_usd
          in: query
          description: Minimum 24h buy volume in USD
          required: false
          schema:
            type: string
        - name: max_h24_buy_volume_in_usd
          in: query
          description: Maximum 24h buy volume in USD
          required: false
          schema:
            type: string
        - name: min_h24_sell_volume_in_usd
          in: query
          description: Minimum 24h sell volume in USD
          required: false
          schema:
            type: string
        - name: max_h24_sell_volume_in_usd
          in: query
          description: Maximum 24h sell volume in USD
          required: false
          schema:
            type: string
        - name: min_h4_volume_in_usd
          in: query
          description: Minimum 4h volume in USD
          required: false
          schema:
            type: string
        - name: max_h4_volume_in_usd
          in: query
          description: Maximum 4h volume in USD
          required: false
          schema:
            type: string
        - name: min_h4_price_change_ratio
          in: query
          description: Minimum 4h price change ratio
          required: false
          schema:
            type: string
        - name: max_h4_price_change_ratio
          in: query
          description: Maximum 4h price change ratio
          required: false
          schema:
            type: string
        - name: min_h4_buys
          in: query
          description: Minimum 4h buy count
          required: false
          schema:
            type: string
        - name: max_h4_buys
          in: query
          description: Maximum 4h buy count
          required: false
          schema:
            type: string
        - name: min_h4_sells
          in: query
          description: Minimum 4h sell count
          required: false
          schema:
            type: string
        - name: max_h4_sells
          in: query
          description: Maximum 4h sell count
          required: false
          schema:
            type: string
        - name: min_h4_trades
          in: query
          description: Minimum 4h trade count
          required: false
          schema:
            type: string
        - name: max_h4_trades
          in: query
          description: Maximum 4h trade count
          required: false
          schema:
            type: string
        - name: min_h4_buyers
          in: query
          description: Minimum 4h buyer count
          required: false
          schema:
            type: string
        - name: max_h4_buyers
          in: query
          description: Maximum 4h buyer count
          required: false
          schema:
            type: string
        - name: min_h4_sellers
          in: query
          description: Minimum 4h seller count
          required: false
          schema:
            type: string
        - name: max_h4_sellers
          in: query
          description: Maximum 4h seller count
          required: false
          schema:
            type: string
        - name: min_h4_buy_volume_in_usd
          in: query
          description: Minimum 4h buy volume in USD
          required: false
          schema:
            type: string
        - name: max_h4_buy_volume_in_usd
          in: query
          description: Maximum 4h buy volume in USD
          required: false
          schema:
            type: string
        - name: min_h4_sell_volume_in_usd
          in: query
          description: Minimum 4h sell volume in USD
          required: false
          schema:
            type: string
        - name: max_h4_sell_volume_in_usd
          in: query
          description: Maximum 4h sell volume in USD
          required: false
          schema:
            type: string
        - name: min_h1_volume_in_usd
          in: query
          description: Minimum 1h volume in USD
          required: false
          schema:
            type: string
        - name: max_h1_volume_in_usd
          in: query
          description: Maximum 1h volume in USD
          required: false
          schema:
            type: string
        - name: min_h1_price_change_ratio
          in: query
          description: Minimum 1h price change ratio
          required: false
          schema:
            type: string
        - name: max_h1_price_change_ratio
          in: query
          description: Maximum 1h price change ratio
          required: false
          schema:
            type: string
        - name: min_h1_buys
          in: query
          description: Minimum 1h buy count
          required: false
          schema:
            type: string
        - name: max_h1_buys
          in: query
          description: Maximum 1h buy count
          required: false
          schema:
            type: string
        - name: min_h1_sells
          in: query
          description: Minimum 1h sell count
          required: false
          schema:
            type: string
        - name: max_h1_sells
          in: query
          description: Maximum 1h sell count
          required: false
          schema:
            type: string
        - name: min_h1_trades
          in: query
          description: Minimum 1h trade count
          required: false
          schema:
            type: string
        - name: max_h1_trades
          in: query
          description: Maximum 1h trade count
          required: false
          schema:
            type: string
        - name: min_h1_buyers
          in: query
          description: Minimum 1h buyer count
          required: false
          schema:
            type: string
        - name: max_h1_buyers
          in: query
          description: Maximum 1h buyer count
          required: false
          schema:
            type: string
        - name: min_h1_sellers
          in: query
          description: Minimum 1h seller count
          required: false
          schema:
            type: string
        - name: max_h1_sellers
          in: query
          description: Maximum 1h seller count
          required: false
          schema:
            type: string
        - name: min_h1_buy_volume_in_usd
          in: query
          description: Minimum 1h buy volume in USD
          required: false
          schema:
            type: string
        - name: max_h1_buy_volume_in_usd
          in: query
          description: Maximum 1h buy volume in USD
          required: false
          schema:
            type: string
        - name: min_h1_sell_volume_in_usd
          in: query
          description: Minimum 1h sell volume in USD
          required: false
          schema:
            type: string
        - name: max_h1_sell_volume_in_usd
          in: query
          description: Maximum 1h sell volume in USD
          required: false
          schema:
            type: string
        - name: min_m30_volume_in_usd
          in: query
          description: Minimum 30min volume in USD
          required: false
          schema:
            type: string
        - name: max_m30_volume_in_usd
          in: query
          description: Maximum 30min volume in USD
          required: false
          schema:
            type: string
        - name: min_m30_price_change_ratio
          in: query
          description: Minimum 30min price change ratio
          required: false
          schema:
            type: string
        - name: max_m30_price_change_ratio
          in: query
          description: Maximum 30min price change ratio
          required: false
          schema:
            type: string
        - name: min_m30_buys
          in: query
          description: Minimum 30min buy count
          required: false
          schema:
            type: string
        - name: max_m30_buys
          in: query
          description: Maximum 30min buy count
          required: false
          schema:
            type: string
        - name: min_m30_sells
          in: query
          description: Minimum 30min sell count
          required: false
          schema:
            type: string
        - name: max_m30_sells
          in: query
          description: Maximum 30min sell count
          required: false
          schema:
            type: string
        - name: min_m30_trades
          in: query
          description: Minimum 30min trade count
          required: false
          schema:
            type: string
        - name: max_m30_trades
          in: query
          description: Maximum 30min trade count
          required: false
          schema:
            type: string
        - name: min_m30_buyers
          in: query
          description: Minimum 30min buyer count
          required: false
          schema:
            type: string
        - name: max_m30_buyers
          in: query
          description: Maximum 30min buyer count
          required: false
          schema:
            type: string
        - name: min_m30_sellers
          in: query
          description: Minimum 30min seller count
          required: false
          schema:
            type: string
        - name: max_m30_sellers
          in: query
          description: Maximum 30min seller count
          required: false
          schema:
            type: string
        - name: min_m30_buy_volume_in_usd
          in: query
          description: Minimum 30min buy volume in USD
          required: false
          schema:
            type: string
        - name: max_m30_buy_volume_in_usd
          in: query
          description: Maximum 30min buy volume in USD
          required: false
          schema:
            type: string
        - name: min_m30_sell_volume_in_usd
          in: query
          description: Minimum 30min sell volume in USD
          required: false
          schema:
            type: string
        - name: max_m30_sell_volume_in_usd
          in: query
          description: Maximum 30min sell volume in USD
          required: false
          schema:
            type: string
        - name: min_m15_volume_in_usd
          in: query
          description: Minimum 15min volume in USD
          required: false
          schema:
            type: string
        - name: max_m15_volume_in_usd
          in: query
          description: Maximum 15min volume in USD
          required: false
          schema:
            type: string
        - name: min_m15_price_change_ratio
          in: query
          description: Minimum 15min price change ratio
          required: false
          schema:
            type: string
        - name: max_m15_price_change_ratio
          in: query
          description: Maximum 15min price change ratio
          required: false
          schema:
            type: string
        - name: min_m15_buys
          in: query
          description: Minimum 15min buy count
          required: false
          schema:
            type: string
        - name: max_m15_buys
          in: query
          description: Maximum 15min buy count
          required: false
          schema:
            type: string
        - name: min_m15_sells
          in: query
          description: Minimum 15min sell count
          required: false
          schema:
            type: string
        - name: max_m15_sells
          in: query
          description: Maximum 15min sell count
          required: false
          schema:
            type: string
        - name: min_m15_trades
          in: query
          description: Minimum 15min trade count
          required: false
          schema:
            type: string
        - name: max_m15_trades
          in: query
          description: Maximum 15min trade count
          required: false
          schema:
            type: string
        - name: min_m15_buyers
          in: query
          description: Minimum 15min buyer count
          required: false
          schema:
            type: string
        - name: max_m15_buyers
          in: query
          description: Maximum 15min buyer count
          required: false
          schema:
            type: string
        - name: min_m15_sellers
          in: query
          description: Minimum 15min seller count
          required: false
          schema:
            type: string
        - name: max_m15_sellers
          in: query
          description: Maximum 15min seller count
          required: false
          schema:
            type: string
        - name: min_m15_buy_volume_in_usd
          in: query
          description: Minimum 15min buy volume in USD
          required: false
          schema:
            type: string
        - name: max_m15_buy_volume_in_usd
          in: query
          description: Maximum 15min buy volume in USD
          required: false
          schema:
            type: string
        - name: min_m15_sell_volume_in_usd
          in: query
          description: Minimum 15min sell volume in USD
          required: false
          schema:
            type: string
        - name: max_m15_sell_volume_in_usd
          in: query
          description: Maximum 15min sell volume in USD
          required: false
          schema:
            type: string
        - name: min_m5_volume_in_usd
          in: query
          description: Minimum 5min volume in USD
          required: false
          schema:
            type: string
        - name: max_m5_volume_in_usd
          in: query
          description: Maximum 5min volume in USD
          required: false
          schema:
            type: string
        - name: min_m5_price_change_ratio
          in: query
          description: Minimum 5min price change ratio
          required: false
          schema:
            type: string
        - name: max_m5_price_change_ratio
          in: query
          description: Maximum 5min price change ratio
          required: false
          schema:
            type: string
        - name: min_m5_buys
          in: query
          description: Minimum 5min buy count
          required: false
          schema:
            type: string
        - name: max_m5_buys
          in: query
          description: Maximum 5min buy count
          required: false
          schema:
            type: string
        - name: min_m5_sells
          in: query
          description: Minimum 5min sell count
          required: false
          schema:
            type: string
        - name: max_m5_sells
          in: query
          description: Maximum 5min sell count
          required: false
          schema:
            type: string
        - name: min_m5_trades
          in: query
          description: Minimum 5min trade count
          required: false
          schema:
            type: string
        - name: max_m5_trades
          in: query
          description: Maximum 5min trade count
          required: false
          schema:
            type: string
        - name: min_m5_buyers
          in: query
          description: Minimum 5min buyer count
          required: false
          schema:
            type: string
        - name: max_m5_buyers
          in: query
          description: Maximum 5min buyer count
          required: false
          schema:
            type: string
        - name: min_m5_sellers
          in: query
          description: Minimum 5min seller count
          required: false
          schema:
            type: string
        - name: max_m5_sellers
          in: query
          description: Maximum 5min seller count
          required: false
          schema:
            type: string
        - name: min_m5_buy_volume_in_usd
          in: query
          description: Minimum 5min buy volume in USD
          required: false
          schema:
            type: string
        - name: max_m5_buy_volume_in_usd
          in: query
          description: Maximum 5min buy volume in USD
          required: false
          schema:
            type: string
        - name: min_m5_sell_volume_in_usd
          in: query
          description: Minimum 5min sell volume in USD
          required: false
          schema:
            type: string
        - name: max_m5_sell_volume_in_usd
          in: query
          description: Maximum 5min sell volume in USD
          required: false
          schema:
            type: string
        - name: min_m1_volume_in_usd
          in: query
          description: Minimum 1min volume in USD
          required: false
          schema:
            type: string
        - name: max_m1_volume_in_usd
          in: query
          description: Maximum 1min volume in USD
          required: false
          schema:
            type: string
        - name: min_m1_price_change_ratio
          in: query
          description: Minimum 1min price change ratio
          required: false
          schema:
            type: string
        - name: max_m1_price_change_ratio
          in: query
          description: Maximum 1min price change ratio
          required: false
          schema:
            type: string
        - name: min_m1_buys
          in: query
          description: Minimum 1min buy count
          required: false
          schema:
            type: string
        - name: max_m1_buys
          in: query
          description: Maximum 1min buy count
          required: false
          schema:
            type: string
        - name: min_m1_sells
          in: query
          description: Minimum 1min sell count
          required: false
          schema:
            type: string
        - name: max_m1_sells
          in: query
          description: Maximum 1min sell count
          required: false
          schema:
            type: string
        - name: min_m1_trades
          in: query
          description: Minimum 1min trade count
          required: false
          schema:
            type: string
        - name: max_m1_trades
          in: query
          description: Maximum 1min trade count
          required: false
          schema:
            type: string
        - name: min_m1_buyers
          in: query
          description: Minimum 1min buyer count
          required: false
          schema:
            type: string
        - name: max_m1_buyers
          in: query
          description: Maximum 1min buyer count
          required: false
          schema:
            type: string
        - name: min_m1_sellers
          in: query
          description: Minimum 1min seller count
          required: false
          schema:
            type: string
        - name: max_m1_sellers
          in: query
          description: Maximum 1min seller count
          required: false
          schema:
            type: string
        - name: min_m1_buy_volume_in_usd
          in: query
          description: Minimum 1min buy volume in USD
          required: false
          schema:
            type: string
        - name: max_m1_buy_volume_in_usd
          in: query
          description: Maximum 1min buy volume in USD
          required: false
          schema:
            type: string
        - name: min_m1_sell_volume_in_usd
          in: query
          description: Minimum 1min sell volume in USD
          required: false
          schema:
            type: string
        - name: max_m1_sell_volume_in_usd
          in: query
          description: Maximum 1min sell volume in USD
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Get Token List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_Token'
  /v2/token/{chain}/marketData/multi:
    get:
      tags:
        - Token
      summary: Token - Market Data (Multi)
      description: Get market data for multiple tokens
      operationId: get.marketData.multi
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: A list of token addresses in string separated by commas (,). Maximum 100 token addresses allowed
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: Get Market Data Multi
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: Token market data
                  properties:
                    bluechipHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of bluechip holdings to total supply
                      example: '0.05'
                    bluechipTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: Number of bluechip wallet holders
                      example: '10'
                    bluechipTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of bluechip wallets
                      example: '50000'
                    bundleHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of bundle holdings to total supply
                      example: '0.018'
                    bundleTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: Number of bundle wallet holders
                      example: '12'
                    bundleTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of bundle wallets
                      example: '18000'
                    circulatingSupply:
                      type:
                        - string
                        - 'null'
                      description: Circulating supply of the token
                      example: '900000'
                    completionRatio:
                      type:
                        - string
                        - 'null'
                      description: Bonding curve completion ratio
                      example: '1.0'
                    devHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of developer holdings to total supply
                      example: '0.005'
                    devTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: Number of developer wallet holders
                      example: '3'
                    devTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of developer wallets
                      example: '5000'
                    fdvInSol:
                      type:
                        - string
                        - 'null'
                      description: Fully diluted valuation in native token
                      example: '200000'
                    fdvInUsd:
                      type:
                        - string
                        - 'null'
                      description: Fully diluted valuation in USD
                      example: '200000'
                    freshHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of fresh wallet holdings to total supply
                      example: '0.01'
                    freshTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: Number of fresh (new) wallet holders
                      example: '30'
                    freshTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of fresh wallets
                      example: '10000'
                    holders:
                      type:
                        - string
                        - 'null'
                      description: Total number of token holders
                      example: '1000'
                    insiderHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of insider holdings to total supply
                      example: '0.02'
                    insiderTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: Number of insider wallet holders
                      example: '5'
                    insiderTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of insider wallets
                      example: '20000'
                    kolHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of KOL holdings to total supply
                      example: '0.03'
                    kolTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: Number of KOL (Key Opinion Leader) holders
                      example: '20'
                    kolTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of KOL wallets
                      example: '30000'
                    marketCapInSol:
                      type:
                        - string
                        - 'null'
                      description: Market capitalization in native token
                      example: '100000'
                    marketCapInUsd:
                      type:
                        - string
                        - 'null'
                      description: Market capitalization in USD
                      example: '100000'
                    maxPoolTvlInSol:
                      type:
                        - string
                        - 'null'
                      description: Maximum pool TVL in native token
                      example: '1000.45'
                    maxPoolTvlInUsd:
                      type:
                        - string
                        - 'null'
                      description: Maximum pool TVL in USD
                      example: '150000.00'
                    priceInSol:
                      type:
                        - string
                        - 'null'
                      description: Token price in native token
                      example: '0.00000261383847574915906643405542'
                    priceInUsd:
                      type:
                        - string
                        - 'null'
                      description: Token price in USD
                      example: '0.00000261383847574915906643405542'
                    proHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of professional trader holdings to total supply
                      example: '0.04'
                    proTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: Number of professional trader holders
                      example: '25'
                    proTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of professional traders
                      example: '40000'
                    sandwishHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of sandwich attack holdings to total supply
                      example: '0.015'
                    sandwishTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: Number of sandwich attack wallet holders
                      example: '8'
                    sandwishTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of sandwich attack wallets
                      example: '15000'
                    sniperHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of sniper holdings to total supply
                      example: '0.025'
                    sniperTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: Number of sniper wallet holders
                      example: '15'
                    sniperTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of sniper wallets
                      example: '25000'
                    top100HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of top 100 holders to total supply
                      example: '0.8'
                    top100TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of top 100 holders
                      example: '800000'
                    top10HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of top 10 holders to total supply
                      example: '0.5'
                    top10TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of top 10 holders
                      example: '500000'
                    top50HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: Ratio of top 50 holders to total supply
                      example: '0.3'
                    top50TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: Total holdings of top 50 holders
                      example: '300000'
                    totalSupply:
                      type:
                        - string
                        - 'null'
                      description: Total supply of the token
                      example: '1000000'
                    totalTvlInSol:
                      type:
                        - string
                        - 'null'
                      description: Total value locked in native token
                      example: '1000000.45'
                    totalTvlInUsd:
                      type:
                        - string
                        - 'null'
                      description: Total value locked in USD
                      example: '1000000.45'
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  circulatingSupply: '1000000000'
                  holders: '12345'
                  marketCap: '150000000.00'
                  priceInNative: '0.00005'
                  priceInUsd: '0.15'
                  totalSupply: '1000000000'
  /v2/token/{chain}/metadata/multi:
    get:
      tags:
        - Token
      summary: Token - Metadata (Multi)
      description: Get metadata for multiple tokens
      operationId: get.metadata.multi
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: A list of token addresses in string separated by commas (,). Maximum 100 token addresses allowed
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: Get Metadata Multi
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: Token metadata
                  required:
                    - address
                    - chain
                    - symbol
                    - name
                    - decimals
                  properties:
                    address:
                      type: string
                      description: Token contract address
                      example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    chain:
                      type: string
                      description: Blockchain network identifier
                      example: sol
                    coingeckoCoinId:
                      type:
                        - string
                        - 'null'
                      description: CoinGecko coin identifier
                      example: usd-coin
                    decimals:
                      type: string
                      description: Number of decimal places
                      example: '9'
                    description:
                      type:
                        - string
                        - 'null'
                      description: Token description
                      example: USDC is a stablecoin pegged to the US dollar
                    devLastTokenCreatedAt:
                      type:
                        - string
                        - 'null'
                      description: Timestamp of developer last token creation
                      example: 2025-12-03T09:23:34.000Z
                    devTotalTokens:
                      type:
                        - string
                        - 'null'
                      description: Total number of tokens created by the developer
                      example: '163'
                    extra:
                      $ref: '#/components/schemas/TokenExtra'
                      description: Extended token metadata
                    imageUrl:
                      type:
                        - string
                        - 'null'
                      description: Token logo image URL
                      example: https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v/logo.png
                    metadataAddress:
                      type:
                        - string
                        - 'null'
                      description: On-chain metadata account address
                      example: metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s
                    name:
                      type: string
                      description: Token display name
                      example: USD Coin
                    socialMedias:
                      $ref: '#/components/schemas/TokenSocialMedias'
                      description: Token social media links
                    symbol:
                      type: string
                      description: Token ticker symbol
                      example: USDC
                    tokenCreatedAt:
                      type:
                        - integer
                        - 'null'
                      format: int64
                      description: Token creation timestamp (milliseconds)
                      example: 1710417600000
                    tokenCreatedBlockHeight:
                      type:
                        - string
                        - 'null'
                      description: Block height when token was created
                      example: '220000000'
                    tokenCreatedSlot:
                      type:
                        - string
                        - 'null'
                      description: Slot number when token was created
                      example: '230000000'
                    tokenCreatedTxSignature:
                      type:
                        - string
                        - 'null'
                      description: Transaction signature of token creation
                      example: 5dJ1BxPiFT7w7aBdkxNy2jopGZnZoLwRwS8e9GkEXrVz...
                    tokenCreators:
                      type: array
                      items:
                        $ref: '#/components/schemas/TokenCreator'
                      description: List of token creators
                    updatedAt:
                      type:
                        - string
                        - 'null'
                      description: Last updated timestamp
                      example: 2026-02-09T08:05:12.345Z
                    uri:
                      type:
                        - string
                        - 'null'
                      description: Token metadata URI
                      example: https://arweave.net/abc123
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  address: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                  chain: sol
                  decimals: '9'
                  imageUrl: https://example.com/sol.png
                  name: Solana
                  symbol: SOL
  /v2/token/{chain}/multi:
    get:
      tags:
        - Token
      summary: Token - Detail (Multi)
      description: Get detail of tokens
      operationId: get.tokens
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: A list of token addresses in string separated by commas (,). Maximum 100 token addresses allowed
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: sortBy
          in: query
          description: Sort field
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: Sort Direction
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: filterBy
          in: query
          description: DTO.TOKEN.REQUEST.FILTER_BY (JSON array of filter conditions)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Get Tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/token/{chain}/pair/{pair}/candles:
    get:
      tags:
        - Token
      summary: Pair - Candles
      description: 'Get OHLCV candlestick data for a trading pair (format: TOKEN_A_ADDRESS-TOKEN_B_ADDRESS)'
      operationId: get.pair.candles
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: pair
          in: path
          description: 'Trading pair identifier (format: TOKEN_A_ADDRESS-TOKEN_B_ADDRESS). The pair will be automatically sorted'
          required: true
          schema:
            type: string
          example: 9BB6NFEcjBCtnNLFko2FqVQBq8HHM13kCyYcdQbgpump-EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: resolution
          in: query
          description: Time resolution for candle data
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: 'Price type: usd (default) or native token price'
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: Start timestamp (Unix epoch in seconds)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: End timestamp (Unix epoch in seconds)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: Number of candles to return
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: Get Pair Candles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/pool/{poolAddress}/candles:
    get:
      tags:
        - Token
      summary: Pool - Candles
      description: Get OHLCV candlestick data for a specific liquidity pool
      operationId: get.pool.candles
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: A pool address
          required: true
          schema:
            type: string
          example: 8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj
        - name: resolution
          in: query
          description: Time resolution for candle data
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: 'Price type: usd (default) or native token price'
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: Start timestamp (Unix epoch in seconds)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: End timestamp (Unix epoch in seconds)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: Number of candles to return
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: Get Pool Candles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/stats/multi:
    get:
      tags:
        - Token
      summary: Token - Stats (Multi)
      description: Get statistics for multiple tokens
      operationId: get.stats.multi
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: A list of token addresses in string separated by commas (,). Maximum 100 token addresses allowed
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: Get Stats Multi
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: Token statistics with nested time period data
                  required:
                    - address
                    - periods
                  properties:
                    address:
                      type: string
                      description: Token contract address
                      example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    periods:
                      type: object
                      description: |-
                        Trade statistics grouped by time period (1m, 5m, 15m, 30m, 1h, 4h, 24h).
                        Each period contains full OHLCV data, trade counts, and previous-period comparisons.
                        See `TokenTradeStatPeriod` schema for all fields.
                      additionalProperties:
                        $ref: '#/components/schemas/TokenTradeStatPeriod'
                      propertyNames:
                        type: string
                      example:
                        24h:
                          buyVolumeInUsd: '45000.00'
                          buyers: '320'
                          buys: '1520'
                          closeInUsd: '0.15600000'
                          currentLiquidityInUsd: '250000.00'
                          highInUsd: '0.15900000'
                          lowInUsd: '0.15000000'
                          openInUsd: '0.15000000'
                          priceChangeRatioInUsd: '0.04000000'
                          sellVolumeInUsd: '36000.00'
                          sellers: '210'
                          sells: '980'
                          totalVolumeInUsd: '81000.00'
                          traders: '530'
                          trades: '2500'
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  address: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                  periods:
                    24h:
                      buyVolume: '15000000.12345678'
                      buyVolumeInUsd: '45000.00'
                      buyers: '320'
                      buys: '1520'
                      closeInUsd: '0.15600000'
                      highInUsd: '0.15900000'
                      lowInUsd: '0.15000000'
                      openInUsd: '0.15000000'
                      priceChangeRatioInUsd: '0.04000000'
                      sellVolume: '12000000.98765432'
                      sellVolumeInUsd: '36000.00'
                      sellers: '210'
                      sells: '980'
                      totalVolumeInUsd: '81000.00'
                      traders: '530'
                      trades: '2500'
  /v2/token/{chain}/{tokenAddress}:
    get:
      tags:
        - Token
      summary: Token - Detail
      description: Get detail of token
      operationId: get.token
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: An address of a token
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: Get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
  /v2/token/{chain}/{tokenAddress}/candles:
    get:
      tags:
        - Token
      summary: Token - Candles
      description: Get token price candles
      operationId: get.candles
      parameters:
        - name: chain
          in: path
          description: A chain name listed in supported networks
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: An address of a token
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
        - name: resolution
          in: query
          description: Time resolution for candle data
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: 'Price type: usd (default) or native token price'
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: Start timestamp (Unix epoch in seconds)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: End timestamp (Unix epoch in seconds)
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: Number of candles to return
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: Get Candles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/{tokenAddress}/creation:
    get:
      tags:
        - Token
[...]
