{
  "openapi": "3.1.0",
  "info": {
    "title": "Data Services API",
    "description": "Data Services API",
    "contact": {
      "name": "AI",
      "email": "ai@sx.ai"
    },
    "license": {
      "name": "MIT"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.dex.chainstream.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/blockchain": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Blockchain - List",
        "description": "Get list of supported blockchains",
        "operationId": "get.supported.blockchains",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Blockchain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blockchain/{chain}/latest_block": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Blockchain - Latest Block",
        "description": "Get the latest block information for a specific blockchain",
        "operationId": "get.latest.block",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockchainLatestBlock"
                }
              }
            }
          }
        }
      }
    },
    "/v2/dex": {
      "get": {
        "tags": [
          "Dex"
        ],
        "summary": "Dex - List",
        "description": "Obtain information about all DEXs on a specified blockchain.",
        "operationId": "list.dex",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6IjEyMyJ9"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Pagination direction (next or prev)",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Filter by blockchain networks",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "sol"
          },
          {
            "name": "dexProgram",
            "in": "query",
            "description": "Filter by DEX program address",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse_Dex"
                }
              }
            }
          }
        }
      }
    },
    "/v2/dexpools/{chain}/{poolAddress}": {
      "get": {
        "tags": [
          "DexPool"
        ],
        "summary": "DexPool - Detail",
        "description": "Retrieve detailed information about a specific DEX pool",
        "operationId": "get.dexpool",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "poolAddress",
            "in": "path",
            "description": "A pool address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "$ref": "#/components/schemas/DexPoolDetail"
                    }
                  ]
                },
                "example": {
                  "chain": "sol",
                  "createdBlockTimestamp": "2024-01-15T10:30:00Z",
                  "feeRate": "0.003",
                  "image": "https://ipfs.io/ipfs/bafkreid7667676767676767676767676767676767676767676767676767676767676767",
                  "liquidityModel": 1,
                  "poolAddress": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
                  "programAddress": "whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc",
                  "protocolFamily": "OrcaWhirpool",
                  "protocolName": "OrcaWhirpool AMM V2",
                  "tickSpacing": 64,
                  "tokenAAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                  "tokenALiquidity": {
                    "amountInNative": "5000.123",
                    "amountInUsd": "1000000.45",
                    "decimals": 6,
                    "priceNative": "0.005",
                    "priceUsd": "1.0001",
                    "tokenAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "vaultAmount": "1000000000000"
                  },
                  "tokenBAddress": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB",
                  "tokenBLiquidity": {
                    "amountInNative": "5000.123",
                    "amountInUsd": "1000000.45",
                    "decimals": 6,
                    "priceNative": "0.005",
                    "priceUsd": "1.0001",
                    "tokenAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "vaultAmount": "1000000000000"
                  },
                  "tokenCount": 2,
                  "tvlInSol": "1000000.45",
                  "tvlInUsd": "1000000.45",
                  "type": 1,
                  "version": 2
                }
              }
            }
          }
        }
      }
    },
    "/v2/dexpools/{chain}/{poolAddress}/snapshots": {
      "get": {
        "tags": [
          "DexPool"
        ],
        "summary": "DexPool - Liquidity Snapshots",
        "description": "Retrieve historical liquidity snapshots for a specific pool. If a time parameter is provided, returns the nearest snapshot before or at that time.",
        "operationId": "get.dexpool.snapshots",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "poolAddress",
            "in": "path",
            "description": "A pool address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6IjEyMyJ9"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Pagination direction (next or prev)",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          },
          {
            "name": "time",
            "in": "query",
            "description": "Target Unix timestamp for snapshot query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1705312800000
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse_DexPoolSnapshot"
                }
              }
            }
          }
        }
      }
    },
    "/v2/ipfs/presign": {
      "post": {
        "tags": [
          "IPFS"
        ],
        "summary": "IPFS - Presign",
        "description": "Create a Presign URL for IPFS content",
        "operationId": "presign",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/kyt/address": {
      "post": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Register Address",
        "description": "Register an address for KYT monitoring",
        "operationId": "register.address",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KYTRegisterAddressInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytRegisterAddressResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.write"
            ]
          }
        ]
      }
    },
    "/v2/kyt/addresses/{address}/risk": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Address Risk",
        "description": "Retrieve risk assessment for a registered address",
        "operationId": "get.address.risk",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x0038AC785dfB6C82b2c9A7B3B6854e08a10cb9f1"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytAddressRiskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/transfer": {
      "post": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Register Transfer",
        "description": "Register a transfer for KYT (Know Your Transaction) analysis",
        "operationId": "register.transfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KYTRegisterTransferInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytTransferBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.write"
            ]
          }
        ]
      }
    },
    "/v2/kyt/transfers/{transferId}/alerts": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Transfer Alerts",
        "description": "Retrieve alerts associated with a transfer",
        "operationId": "get.transfer.alerts",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "description": "Transfer ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4b922c3a-93bc-3d44-b261-0867e5859d57"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytAlertsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/transfers/{transferId}/exposures/direct": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Transfer Direct Exposure",
        "description": "Get direct exposure information for a transfer",
        "operationId": "get.transfer.direct.exposure",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "description": "Transfer ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4b922c3a-93bc-3d44-b261-0867e5859d57"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytDirectExposureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/transfers/{transferId}/network-identifications": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Transfer Network Identifications",
        "description": "Get network identifications for a transfer",
        "operationId": "get.transfer.network.identifications",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "description": "Transfer ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4b922c3a-93bc-3d44-b261-0867e5859d57"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytNetworkIdentificationsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/transfers/{transferId}/summary": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Transfer Summary",
        "description": "Retrieve summary information for a registered transfer",
        "operationId": "get.transfer.summary",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "description": "Transfer ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4b922c3a-93bc-3d44-b261-0867e5859d57"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytTransferBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal": {
      "post": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Register Withdrawal",
        "description": "Register a withdrawal for KYT (Know Your Transaction) analysis",
        "operationId": "register.withdrawal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KYTRegisterWithdrawalInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytWithdrawalBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.write"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/address-identifications": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Withdrawal Address Identifications",
        "description": "Get address identifications for a withdrawal",
        "operationId": "get.withdrawal.address.identifications",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "Withdrawal ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytWithdrawalAddressIdentificationsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/alerts": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Withdrawal Alerts",
        "description": "Retrieve alerts associated with a withdrawal",
        "operationId": "get.withdrawal.alerts",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "Withdrawal ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytAlertsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/exposures/direct": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Withdrawal Direct Exposure",
        "description": "Get direct exposure information for a withdrawal",
        "operationId": "get.withdrawal.direct.exposure",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "Withdrawal ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytDirectExposureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/fraud-assessment": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Withdrawal Fraud Assessment",
        "description": "Get fraud assessment results for a withdrawal",
        "operationId": "get.withdrawal.fraud.assessment",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "Withdrawal ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytFraudAssessmentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/network-identifications": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Withdrawal Network Identifications",
        "description": "Get network identifications for a withdrawal",
        "operationId": "get.withdrawal.network.identifications",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "Withdrawal ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytNetworkIdentificationsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/summary": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - Get Withdrawal Summary",
        "description": "Retrieve summary information for a registered withdrawal",
        "operationId": "get.withdrawal.summary",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "Withdrawal ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytWithdrawalBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/ranking/{chain}/finalStretch": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "Ranking - FinalStretch Tokens",
        "description": "Return the finalStretch tokens",
        "operationId": "get.finalStretch.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort field",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenField"
            },
            "example": "marketData.marketCapInUsd"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Ranking tag filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RankingTag"
            },
            "example": "pump_fun"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "description": "Filter field",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RangeFilterCondition"
              }
            },
            "example": [
              {
                "field": "marketData.marketCapInUsd",
                "min": "50000"
              }
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "has_social_media"
          },
          {
            "name": "launchpadPlatform",
            "in": "query",
            "description": "Launchpad Platform",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium_launchpad"
          },
          {
            "name": "searchKeywords",
            "in": "query",
            "description": "Search Keywords",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "trump"
          },
          {
            "name": "excludeKeywords",
            "in": "query",
            "description": "Exclude Keywords",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "scam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ranking/{chain}/hotTokens/{duration}": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "Ranking - Hot Tokens",
        "description": "Retrieve a list of trending tokens",
        "operationId": "get.hot.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "duration",
            "in": "path",
            "description": "Duration of the ranking",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RankingDuration"
            },
            "example": "24h"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort field",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenField"
            },
            "example": "marketData.marketCapInUsd"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Ranking tag filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RankingTag"
            },
            "example": "pump_fun"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "description": "Filter field",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RangeFilterCondition"
              }
            },
            "example": [
              {
                "field": "marketData.marketCapInUsd",
                "min": "50000"
              }
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "has_social_media"
          },
          {
            "name": "launchpadPlatform",
            "in": "query",
            "description": "Launchpad Platform",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium_launchpad"
          },
          {
            "name": "searchKeywords",
            "in": "query",
            "description": "Search Keywords",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "trump"
          },
          {
            "name": "excludeKeywords",
            "in": "query",
            "description": "Exclude Keywords",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "scam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ranking/{chain}/migrated": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "Ranking - Migrated Tokens",
        "description": "Return the migrated tokens",
        "operationId": "get.migrated.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort field",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenField"
            },
            "example": "marketData.marketCapInUsd"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Ranking tag filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RankingTag"
            },
            "example": "pump_fun"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "description": "Filter field",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RangeFilterCondition"
              }
            },
            "example": [
              {
                "field": "marketData.marketCapInUsd",
                "min": "50000"
              }
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "has_social_media"
          },
          {
            "name": "launchpadPlatform",
            "in": "query",
            "description": "Launchpad Platform",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium_launchpad"
          },
          {
            "name": "searchKeywords",
            "in": "query",
            "description": "Search Keywords",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "trump"
          },
          {
            "name": "excludeKeywords",
            "in": "query",
            "description": "Exclude Keywords",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "scam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ranking/{chain}/newTokens": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "Ranking - New Tokens",
        "description": "Return the latest 100 tokens",
        "operationId": "get.new.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort field",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenField"
            },
            "example": "marketData.marketCapInUsd"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Ranking tag filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RankingTag"
            },
            "example": "pump_fun"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "description": "Filter field",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RangeFilterCondition"
              }
            },
            "example": [
              {
                "field": "marketData.marketCapInUsd",
                "min": "50000"
              }
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "has_social_media"
          },
          {
            "name": "launchpadPlatform",
            "in": "query",
            "description": "Launchpad Platform",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium_launchpad"
          },
          {
            "name": "searchKeywords",
            "in": "query",
            "description": "Search Keywords",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "trump"
          },
          {
            "name": "excludeKeywords",
            "in": "query",
            "description": "Exclude Keywords",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "scam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ranking/{chain}/stocks": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "Ranking - Stocks Tokens",
        "description": "Return the stocks tokens",
        "operationId": "get.stocks.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort field",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenField"
            },
            "example": "marketData.marketCapInUsd"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Ranking tag filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RankingTag"
            },
            "example": "pump_fun"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "description": "Filter field",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RangeFilterCondition"
              }
            },
            "example": [
              {
                "field": "marketData.marketCapInUsd",
                "min": "50000"
              }
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "has_social_media"
          },
          {
            "name": "launchpadPlatform",
            "in": "query",
            "description": "Launchpad Platform",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium_launchpad"
          },
          {
            "name": "searchKeywords",
            "in": "query",
            "description": "Search Keywords",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "trump"
          },
          {
            "name": "excludeKeywords",
            "in": "query",
            "description": "Exclude Keywords",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "scam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket": {
      "get": {
        "tags": [
          "RedPacket"
        ],
        "summary": "RedPacket - GetRedpackets",
        "description": "Get the redpackets list",
        "operationId": "get.redpackets",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "DTO.RED_PACKET.CURSOR",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cursor_abc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "DTO.RED_PACKET.LIMIT",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "DTO.RED_PACKET.DIRECTION",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          },
          {
            "name": "creator",
            "in": "query",
            "description": "DTO.RED_PACKET.CREATOR",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "chain",
            "in": "query",
            "description": "DTO.RED_PACKET.CHAIN",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacketsPage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/wallet/{address}/claims": {
      "get": {
        "tags": [
          "RedPacket"
        ],
        "summary": "RedPacket - GetClaimsByAddress",
        "description": "Check the record of redpacket collection by the claimer address",
        "operationId": "get.claims.by.address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "An address of a wallet",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "DTO.RED_PACKET.CURSOR",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cursor_abc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "DTO.RED_PACKET.LIMIT",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "DTO.RED_PACKET.DIRECTION",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacketClaimsPage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/wallet/{address}/redpackets": {
      "get": {
        "tags": [
          "RedPacket"
        ],
        "summary": "RedPacket - GetRedpacketsByAddress",
        "description": "Get the redpackets list by the creator address",
        "operationId": "get.redpackets.by.address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "An address of a wallet",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "DTO.RED_PACKET.CURSOR",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cursor_abc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "DTO.RED_PACKET.LIMIT",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "DTO.RED_PACKET.DIRECTION",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacketsPage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/{chain}/claim": {
      "post": {
        "tags": [
          "RedPacket"
        ],
        "summary": "RedPacket - Claim",
        "description": "Claim tokens from an existing red packet",
        "operationId": "claim.redpacket",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimRedPacketRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimRedPacketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/{chain}/create": {
      "post": {
        "tags": [
          "RedPacket"
        ],
        "summary": "RedPacket - Create",
        "description": "Create a new red packet with specified amount and quantity",
        "operationId": "create.redpacket",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRedPacketRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRedPacketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/{chain}/send": {
      "post": {
        "tags": [
          "RedPacket"
        ],
        "summary": "RedPacket - Send",
        "description": "Transactions related to redpacket",
        "operationId": "redpacket.send",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedPacketSendTxRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacketSendTxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/{id}": {
      "get": {
        "tags": [
          "RedPacket"
        ],
        "summary": "RedPacket - Get",
        "description": "Query redpacket information",
        "operationId": "get.redpacket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Redpacket id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacket"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/{id}/claims": {
      "get": {
        "tags": [
          "RedPacket"
        ],
        "summary": "RedPacket - GetClaims",
        "description": "Check the record of redpacket collection",
        "operationId": "get.claims",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Redpacket id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "DTO.RED_PACKET.CURSOR",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cursor_abc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "DTO.RED_PACKET.LIMIT",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "DTO.RED_PACKET.DIRECTION",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacketClaimsPage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/token/search": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "Token - List",
        "description": "Get token list of given chain",
        "operationId": "search",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6IjEyMyJ9"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Pagination direction (next or prev)",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Chain filter",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "sol"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query string for token name, symbol or address",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "USDC"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "protocols",
            "in": "query",
            "description": "Protocol filter",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SearchSortBy"
            },
            "example": "priceInUsd"
          }
        ],
        "responses": {
          "200": {
            "description": "Search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/token/{chain}/dev/{devAddress}/tokens": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "Token - Get Dev Tokens",
        "description": "Retrieve all tokens created by a specific developer address",
        "operationId": "get.dev.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "devAddress",
            "in": "path",
            "description": "An address of a user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3NUHqNG2Big2WxbYnaBzSNmxwE4NrxgckJuoiyGxu3Am"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6IjEyMyJ9"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Pagination direction (next or prev)",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Dev Tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse_DevToken"
                }
              }
            }
          }
        }
      }
    },
    "/v2/token/{chain}/list": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "Token - List (Filtered)",
        "description": "Get filtered token list with range conditions",
        "operationId": "list.token",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6IjEyMyJ9"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Pagination direction (next or prev)",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort direction (asc or desc)",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            },
            "example": "desc"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort by field",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenListSortField"
            },
            "example": "h24VolumeInUsd"
          },
          {
            "name": "min_h24_volume_in_usd",
            "in": "query",
            "description": "Minimum 24h volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_volume_in_usd",
            "in": "query",
            "description": "Maximum 24h volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_price_change_ratio",
            "in": "query",
            "description": "Minimum 24h price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_price_change_ratio",
            "in": "query",
            "description": "Maximum 24h price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_buys",
            "in": "query",
            "description": "Minimum 24h buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_buys",
            "in": "query",
            "description": "Maximum 24h buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_sells",
            "in": "query",
            "description": "Minimum 24h sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_sells",
            "in": "query",
            "description": "Maximum 24h sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_trades",
            "in": "query",
            "description": "Minimum 24h trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_trades",
            "in": "query",
            "description": "Maximum 24h trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_buyers",
            "in": "query",
            "description": "Minimum 24h buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_buyers",
            "in": "query",
            "description": "Maximum 24h buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_sellers",
            "in": "query",
            "description": "Minimum 24h seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_sellers",
            "in": "query",
            "description": "Maximum 24h seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_buy_volume_in_usd",
            "in": "query",
            "description": "Minimum 24h buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_buy_volume_in_usd",
            "in": "query",
            "description": "Maximum 24h buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_sell_volume_in_usd",
            "in": "query",
            "description": "Minimum 24h sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_sell_volume_in_usd",
            "in": "query",
            "description": "Maximum 24h sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_volume_in_usd",
            "in": "query",
            "description": "Minimum 4h volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_volume_in_usd",
            "in": "query",
            "description": "Maximum 4h volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_price_change_ratio",
            "in": "query",
            "description": "Minimum 4h price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_price_change_ratio",
            "in": "query",
            "description": "Maximum 4h price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_buys",
            "in": "query",
            "description": "Minimum 4h buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_buys",
            "in": "query",
            "description": "Maximum 4h buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_sells",
            "in": "query",
            "description": "Minimum 4h sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_sells",
            "in": "query",
            "description": "Maximum 4h sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_trades",
            "in": "query",
            "description": "Minimum 4h trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_trades",
            "in": "query",
            "description": "Maximum 4h trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_buyers",
            "in": "query",
            "description": "Minimum 4h buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_buyers",
            "in": "query",
            "description": "Maximum 4h buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_sellers",
            "in": "query",
            "description": "Minimum 4h seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_sellers",
            "in": "query",
            "description": "Maximum 4h seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_buy_volume_in_usd",
            "in": "query",
            "description": "Minimum 4h buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_buy_volume_in_usd",
            "in": "query",
            "description": "Maximum 4h buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_sell_volume_in_usd",
            "in": "query",
            "description": "Minimum 4h sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_sell_volume_in_usd",
            "in": "query",
            "description": "Maximum 4h sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_volume_in_usd",
            "in": "query",
            "description": "Minimum 1h volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_volume_in_usd",
            "in": "query",
            "description": "Maximum 1h volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_price_change_ratio",
            "in": "query",
            "description": "Minimum 1h price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_price_change_ratio",
            "in": "query",
            "description": "Maximum 1h price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_buys",
            "in": "query",
            "description": "Minimum 1h buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_buys",
            "in": "query",
            "description": "Maximum 1h buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_sells",
            "in": "query",
            "description": "Minimum 1h sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_sells",
            "in": "query",
            "description": "Maximum 1h sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_trades",
            "in": "query",
            "description": "Minimum 1h trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_trades",
            "in": "query",
            "description": "Maximum 1h trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_buyers",
            "in": "query",
            "description": "Minimum 1h buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_buyers",
            "in": "query",
            "description": "Maximum 1h buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_sellers",
            "in": "query",
            "description": "Minimum 1h seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_sellers",
            "in": "query",
            "description": "Maximum 1h seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_buy_volume_in_usd",
            "in": "query",
            "description": "Minimum 1h buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_buy_volume_in_usd",
            "in": "query",
            "description": "Maximum 1h buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_sell_volume_in_usd",
            "in": "query",
            "description": "Minimum 1h sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_sell_volume_in_usd",
            "in": "query",
            "description": "Maximum 1h sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_volume_in_usd",
            "in": "query",
            "description": "Minimum 30min volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_volume_in_usd",
            "in": "query",
            "description": "Maximum 30min volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_price_change_ratio",
            "in": "query",
            "description": "Minimum 30min price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_price_change_ratio",
            "in": "query",
            "description": "Maximum 30min price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_buys",
            "in": "query",
            "description": "Minimum 30min buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_buys",
            "in": "query",
            "description": "Maximum 30min buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_sells",
            "in": "query",
            "description": "Minimum 30min sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_sells",
            "in": "query",
            "description": "Maximum 30min sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_trades",
            "in": "query",
            "description": "Minimum 30min trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_trades",
            "in": "query",
            "description": "Maximum 30min trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_buyers",
            "in": "query",
            "description": "Minimum 30min buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_buyers",
            "in": "query",
            "description": "Maximum 30min buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_sellers",
            "in": "query",
            "description": "Minimum 30min seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_sellers",
            "in": "query",
            "description": "Maximum 30min seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_buy_volume_in_usd",
            "in": "query",
            "description": "Minimum 30min buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_buy_volume_in_usd",
            "in": "query",
            "description": "Maximum 30min buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_sell_volume_in_usd",
            "in": "query",
            "description": "Minimum 30min sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_sell_volume_in_usd",
            "in": "query",
            "description": "Maximum 30min sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_volume_in_usd",
            "in": "query",
            "description": "Minimum 15min volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_volume_in_usd",
            "in": "query",
            "description": "Maximum 15min volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_price_change_ratio",
            "in": "query",
            "description": "Minimum 15min price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_price_change_ratio",
            "in": "query",
            "description": "Maximum 15min price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_buys",
            "in": "query",
            "description": "Minimum 15min buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_buys",
            "in": "query",
            "description": "Maximum 15min buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_sells",
            "in": "query",
            "description": "Minimum 15min sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_sells",
            "in": "query",
            "description": "Maximum 15min sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_trades",
            "in": "query",
            "description": "Minimum 15min trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_trades",
            "in": "query",
            "description": "Maximum 15min trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_buyers",
            "in": "query",
            "description": "Minimum 15min buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_buyers",
            "in": "query",
            "description": "Maximum 15min buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_sellers",
            "in": "query",
            "description": "Minimum 15min seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_sellers",
            "in": "query",
            "description": "Maximum 15min seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_buy_volume_in_usd",
            "in": "query",
            "description": "Minimum 15min buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_buy_volume_in_usd",
            "in": "query",
            "description": "Maximum 15min buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_sell_volume_in_usd",
            "in": "query",
            "description": "Minimum 15min sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_sell_volume_in_usd",
            "in": "query",
            "description": "Maximum 15min sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_volume_in_usd",
            "in": "query",
            "description": "Minimum 5min volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_volume_in_usd",
            "in": "query",
            "description": "Maximum 5min volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_price_change_ratio",
            "in": "query",
            "description": "Minimum 5min price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_price_change_ratio",
            "in": "query",
            "description": "Maximum 5min price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_buys",
            "in": "query",
            "description": "Minimum 5min buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_buys",
            "in": "query",
            "description": "Maximum 5min buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_sells",
            "in": "query",
            "description": "Minimum 5min sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_sells",
            "in": "query",
            "description": "Maximum 5min sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_trades",
            "in": "query",
            "description": "Minimum 5min trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_trades",
            "in": "query",
            "description": "Maximum 5min trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_buyers",
            "in": "query",
            "description": "Minimum 5min buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_buyers",
            "in": "query",
            "description": "Maximum 5min buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_sellers",
            "in": "query",
            "description": "Minimum 5min seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_sellers",
            "in": "query",
            "description": "Maximum 5min seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_buy_volume_in_usd",
            "in": "query",
            "description": "Minimum 5min buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_buy_volume_in_usd",
            "in": "query",
            "description": "Maximum 5min buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_sell_volume_in_usd",
            "in": "query",
            "description": "Minimum 5min sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_sell_volume_in_usd",
            "in": "query",
            "description": "Maximum 5min sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_volume_in_usd",
            "in": "query",
            "description": "Minimum 1min volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_volume_in_usd",
            "in": "query",
            "description": "Maximum 1min volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_price_change_ratio",
            "in": "query",
            "description": "Minimum 1min price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_price_change_ratio",
            "in": "query",
            "description": "Maximum 1min price change ratio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_buys",
            "in": "query",
            "description": "Minimum 1min buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_buys",
            "in": "query",
            "description": "Maximum 1min buy count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_sells",
            "in": "query",
            "description": "Minimum 1min sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_sells",
            "in": "query",
            "description": "Maximum 1min sell count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_trades",
            "in": "query",
            "description": "Minimum 1min trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_trades",
            "in": "query",
            "description": "Maximum 1min trade count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_buyers",
            "in": "query",
            "description": "Minimum 1min buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_buyers",
            "in": "query",
            "description": "Maximum 1min buyer count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_sellers",
            "in": "query",
            "description": "Minimum 1min seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_sellers",
            "in": "query",
            "description": "Maximum 1min seller count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_buy_volume_in_usd",
            "in": "query",
            "description": "Minimum 1min buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_buy_volume_in_usd",
            "in": "query",
            "description": "Maximum 1min buy volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_sell_volume_in_usd",
            "in": "query",
            "description": "Minimum 1min sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_sell_volume_in_usd",
            "in": "query",
            "description": "Maximum 1min sell volume in USD",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Token List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse_Token"
                }
              }
            }
          }
        }
      }
    },
    "/v2/token/{chain}/marketData/multi": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "Token - Market Data (Multi)",
        "description": "Get market data for multiple tokens",
        "operationId": "get.marketData.multi",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "A chain name listed in supported networks",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "tokenAddresses",
            "in": "query",
            "description": "A list of token addresses in string separated by commas (,). Maximum 100 token addresses allowed",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Market Data Multi",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "description": "Token market data",
                    "properties": {
                      "bluechipHoldingsRatio": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "0.05"
                      },
                      "bluechipTotalHolders": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "10"
                      },
                      "bluechipTotalHoldings": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "50000"
                      },
                      "bundleHoldingsRatio": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "0.018"
                      },
                      "bundleTotalHolders": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "12"
                      },
                      "bundleTotalHoldings": {
[...]
