openapi: 3.1.0
info:
  title: Data Services API
  description: Data Services API
  contact:
    name: AI
    email: ai@sx.ai
  license:
    name: MIT
  version: '1.0'
servers:
  - url: https://api.chainstream.io
    description: Production
paths:
  /v2/blockchain:
    get:
      tags:
        - Blockchain
      summary: ブロックチェーン - 一覧
      description: サポートされているブロックチェーンのリストを取得
      operationId: get.supported.blockchains
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Blockchain'
  /v2/blockchain/{chain}/latest_block:
    get:
      tags:
        - Blockchain
      summary: ブロックチェーン - 最新ブロック
      description: 特定のブロックチェーンの最新ブロック情報を取得
      operationId: get.latest.block
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainLatestBlock'
  /v2/dex:
    get:
      tags:
        - Dex
      summary: Dex - 一覧
      description: 指定されたブロックチェーン上のすべての DEX の情報を取得
      operationId: list.dex
      parameters:
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: ページネーション方向（next または prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: chains
          in: query
          description: ブロックチェーンネットワークでフィルタ
          required: false
          schema:
            type: array
            items:
              type: string
          example: sol
        - name: dexProgram
          in: query
          description: DEX プログラムアドレスでフィルタ
          required: false
          schema:
            type: string
          example: whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_Dex'
  /v2/dexpools/{chain}/{poolAddress}:
    get:
      tags:
        - DexPool
      summary: DEX プール - 詳細
      description: 特定の DEX プールの詳細情報を取得
      operationId: get.dexpool
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: プールアドレス
          required: true
          schema:
            type: string
          example: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/DexPoolDetail'
              example:
                chain: sol
                createdBlockTimestamp: 2024-01-15T10:30:00Z
                feeRate: '0.003'
                image: https://ipfs.io/ipfs/bafkreid7667676767676767676767676767676767676767676767676767676767676767
                liquidityModel: 1
                poolAddress: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
                programAddress: whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc
                protocolFamily: OrcaWhirpool
                protocolName: OrcaWhirpool AMM V2
                tickSpacing: 64
                tokenAAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                tokenALiquidity:
                  amountInNative: '5000.123'
                  amountInUsd: '1000000.45'
                  decimals: 6
                  priceNative: '0.005'
                  priceUsd: '1.0001'
                  tokenAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                  vaultAmount: '1000000000000'
                tokenBAddress: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
                tokenBLiquidity:
                  amountInNative: '5000.123'
                  amountInUsd: '1000000.45'
                  decimals: 6
                  priceNative: '0.005'
                  priceUsd: '1.0001'
                  tokenAddress: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                  vaultAmount: '1000000000000'
                tokenCount: 2
                tvlInSol: '1000000.45'
                tvlInUsd: '1000000.45'
                type: 1
                version: 2
  /v2/dexpools/{chain}/{poolAddress}/snapshots:
    get:
      tags:
        - DexPool
      summary: DEX プール - 流動性スナップショット
      description: 特定のプールの過去の流動性スナップショットを取得。時間パラメータが指定された場合、その時刻以前の最も近いスナップショットを返します
      operationId: get.dexpool.snapshots
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: プールアドレス
          required: true
          schema:
            type: string
          example: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: ページネーション方向（next または prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: time
          in: query
          description: スナップショット検索対象の Unix タイムスタンプ
          required: false
          schema:
            type: integer
            format: int64
          example: 1705312800000
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_DexPoolSnapshot'
  /v2/ipfs/presign:
    post:
      tags:
        - IPFS
      summary: IPFS - 署名付き URL
      description: IPFS コンテンツ用の署名付き URL を作成
      operationId: presign
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignResponse'
  /v2/kyt/address:
    post:
      tags:
        - KYT
      summary: KYT - アドレス登録
      description: KYT モニタリング用にアドレスを登録
      operationId: register.address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterAddressInput'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytRegisterAddressResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/addresses/{address}/risk:
    get:
      tags:
        - KYT
      summary: KYT - アドレスリスク取得
      description: 登録済みアドレスのリスク評価を取得
      operationId: get.address.risk
      parameters:
        - name: address
          in: path
          description: アドレス
          required: true
          schema:
            type: string
          example: 1.2638660031056791e+45
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAddressRiskResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfer:
    post:
      tags:
        - KYT
      summary: KYT - 送金登録
      description: KYT（Know Your Transaction）分析用に送金を登録
      operationId: register.transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterTransferInput'
        required: true
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytTransferBaseResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/alerts:
    get:
      tags:
        - KYT
      summary: KYT - 送金アラート取得
      description: 送金に関連するアラートを取得
      operationId: get.transfer.alerts
      parameters:
        - name: transferId
          in: path
          description: 送金 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAlertsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/exposures/direct:
    get:
      tags:
        - KYT
      summary: KYT - 送金ダイレクトエクスポージャー取得
      description: 送金のダイレクトエクスポージャー情報を取得
      operationId: get.transfer.direct.exposure
      parameters:
        - name: transferId
          in: path
          description: 送金 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytDirectExposureResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/network-identifications:
    get:
      tags:
        - KYT
      summary: KYT - 送金ネットワーク識別取得
      description: 送金のネットワーク識別情報を取得
      operationId: get.transfer.network.identifications
      parameters:
        - name: transferId
          in: path
          description: 送金 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytNetworkIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/transfers/{transferId}/summary:
    get:
      tags:
        - KYT
      summary: KYT - 送金サマリー取得
      description: 登録済み送金のサマリー情報を取得
      operationId: get.transfer.summary
      parameters:
        - name: transferId
          in: path
          description: 送金 ID
          required: true
          schema:
            type: string
          example: 4b922c3a-93bc-3d44-b261-0867e5859d57
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytTransferBaseResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal:
    post:
      tags:
        - KYT
      summary: KYT - 出金登録
      description: KYT（Know Your Transaction）分析用に出金を登録
      operationId: register.withdrawal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYTRegisterWithdrawalInput'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalBaseResponse'
      security:
        - bearer_auth:
            - kyt.write
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/address-identifications:
    get:
      tags:
        - KYT
      summary: KYT - 出金アドレス識別取得
      description: 出金のアドレス識別情報を取得
      operationId: get.withdrawal.address.identifications
      parameters:
        - name: withdrawalId
          in: path
          description: 出金 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalAddressIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/alerts:
    get:
      tags:
        - KYT
      summary: KYT - 出金アラート取得
      description: 出金に関連するアラートを取得
      operationId: get.withdrawal.alerts
      parameters:
        - name: withdrawalId
          in: path
          description: 出金 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytAlertsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/exposures/direct:
    get:
      tags:
        - KYT
      summary: KYT - 出金ダイレクトエクスポージャー取得
      description: 出金のダイレクトエクスポージャー情報を取得
      operationId: get.withdrawal.direct.exposure
      parameters:
        - name: withdrawalId
          in: path
          description: 出金 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytDirectExposureResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/fraud-assessment:
    get:
      tags:
        - KYT
      summary: KYT - 出金不正評価取得
      description: 出金の不正評価結果を取得
      operationId: get.withdrawal.fraud.assessment
      parameters:
        - name: withdrawalId
          in: path
          description: 出金 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytFraudAssessmentResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/network-identifications:
    get:
      tags:
        - KYT
      summary: KYT - 出金ネットワーク識別取得
      description: 出金のネットワーク識別情報を取得
      operationId: get.withdrawal.network.identifications
      parameters:
        - name: withdrawalId
          in: path
          description: 出金 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytNetworkIdentificationsResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/kyt/withdrawal/{withdrawalId}/summary:
    get:
      tags:
        - KYT
      summary: KYT - 出金サマリー取得
      description: 登録済み出金のサマリー情報を取得
      operationId: get.withdrawal.summary
      parameters:
        - name: withdrawalId
          in: path
          description: 出金 ID
          required: true
          schema:
            type: string
          example: 78666aa8-23e1-31d2-be25-d72cd7613eba
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KytWithdrawalBaseResponse'
      security:
        - bearer_auth:
            - kyt.read
        - api_key_auth: []
  /v2/ranking/{chain}/finalStretch:
    get:
      tags:
        - Ranking
      summary: ランキング - ファイナルストレッチトークン
      description: ファイナルストレッチトークンを返す
      operationId: get.finalStretch.tokens
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: ソートフィールド
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: ソート方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: ランキングタグフィルタ
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: フィルタフィールド
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: フィルタ
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: ローンチパッドプラットフォーム
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 検索キーワード
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 除外キーワード
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/hotTokens/{duration}:
    get:
      tags:
        - Ranking
      summary: ランキング - 注目トークン
      description: トレンドトークンのリストを取得
      operationId: get.hot.tokens
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: duration
          in: path
          description: ランキングの期間
          required: true
          schema:
            $ref: '#/components/schemas/RankingDuration'
          example: 24h
        - name: sortBy
          in: query
          description: ソートフィールド
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: ソート方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: ランキングタグフィルタ
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: フィルタフィールド
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: フィルタ
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: ローンチパッドプラットフォーム
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 検索キーワード
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 除外キーワード
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/migrated:
    get:
      tags:
        - Ranking
      summary: ランキング - 移行済みトークン
      description: 移行済みトークンを返す
      operationId: get.migrated.tokens
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: ソートフィールド
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: ソート方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: ランキングタグフィルタ
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: フィルタフィールド
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: フィルタ
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: ローンチパッドプラットフォーム
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 検索キーワード
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 除外キーワード
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/newTokens:
    get:
      tags:
        - Ranking
      summary: ランキング - 新規トークン
      description: 最新の100件のトークンを返す
      operationId: get.new.tokens
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: ソートフィールド
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: ソート方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: ランキングタグフィルタ
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: フィルタフィールド
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: フィルタ
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: ローンチパッドプラットフォーム
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 検索キーワード
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 除外キーワード
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/ranking/{chain}/stocks:
    get:
      tags:
        - Ranking
      summary: ランキング - 株式トークン
      description: 株式トークンを返す
      operationId: get.stocks.tokens
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: sortBy
          in: query
          description: ソートフィールド
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: ソート方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: tag
          in: query
          description: ランキングタグフィルタ
          required: false
          schema:
            $ref: '#/components/schemas/RankingTag'
          example: pump_fun
        - name: rangeFilters
          in: query
          description: フィルタフィールド
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RangeFilterCondition'
          example:
            - field: marketData.marketCapInUsd
              min: '50000'
        - name: filters
          in: query
          description: フィルタ
          required: false
          schema:
            type: array
            items:
              type: string
          example: has_social_media
        - name: launchpadPlatform
          in: query
          description: ローンチパッドプラットフォーム
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium_launchpad
        - name: searchKeywords
          in: query
          description: 検索キーワード
          required: false
          schema:
            type: array
            items:
              type: string
          example: trump
        - name: excludeKeywords
          in: query
          description: 除外キーワード
          required: false
          schema:
            type: array
            items:
              type: string
          example: scam
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/redpacket:
    get:
      tags:
        - RedPacket
      summary: レッドパケット - 一覧
      description: レッドパケットリストを取得
      operationId: get.redpackets
      parameters:
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: ページネーション方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: creator
          in: query
          description: 作成者のウォレットアドレス
          required: false
          schema:
            type: string
          example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: chain
          in: query
          description: レッドパケットのブロックチェーンネットワーク
          required: false
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketsPage'
  /v2/redpacket/wallet/{address}/claims:
    get:
      tags:
        - RedPacket
      summary: レッドパケット - アドレス別受取記録
      description: 受取者アドレスでレッドパケットの受取記録を確認
      operationId: get.claims.by.address
      parameters:
        - name: address
          in: path
          description: ウォレットのアドレス
          required: true
          schema:
            type: string
          example: 3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: ページネーション方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketClaimsPage'
  /v2/redpacket/wallet/{address}/redpackets:
    get:
      tags:
        - RedPacket
      summary: レッドパケット - アドレス別一覧
      description: 作成者アドレスでレッドパケットリストを取得
      operationId: get.redpackets.by.address
      parameters:
        - name: address
          in: path
          description: ウォレットのアドレス
          required: true
          schema:
            type: string
          example: 3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: ページネーション方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketsPage'
  /v2/redpacket/{chain}/claim:
    post:
      tags:
        - RedPacket
      summary: レッドパケット - 受取
      description: 既存のレッドパケットからトークンを受け取る
      operationId: claim.redpacket
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimRedPacketRequest'
        required: true
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimRedPacketResponse'
  /v2/redpacket/{chain}/create:
    post:
      tags:
        - RedPacket
      summary: レッドパケット - 作成
      description: 金額と数量を指定して新しいレッドパケットを作成
      operationId: create.redpacket
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRedPacketRequest'
        required: true
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRedPacketResponse'
  /v2/redpacket/{chain}/send:
    post:
      tags:
        - RedPacket
      summary: レッドパケット - 送信
      description: レッドパケット関連のトランザクション
      operationId: redpacket.send
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedPacketSendTxRequest'
        required: true
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketSendTxResponse'
  /v2/redpacket/{id}:
    get:
      tags:
        - RedPacket
      summary: レッドパケット - 取得
      description: レッドパケット情報を照会
      operationId: get.redpacket
      parameters:
        - name: id
          in: path
          description: レッドパケット識別子
          required: true
          schema:
            type: string
          example: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacket'
  /v2/redpacket/{id}/claims:
    get:
      tags:
        - RedPacket
      summary: レッドパケット - 受取記録
      description: レッドパケットの受取記録を確認
      operationId: get.claims
      parameters:
        - name: id
          in: path
          description: レッドパケット識別子
          required: true
          schema:
            type: string
          example: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: cursor_abc
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
          example: 20
        - name: direction
          in: query
          description: ページネーション方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 成功レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedPacketClaimsPage'
  /v2/token/search:
    get:
      tags:
        - Token
      summary: トークン - 検索
      description: 名前、シンボル、またはアドレスでトークンを検索
      operationId: search
      parameters:
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: ページネーション方向（next または prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: chains
          in: query
          description: チェーンフィルタ
          required: false
          schema:
            type: array
            items:
              type: string
          example: sol
        - name: q
          in: query
          description: トークン名、シンボル、またはアドレスの検索クエリ文字列
          required: false
          schema:
            type: string
          example: USDC
        - name: sort
          in: query
          description: ソート方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: protocols
          in: query
          description: プロトコルフィルタ
          required: false
          schema:
            type: array
            items:
              type: string
          example: raydium
        - name: sortBy
          in: query
          description: ソートフィールド
          required: false
          schema:
            $ref: '#/components/schemas/SearchSortBy'
          example: priceInUsd
        - name: mode
          in: query
          description: 検索モード：fast（デフォルト、基本フィールドを返す）または normal（完全なトークン詳細を返す）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SearchMode'
            default: fast
          example: fast
      responses:
        '200':
          description: 検索
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPage'
  /v2/token/{chain}/dev/{devAddress}/tokens:
    get:
      tags:
        - Token
      summary: トークン - 開発者トークン取得
      description: 特定の開発者アドレスが作成したすべてのトークンを取得
      operationId: get.dev.tokens
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: devAddress
          in: path
          description: ユーザーのアドレス
          required: true
          schema:
            type: string
          example: 3NUHqNG2Big2WxbYnaBzSNmxwE4NrxgckJuoiyGxu3Am
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: ページネーション方向（next または prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 開発者トークンを取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_DevToken'
  /v2/token/{chain}/list:
    get:
      tags:
        - Token
      summary: トークン - 一覧（フィルタ付き）
      description: 範囲条件付きのフィルタリングされたトークンリストを取得
      operationId: list.token
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: ページネーション方向（next または prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: sort
          in: query
          description: ソート方向（asc または desc）
          required: false
          schema:
            $ref: '#/components/schemas/SortDirection'
          example: desc
        - name: sortBy
          in: query
          description: ソートフィールド
          required: false
          schema:
            $ref: '#/components/schemas/TokenListSortField'
          example: h24VolumeInUsd
        - name: min_h24_volume_in_usd
          in: query
          description: 24時間の最小出来高（USD）
          required: false
          schema:
            type: string
        - name: max_h24_volume_in_usd
          in: query
          description: 24時間の最大出来高（USD）
          required: false
          schema:
            type: string
        - name: min_h24_price_change_ratio
          in: query
          description: 24時間の最小価格変動率
          required: false
          schema:
            type: string
        - name: max_h24_price_change_ratio
          in: query
          description: 24時間の最大価格変動率
          required: false
          schema:
            type: string
        - name: min_h24_buys
          in: query
          description: 24時間の最小買い回数
          required: false
          schema:
            type: string
        - name: max_h24_buys
          in: query
          description: 24時間の最大買い回数
          required: false
          schema:
            type: string
        - name: min_h24_sells
          in: query
          description: 24時間の最小売り回数
          required: false
          schema:
            type: string
        - name: max_h24_sells
          in: query
          description: 24時間の最大売り回数
          required: false
          schema:
            type: string
        - name: min_h24_trades
          in: query
          description: 24時間の最小取引回数
          required: false
          schema:
            type: string
        - name: max_h24_trades
          in: query
          description: 24時間の最大取引回数
          required: false
          schema:
            type: string
        - name: min_h24_buyers
          in: query
          description: 24時間の最小買い手数
          required: false
          schema:
            type: string
        - name: max_h24_buyers
          in: query
          description: 24時間の最大買い手数
          required: false
          schema:
            type: string
        - name: min_h24_sellers
          in: query
          description: 24時間の最小売り手数
          required: false
          schema:
            type: string
        - name: max_h24_sellers
          in: query
          description: 24時間の最大売り手数
          required: false
          schema:
            type: string
        - name: min_h24_buy_volume_in_usd
          in: query
          description: 24時間の最小買い出来高（USD）
          required: false
          schema:
            type: string
        - name: max_h24_buy_volume_in_usd
          in: query
          description: 24時間の最大買い出来高（USD）
          required: false
          schema:
            type: string
        - name: min_h24_sell_volume_in_usd
          in: query
          description: 24時間の最小売り出来高（USD）
          required: false
          schema:
            type: string
        - name: max_h24_sell_volume_in_usd
          in: query
          description: 24時間の最大売り出来高（USD）
          required: false
          schema:
            type: string
        - name: min_h4_volume_in_usd
          in: query
          description: 4時間の最小出来高（USD）
          required: false
          schema:
            type: string
        - name: max_h4_volume_in_usd
          in: query
          description: 4時間の最大出来高（USD）
          required: false
          schema:
            type: string
        - name: min_h4_price_change_ratio
          in: query
          description: 4時間の最小価格変動率
          required: false
          schema:
            type: string
        - name: max_h4_price_change_ratio
          in: query
          description: 4時間の最大価格変動率
          required: false
          schema:
            type: string
        - name: min_h4_buys
          in: query
          description: 4時間の最小買い回数
          required: false
          schema:
            type: string
        - name: max_h4_buys
          in: query
          description: 4時間の最大買い回数
          required: false
          schema:
            type: string
        - name: min_h4_sells
          in: query
          description: 4時間の最小売り回数
          required: false
          schema:
            type: string
        - name: max_h4_sells
          in: query
          description: 4時間の最大売り回数
          required: false
          schema:
            type: string
        - name: min_h4_trades
          in: query
          description: 4時間の最小取引回数
          required: false
          schema:
            type: string
        - name: max_h4_trades
          in: query
          description: 4時間の最大取引回数
          required: false
          schema:
            type: string
        - name: min_h4_buyers
          in: query
          description: 4時間の最小買い手数
          required: false
          schema:
            type: string
        - name: max_h4_buyers
          in: query
          description: 4時間の最大買い手数
          required: false
          schema:
            type: string
        - name: min_h4_sellers
          in: query
          description: 4時間の最小売り手数
          required: false
          schema:
            type: string
        - name: max_h4_sellers
          in: query
          description: 4時間の最大売り手数
          required: false
          schema:
            type: string
        - name: min_h4_buy_volume_in_usd
          in: query
          description: 4時間の最小買い出来高（USD）
          required: false
          schema:
            type: string
        - name: max_h4_buy_volume_in_usd
          in: query
          description: 4時間の最大買い出来高（USD）
          required: false
          schema:
            type: string
        - name: min_h4_sell_volume_in_usd
          in: query
          description: 4時間の最小売り出来高（USD）
          required: false
          schema:
            type: string
        - name: max_h4_sell_volume_in_usd
          in: query
          description: 4時間の最大売り出来高（USD）
          required: false
          schema:
            type: string
        - name: min_h1_volume_in_usd
          in: query
          description: 1時間の最小出来高（USD）
          required: false
          schema:
            type: string
        - name: max_h1_volume_in_usd
          in: query
          description: 1時間の最大出来高（USD）
          required: false
          schema:
            type: string
        - name: min_h1_price_change_ratio
          in: query
          description: 1時間の最小価格変動率
          required: false
          schema:
            type: string
        - name: max_h1_price_change_ratio
          in: query
          description: 1時間の最大価格変動率
          required: false
          schema:
            type: string
        - name: min_h1_buys
          in: query
          description: 1時間の最小買い回数
          required: false
          schema:
            type: string
        - name: max_h1_buys
          in: query
          description: 1時間の最大買い回数
          required: false
          schema:
            type: string
        - name: min_h1_sells
          in: query
          description: 1時間の最小売り回数
          required: false
          schema:
            type: string
        - name: max_h1_sells
          in: query
          description: 1時間の最大売り回数
          required: false
          schema:
            type: string
        - name: min_h1_trades
          in: query
          description: 1時間の最小取引回数
          required: false
          schema:
            type: string
        - name: max_h1_trades
          in: query
          description: 1時間の最大取引回数
          required: false
          schema:
            type: string
        - name: min_h1_buyers
          in: query
          description: 1時間の最小買い手数
          required: false
          schema:
            type: string
        - name: max_h1_buyers
          in: query
          description: 1時間の最大買い手数
          required: false
          schema:
            type: string
        - name: min_h1_sellers
          in: query
          description: 1時間の最小売り手数
          required: false
          schema:
            type: string
        - name: max_h1_sellers
          in: query
          description: 1時間の最大売り手数
          required: false
          schema:
            type: string
        - name: min_h1_buy_volume_in_usd
          in: query
          description: 1時間の最小買い出来高（USD）
          required: false
          schema:
            type: string
        - name: max_h1_buy_volume_in_usd
          in: query
          description: 1時間の最大買い出来高（USD）
          required: false
          schema:
            type: string
        - name: min_h1_sell_volume_in_usd
          in: query
          description: 1時間の最小売り出来高（USD）
          required: false
          schema:
            type: string
        - name: max_h1_sell_volume_in_usd
          in: query
          description: 1時間の最大売り出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m30_volume_in_usd
          in: query
          description: 30分間の最小出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m30_volume_in_usd
          in: query
          description: 30分間の最大出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m30_price_change_ratio
          in: query
          description: 30分間の最小価格変動率
          required: false
          schema:
            type: string
        - name: max_m30_price_change_ratio
          in: query
          description: 30分間の最大価格変動率
          required: false
          schema:
            type: string
        - name: min_m30_buys
          in: query
          description: 30分間の最小買い回数
          required: false
          schema:
            type: string
        - name: max_m30_buys
          in: query
          description: 30分間の最大買い回数
          required: false
          schema:
            type: string
        - name: min_m30_sells
          in: query
          description: 30分間の最小売り回数
          required: false
          schema:
            type: string
        - name: max_m30_sells
          in: query
          description: 30分間の最大売り回数
          required: false
          schema:
            type: string
        - name: min_m30_trades
          in: query
          description: 30分間の最小取引回数
          required: false
          schema:
            type: string
        - name: max_m30_trades
          in: query
          description: 30分間の最大取引回数
          required: false
          schema:
            type: string
        - name: min_m30_buyers
          in: query
          description: 30分間の最小買い手数
          required: false
          schema:
            type: string
        - name: max_m30_buyers
          in: query
          description: 30分間の最大買い手数
          required: false
          schema:
            type: string
        - name: min_m30_sellers
          in: query
          description: 30分間の最小売り手数
          required: false
          schema:
            type: string
        - name: max_m30_sellers
          in: query
          description: 30分間の最大売り手数
          required: false
          schema:
            type: string
        - name: min_m30_buy_volume_in_usd
          in: query
          description: 30分間の最小買い出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m30_buy_volume_in_usd
          in: query
          description: 30分間の最大買い出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m30_sell_volume_in_usd
          in: query
          description: 30分間の最小売り出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m30_sell_volume_in_usd
          in: query
          description: 30分間の最大売り出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m15_volume_in_usd
          in: query
          description: 15分間の最小出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m15_volume_in_usd
          in: query
          description: 15分間の最大出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m15_price_change_ratio
          in: query
          description: 15分間の最小価格変動率
          required: false
          schema:
            type: string
        - name: max_m15_price_change_ratio
          in: query
          description: 15分間の最大価格変動率
          required: false
          schema:
            type: string
        - name: min_m15_buys
          in: query
          description: 15分間の最小買い回数
          required: false
          schema:
            type: string
        - name: max_m15_buys
          in: query
          description: 15分間の最大買い回数
          required: false
          schema:
            type: string
        - name: min_m15_sells
          in: query
          description: 15分間の最小売り回数
          required: false
          schema:
            type: string
        - name: max_m15_sells
          in: query
          description: 15分間の最大売り回数
          required: false
          schema:
            type: string
        - name: min_m15_trades
          in: query
          description: 15分間の最小取引回数
          required: false
          schema:
            type: string
        - name: max_m15_trades
          in: query
          description: 15分間の最大取引回数
          required: false
          schema:
            type: string
        - name: min_m15_buyers
          in: query
          description: 15分間の最小買い手数
          required: false
          schema:
            type: string
        - name: max_m15_buyers
          in: query
          description: 15分間の最大買い手数
          required: false
          schema:
            type: string
        - name: min_m15_sellers
          in: query
          description: 15分間の最小売り手数
          required: false
          schema:
            type: string
        - name: max_m15_sellers
          in: query
          description: 15分間の最大売り手数
          required: false
          schema:
            type: string
        - name: min_m15_buy_volume_in_usd
          in: query
          description: 15分間の最小買い出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m15_buy_volume_in_usd
          in: query
          description: 15分間の最大買い出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m15_sell_volume_in_usd
          in: query
          description: 15分間の最小売り出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m15_sell_volume_in_usd
          in: query
          description: 15分間の最大売り出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m5_volume_in_usd
          in: query
          description: 5分間の最小出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m5_volume_in_usd
          in: query
          description: 5分間の最大出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m5_price_change_ratio
          in: query
          description: 5分間の最小価格変動率
          required: false
          schema:
            type: string
        - name: max_m5_price_change_ratio
          in: query
          description: 5分間の最大価格変動率
          required: false
          schema:
            type: string
        - name: min_m5_buys
          in: query
          description: 5分間の最小買い回数
          required: false
          schema:
            type: string
        - name: max_m5_buys
          in: query
          description: 5分間の最大買い回数
          required: false
          schema:
            type: string
        - name: min_m5_sells
          in: query
          description: 5分間の最小売り回数
          required: false
          schema:
            type: string
        - name: max_m5_sells
          in: query
          description: 5分間の最大売り回数
          required: false
          schema:
            type: string
        - name: min_m5_trades
          in: query
          description: 5分間の最小取引回数
          required: false
          schema:
            type: string
        - name: max_m5_trades
          in: query
          description: 5分間の最大取引回数
          required: false
          schema:
            type: string
        - name: min_m5_buyers
          in: query
          description: 5分間の最小買い手数
          required: false
          schema:
            type: string
        - name: max_m5_buyers
          in: query
          description: 5分間の最大買い手数
          required: false
          schema:
            type: string
        - name: min_m5_sellers
          in: query
          description: 5分間の最小売り手数
          required: false
          schema:
            type: string
        - name: max_m5_sellers
          in: query
          description: 5分間の最大売り手数
          required: false
          schema:
            type: string
        - name: min_m5_buy_volume_in_usd
          in: query
          description: 5分間の最小買い出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m5_buy_volume_in_usd
          in: query
          description: 5分間の最大買い出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m5_sell_volume_in_usd
          in: query
          description: 5分間の最小売り出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m5_sell_volume_in_usd
          in: query
          description: 5分間の最大売り出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m1_volume_in_usd
          in: query
          description: 1分間の最小出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m1_volume_in_usd
          in: query
          description: 1分間の最大出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m1_price_change_ratio
          in: query
          description: 1分間の最小価格変動率
          required: false
          schema:
            type: string
        - name: max_m1_price_change_ratio
          in: query
          description: 1分間の最大価格変動率
          required: false
          schema:
            type: string
        - name: min_m1_buys
          in: query
          description: 1分間の最小買い回数
          required: false
          schema:
            type: string
        - name: max_m1_buys
          in: query
          description: 1分間の最大買い回数
          required: false
          schema:
            type: string
        - name: min_m1_sells
          in: query
          description: 1分間の最小売り回数
          required: false
          schema:
            type: string
        - name: max_m1_sells
          in: query
          description: 1分間の最大売り回数
          required: false
          schema:
            type: string
        - name: min_m1_trades
          in: query
          description: 1分間の最小取引回数
          required: false
          schema:
            type: string
        - name: max_m1_trades
          in: query
          description: 1分間の最大取引回数
          required: false
          schema:
            type: string
        - name: min_m1_buyers
          in: query
          description: 1分間の最小買い手数
          required: false
          schema:
            type: string
        - name: max_m1_buyers
          in: query
          description: 1分間の最大買い手数
          required: false
          schema:
            type: string
        - name: min_m1_sellers
          in: query
          description: 1分間の最小売り手数
          required: false
          schema:
            type: string
        - name: max_m1_sellers
          in: query
          description: 1分間の最大売り手数
          required: false
          schema:
            type: string
        - name: min_m1_buy_volume_in_usd
          in: query
          description: 1分間の最小買い出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m1_buy_volume_in_usd
          in: query
          description: 1分間の最大買い出来高（USD）
          required: false
          schema:
            type: string
        - name: min_m1_sell_volume_in_usd
          in: query
          description: 1分間の最小売り出来高（USD）
          required: false
          schema:
            type: string
        - name: max_m1_sell_volume_in_usd
          in: query
          description: 1分間の最大売り出来高（USD）
          required: false
          schema:
            type: string
      responses:
        '200':
          description: トークンリストを取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_Token'
  /v2/token/{chain}/marketData/multi:
    get:
      tags:
        - Token
      summary: トークン - マーケットデータ（複数）
      description: 複数トークンのマーケットデータを取得
      operationId: get.marketData.multi
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: カンマ (,) で区切られたトークンアドレスのリスト。最大100件のトークンアドレスが許可されています
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: 複数マーケットデータを取得
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: Token market data
                  properties:
                    bluechipHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: ブルーチップ保有量の総供給量に対する割合
                      example: '0.05'
                    bluechipTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: ブルーチップウォレット保有者数
                      example: '10'
                    bluechipTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: ブルーチップウォレットの合計保有量
                      example: '50000'
                    bundleHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: バンドル保有量の総供給量に対する割合
                      example: '0.018'
                    bundleTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: バンドルウォレット保有者数
                      example: '12'
                    bundleTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: バンドルウォレットの合計保有量
                      example: '18000'
                    circulatingSupply:
                      type:
                        - string
                        - 'null'
                      description: トークンの流通供給量
                      example: '900000'
                    completionRatio:
                      type:
                        - string
                        - 'null'
                      description: ボンディングカーブの完了率
                      example: '1.0'
                    devHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 開発者保有量の総供給量に対する割合
                      example: '0.005'
                    devTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 開発者ウォレット保有者数
                      example: '3'
                    devTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 開発者ウォレットの合計保有量
                      example: '5000'
                    fdvInSol:
                      type:
                        - string
                        - 'null'
                      description: ネイティブトークン建ての完全希薄化時価総額
                      example: '200000'
                    fdvInUsd:
                      type:
                        - string
                        - 'null'
                      description: USD建ての完全希薄化時価総額
                      example: '200000'
                    freshHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 新規ウォレット保有量の総供給量に対する割合
                      example: '0.01'
                    freshTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: 新規ウォレット保有者数
                      example: '30'
                    freshTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 新規ウォレットの合計保有量
                      example: '10000'
                    holders:
                      type:
                        - string
                        - 'null'
                      description: トークン保有者の総数
                      example: '1000'
                    insiderHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: インサイダー保有量の総供給量に対する割合
                      example: '0.02'
                    insiderTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: インサイダーウォレット保有者数
                      example: '5'
                    insiderTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: インサイダーウォレットの合計保有量
                      example: '20000'
                    kolHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: KOL 保有量の総供給量に対する割合
                      example: '0.03'
                    kolTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: KOL（キーオピニオンリーダー）保有者数
                      example: '20'
                    kolTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: KOL ウォレットの合計保有量
                      example: '30000'
                    marketCapInSol:
                      type:
                        - string
                        - 'null'
                      description: ネイティブトークン建ての時価総額
                      example: '100000'
                    marketCapInUsd:
                      type:
                        - string
                        - 'null'
                      description: USD建ての時価総額
                      example: '100000'
                    maxPoolTvlInSol:
                      type:
                        - string
                        - 'null'
                      description: ネイティブトークン建ての最大プール TVL
                      example: '1000.45'
                    maxPoolTvlInUsd:
                      type:
                        - string
                        - 'null'
                      description: USD建ての最大プール TVL
                      example: '150000.00'
                    priceInSol:
                      type:
                        - string
                        - 'null'
                      description: ネイティブトークン建てのトークン価格
                      example: '0.00000261383847574915906643405542'
                    priceInUsd:
                      type:
                        - string
                        - 'null'
                      description: USD建てのトークン価格
                      example: '0.00000261383847574915906643405542'
                    proHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: プロトレーダー保有量の総供給量に対する割合
                      example: '0.04'
                    proTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: プロトレーダー保有者数
                      example: '25'
                    proTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: プロトレーダーの合計保有量
                      example: '40000'
                    sandwishHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: サンドイッチ攻撃保有量の総供給量に対する割合
                      example: '0.015'
                    sandwishTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: サンドイッチ攻撃ウォレット保有者数
                      example: '8'
                    sandwishTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: サンドイッチ攻撃ウォレットの合計保有量
                      example: '15000'
                    sniperHoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: スナイパー保有量の総供給量に対する割合
                      example: '0.025'
                    sniperTotalHolders:
                      type:
                        - string
                        - 'null'
                      description: スナイパーウォレット保有者数
                      example: '15'
                    sniperTotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: スナイパーウォレットの合計保有量
                      example: '25000'
                    top100HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 上位100保有者の総供給量に対する割合
                      example: '0.8'
                    top100TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 上位100保有者の合計保有量
                      example: '800000'
                    top10HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 上位10保有者の総供給量に対する割合
                      example: '0.5'
                    top10TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 上位10保有者の合計保有量
                      example: '500000'
                    top50HoldingsRatio:
                      type:
                        - string
                        - 'null'
                      description: 上位50保有者の総供給量に対する割合
                      example: '0.3'
                    top50TotalHoldings:
                      type:
                        - string
                        - 'null'
                      description: 上位50保有者の合計保有量
                      example: '300000'
                    totalSupply:
                      type:
                        - string
                        - 'null'
                      description: トークンの総供給量
                      example: '1000000'
                    totalTvlInSol:
                      type:
                        - string
                        - 'null'
                      description: ネイティブトークン建ての合計ロック総額
                      example: '1000000.45'
                    totalTvlInUsd:
                      type:
                        - string
                        - 'null'
                      description: USD建ての合計ロック総額
                      example: '1000000.45'
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  circulatingSupply: '1000000000'
                  holders: '12345'
                  marketCap: '150000000.00'
                  priceInNative: '0.00005'
                  priceInUsd: '0.15'
                  totalSupply: '1000000000'
  /v2/token/{chain}/metadata/multi:
    get:
      tags:
        - Token
      summary: トークン - メタデータ（複数）
      description: 複数トークンのメタデータを取得
      operationId: get.metadata.multi
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: カンマ (,) で区切られたトークンアドレスのリスト。最大100件のトークンアドレスが許可されています
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: 複数メタデータを取得
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: Token metadata
                  required:
                    - address
                    - chain
                    - symbol
                    - name
                    - decimals
                  properties:
                    address:
                      type: string
                      description: トークンコントラクトアドレス
                      example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    chain:
                      type: string
                      description: ブロックチェーンネットワーク識別子
                      example: sol
                    coingeckoCoinId:
                      type:
                        - string
                        - 'null'
                      description: CoinGecko コイン識別子
                      example: usd-coin
                    decimals:
                      type: string
                      description: 小数点以下の桁数
                      example: '9'
                    description:
                      type:
                        - string
                        - 'null'
                      description: トークンの説明
                      example: USDC is a stablecoin pegged to the US dollar
                    devLastTokenCreatedAt:
                      type:
                        - string
                        - 'null'
                      description: 開発者の最後のトークン作成タイムスタンプ
                      example: 2025-12-03T09:23:34.000Z
                    devTotalTokens:
                      type:
                        - string
                        - 'null'
                      description: 開発者が作成したトークンの総数
                      example: '163'
                    extra:
                      $ref: '#/components/schemas/TokenExtra'
                      description: 拡張トークンメタデータ
                    imageUrl:
                      type:
                        - string
                        - 'null'
                      description: トークンロゴ画像 URL
                      example: https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v/logo.png
                    metadataAddress:
                      type:
                        - string
                        - 'null'
                      description: オンチェーンメタデータアカウントアドレス
                      example: metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s
                    name:
                      type: string
                      description: トークンの表示名
                      example: USD Coin
                    socialMedias:
                      $ref: '#/components/schemas/TokenSocialMedias'
                      description: トークンのソーシャルメディアリンク
                    symbol:
                      type: string
                      description: トークンのティッカーシンボル
                      example: USDC
                    tokenCreatedAt:
                      type:
                        - integer
                        - 'null'
                      format: int64
                      description: トークン作成タイムスタンプ（ミリ秒）
                      example: 1710417600000
                    tokenCreatedBlockHeight:
                      type:
                        - string
                        - 'null'
                      description: トークンが作成されたブロック高
                      example: '220000000'
                    tokenCreatedSlot:
                      type:
                        - string
                        - 'null'
                      description: トークンが作成されたスロット番号
                      example: '230000000'
                    tokenCreatedTxSignature:
                      type:
                        - string
                        - 'null'
                      description: トークン作成のトランザクション署名
                      example: 5dJ1BxPiFT7w7aBdkxNy2jopGZnZoLwRwS8e9GkEXrVz...
                    tokenCreators:
                      type: array
                      items:
                        $ref: '#/components/schemas/TokenCreator'
                      description: トークン作成者リスト
                    updatedAt:
                      type:
                        - string
                        - 'null'
                      description: 最終更新タイムスタンプ
                      example: 2026-02-09T08:05:12.345Z
                    uri:
                      type:
                        - string
                        - 'null'
                      description: トークンメタデータ URI
                      example: https://arweave.net/abc123
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  address: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                  chain: sol
                  decimals: '9'
                  imageUrl: https://example.com/sol.png
                  name: Solana
                  symbol: SOL
  /v2/token/{chain}/multi:
    get:
      tags:
        - Token
      summary: トークン - 詳細（複数）
      description: 複数トークンの詳細を取得
      operationId: get.tokens
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: カンマ (,) で区切られたトークンアドレスのリスト。最大100件のトークンアドレスが許可されています
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: sortBy
          in: query
          description: ソートフィールド
          required: false
          schema:
            $ref: '#/components/schemas/TokenField'
          example: marketData.marketCapInUsd
        - name: sortDirection
          in: query
          description: ソート方向
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SortDirection'
            default: desc
          example: desc
        - name: filterBy
          in: query
          description: DTO.TOKEN.REQUEST.FILTER_BY (JSON array of filter conditions)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 複数トークンを取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /v2/token/{chain}/pair/{pair}/candles:
    get:
      tags:
        - Token
      summary: ペア - ローソク足
      description: 取引ペア（形式：TOKEN_A_ADDRESS-TOKEN_B_ADDRESS）の OHLCV ローソク足データを取得
      operationId: get.pair.candles
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: pair
          in: path
          description: 取引ペア識別子（形式：TOKEN_A_ADDRESS-TOKEN_B_ADDRESS）。ペアは自動的にソートされます
          required: true
          schema:
            type: string
          example: 9BB6NFEcjBCtnNLFko2FqVQBq8HHM13kCyYcdQbgpump-EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        - name: resolution
          in: query
          description: ローソク足データの時間解像度
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: 価格タイプ：usd（デフォルト）またはネイティブトークン価格
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: 開始タイムスタンプ（Unix エポック秒）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: 終了タイムスタンプ（Unix エポック秒）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: 返すローソク足の数
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: ペアローソク足を取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/pool/{poolAddress}/candles:
    get:
      tags:
        - Token
      summary: プール - ローソク足
      description: 特定の流動性プールの OHLCV ローソク足データを取得
      operationId: get.pool.candles
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: poolAddress
          in: path
          description: プールアドレス
          required: true
          schema:
            type: string
          example: 8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj
        - name: resolution
          in: query
          description: ローソク足データの時間解像度
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: 価格タイプ：usd（デフォルト）またはネイティブトークン価格
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: 開始タイムスタンプ（Unix エポック秒）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: 終了タイムスタンプ（Unix エポック秒）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: 返すローソク足の数
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: プールローソク足を取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/stats/multi:
    get:
      tags:
        - Token
      summary: トークン - 統計（複数）
      description: 複数トークンの統計情報を取得
      operationId: get.stats.multi
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddresses
          in: query
          description: カンマ (,) で区切られたトークンアドレスのリスト。最大100件のトークンアドレスが許可されています
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: 複数統計を取得
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: Token statistics with nested time period data
                  required:
                    - address
                    - periods
                  properties:
                    address:
                      type: string
                      description: トークンコントラクトアドレス
                      example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    periods:
                      type: object
                      description: |-
                        Trade statistics grouped by time period (1m, 5m, 15m, 30m, 1h, 4h, 24h).
                        Each period contains full OHLCV data, trade counts, and previous-period comparisons.
                        See `TokenTradeStatPeriod` schema for all fields.
                      additionalProperties:
                        $ref: '#/components/schemas/TokenTradeStatPeriod'
                      propertyNames:
                        type: string
                      example:
                        24h:
                          buyVolumeInUsd: '45000.00'
                          buyers: '320'
                          buys: '1520'
                          closeInUsd: '0.15600000'
                          currentLiquidityInUsd: '250000.00'
                          highInUsd: '0.15900000'
                          lowInUsd: '0.15000000'
                          openInUsd: '0.15000000'
                          priceChangeRatioInUsd: '0.04000000'
                          sellVolumeInUsd: '36000.00'
                          sellers: '210'
                          sells: '980'
                          totalVolumeInUsd: '81000.00'
                          traders: '530'
                          trades: '2500'
                propertyNames:
                  type: string
              example:
                6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN:
                  address: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                  periods:
                    24h:
                      buyVolume: '15000000.12345678'
                      buyVolumeInUsd: '45000.00'
                      buyers: '320'
                      buys: '1520'
                      closeInUsd: '0.15600000'
                      highInUsd: '0.15900000'
                      lowInUsd: '0.15000000'
                      openInUsd: '0.15000000'
                      priceChangeRatioInUsd: '0.04000000'
                      sellVolume: '12000000.98765432'
                      sellVolumeInUsd: '36000.00'
                      sellers: '210'
                      sells: '980'
                      totalVolumeInUsd: '81000.00'
                      traders: '530'
                      trades: '2500'
  /v2/token/{chain}/{tokenAddress}:
    get:
      tags:
        - Token
      summary: トークン - 詳細
      description: トークンの詳細を取得
      operationId: get.token
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: トークンのアドレス
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
  /v2/token/{chain}/{tokenAddress}/candles:
    get:
      tags:
        - Token
      summary: トークン - ローソク足
      description: トークンの価格ローソク足を取得
      operationId: get.candles
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: トークンのアドレス
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
        - name: resolution
          in: query
          description: ローソク足データの時間解像度
          required: true
          schema:
            $ref: '#/components/schemas/Resolution'
          example: 1h
        - name: priceType
          in: query
          description: 価格タイプ：usd（デフォルト）またはネイティブトークン価格
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PriceType'
            default: usd
          example: usd
        - name: from
          in: query
          description: 開始タイムスタンプ（Unix エポック秒）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741647950000
        - name: to
          in: query
          description: 終了タイムスタンプ（Unix エポック秒）
          required: false
          schema:
            type: integer
            format: int64
          example: 1741700970000
        - name: limit
          in: query
          description: 返すローソク足の数
          required: false
          schema:
            type: integer
            format: int64
          example: 100
      responses:
        '200':
          description: ローソク足を取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenCandle'
  /v2/token/{chain}/{tokenAddress}/creation:
    get:
      tags:
        - Token
      summary: トークン - 作成情報
      description: トークンの作成情報を取得
      operationId: get.creation
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: トークンのアドレス
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 作成情報を取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenCreation'
  /v2/token/{chain}/{tokenAddress}/holders:
    get:
      tags:
        - Token
      summary: トークン - 保有者
      description: トークンの保有者を取得
      operationId: get.holders
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: トークンのアドレス
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: ページネーション方向（next または prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
      responses:
        '200':
          description: 保有者を取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_TokenHolder'
  /v2/token/{chain}/{tokenAddress}/holders/multi:
    get:
      tags:
        - Token
      summary: トークン - 保有者（複数）
      description: 複数のウォレットアドレスの保有者情報を取得
      operationId: get.holders.multi
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: トークンのアドレス
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
        - name: walletAddresses
          in: query
          description: カンマ (,) で区切られたウォレットアドレスのリスト。最大100件のウォレットアドレスが許可されています
          required: true
          schema:
            type: string
          example: MJKqp326RZCHnAAbew9MDdui3iCKWco7fsK9sVuZTX2,2RH6rUTPBJ9rUDPpuV9b8z1YL56k1tYU6Uk5ZoaEFFSK
      responses:
        '200':
          description: 複数保有者を取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenHolder'
  /v2/token/{chain}/{tokenAddress}/liquiditySnapshots:
    get:
      tags:
        - Token
      summary: トークン - 流動性スナップショット
      description: トークンの過去の流動性スナップショットを取得。時間パラメータが指定された場合、その時刻以前の最も近いスナップショットを返します
      operationId: get.token.liquidity.snapshots
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: トークンのアドレス
          required: true
          schema:
            type: string
          example: 113FvWQTBC7CXtgSvzfxRSedwVkLbmD8WfAjFrbpump
        - name: cursor
          in: query
          description: ページネーションカーソル
          required: false
          schema:
            type: string
          example: eyJpZCI6IjEyMyJ9
        - name: limit
          in: query
          description: ページあたりの結果数
          required: false
          schema:
            type: integer
            format: int64
            default: 20
          example: 20
        - name: direction
          in: query
          description: ページネーション方向（next または prev）
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PageDirection'
            default: next
          example: next
        - name: time
          in: query
          description: 流動性スナップショット検索対象の Unix タイムスタンプ
          required: false
          schema:
            type: integer
            format: int64
          example: 1770336000000
      responses:
        '200':
          description: 流動性スナップショットを取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse_TokenLiquiditySnapshot'
  /v2/token/{chain}/{tokenAddress}/marketData:
    get:
      tags:
        - Token
      summary: トークン - 時価総額
      description: トークンの時価総額を取得
      operationId: get.marketData
      parameters:
        - name: chain
          in: path
          description: サポートされているネットワークに記載されているチェーン名
          required: true
          schema:
            $ref: '#/components/schemas/ChainSymbol'
          example: sol
        - name: tokenAddress
          in: path
          description: トークンのアドレス
          required: true
          schema:
            type: string
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
      responses:
        '200':
          description: 時価総額を取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenMarketData'
  /v2/token/{chain}/{tokenAddress}/metadata:
    get:
      tags:
        - Token
      summary: トークン - メタデータ
      description: トークンのメタデータを取得
      operationId: get.metadata
      parameters:
        - name: chain
          in: path
[...]
