{
  "openapi": "3.1.0",
  "info": {
    "title": "Data Services API",
    "description": "Data Services API",
    "contact": {
      "name": "AI",
      "email": "ai@sx.ai"
    },
    "license": {
      "name": "MIT"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.dex.chainstream.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/blockchain": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "区块链 - 列表",
        "description": "获取支持的区块链列表",
        "operationId": "get.supported.blockchains",
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Blockchain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blockchain/{chain}/latest_block": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "区块链 - 最新区块",
        "description": "获取特定区块链的最新区块信息",
        "operationId": "get.latest.block",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockchainLatestBlock"
                }
              }
            }
          }
        }
      }
    },
    "/v2/dex": {
      "get": {
        "tags": [
          "Dex"
        ],
        "summary": "Dex - 列表",
        "description": "获取指定区块链上所有 DEX 的信息",
        "operationId": "list.dex",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6IjEyMyJ9"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页返回结果数量",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "分页方向（next 或 prev）",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          },
          {
            "name": "chains",
            "in": "query",
            "description": "按区块链网络筛选",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "sol"
          },
          {
            "name": "dexProgram",
            "in": "query",
            "description": "按 DEX 程序地址筛选",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse_Dex"
                }
              }
            }
          }
        }
      }
    },
    "/v2/dexpools/{chain}/{poolAddress}": {
      "get": {
        "tags": [
          "DexPool"
        ],
        "summary": "DEX 池子 - 详情",
        "description": "获取特定 DEX 池子的详细信息",
        "operationId": "get.dexpool",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "poolAddress",
            "in": "path",
            "description": "池子地址",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "$ref": "#/components/schemas/DexPoolDetail"
                    }
                  ]
                },
                "example": {
                  "chain": "sol",
                  "createdBlockTimestamp": "2024-01-15T10:30:00Z",
                  "feeRate": "0.003",
                  "image": "https://ipfs.io/ipfs/bafkreid7667676767676767676767676767676767676767676767676767676767676767",
                  "liquidityModel": 1,
                  "poolAddress": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
                  "programAddress": "whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc",
                  "protocolFamily": "OrcaWhirpool",
                  "protocolName": "OrcaWhirpool AMM V2",
                  "tickSpacing": 64,
                  "tokenAAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                  "tokenALiquidity": {
                    "amountInNative": "5000.123",
                    "amountInUsd": "1000000.45",
                    "decimals": 6,
                    "priceNative": "0.005",
                    "priceUsd": "1.0001",
                    "tokenAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "vaultAmount": "1000000000000"
                  },
                  "tokenBAddress": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB",
                  "tokenBLiquidity": {
                    "amountInNative": "5000.123",
                    "amountInUsd": "1000000.45",
                    "decimals": 6,
                    "priceNative": "0.005",
                    "priceUsd": "1.0001",
                    "tokenAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "vaultAmount": "1000000000000"
                  },
                  "tokenCount": 2,
                  "tvlInSol": "1000000.45",
                  "tvlInUsd": "1000000.45",
                  "type": 1,
                  "version": 2
                }
              }
            }
          }
        }
      }
    },
    "/v2/dexpools/{chain}/{poolAddress}/snapshots": {
      "get": {
        "tags": [
          "DexPool"
        ],
        "summary": "DEX 池子 - 流动性快照",
        "description": "获取特定池子的历史流动性快照。如果提供了时间参数，将返回该时间点之前或当时最近的快照",
        "operationId": "get.dexpool.snapshots",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "poolAddress",
            "in": "path",
            "description": "池子地址",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6IjEyMyJ9"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页返回结果数量",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "分页方向（next 或 prev）",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          },
          {
            "name": "time",
            "in": "query",
            "description": "快照查询的目标 Unix 时间戳",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1705312800000
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse_DexPoolSnapshot"
                }
              }
            }
          }
        }
      }
    },
    "/v2/ipfs/presign": {
      "post": {
        "tags": [
          "IPFS"
        ],
        "summary": "IPFS - 预签名",
        "description": "创建 IPFS 内容的预签名 URL",
        "operationId": "presign",
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/kyt/address": {
      "post": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 注册地址",
        "description": "注册地址用于 KYT 监控",
        "operationId": "register.address",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KYTRegisterAddressInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytRegisterAddressResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.write"
            ]
          }
        ]
      }
    },
    "/v2/kyt/addresses/{address}/risk": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取地址风险",
        "description": "获取已注册地址的风险评估",
        "operationId": "get.address.risk",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "地址",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x0038AC785dfB6C82b2c9A7B3B6854e08a10cb9f1"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytAddressRiskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/transfer": {
      "post": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 注册转账",
        "description": "注册转账用于 KYT（交易追踪）分析",
        "operationId": "register.transfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KYTRegisterTransferInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytTransferBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.write"
            ]
          }
        ]
      }
    },
    "/v2/kyt/transfers/{transferId}/alerts": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取转账告警",
        "description": "获取与转账关联的告警",
        "operationId": "get.transfer.alerts",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "description": "转账 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4b922c3a-93bc-3d44-b261-0867e5859d57"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytAlertsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/transfers/{transferId}/exposures/direct": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取转账直接敞口",
        "description": "获取转账的直接风险敞口信息",
        "operationId": "get.transfer.direct.exposure",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "description": "转账 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4b922c3a-93bc-3d44-b261-0867e5859d57"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytDirectExposureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/transfers/{transferId}/network-identifications": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取转账网络标识",
        "description": "获取转账的网络标识信息",
        "operationId": "get.transfer.network.identifications",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "description": "转账 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4b922c3a-93bc-3d44-b261-0867e5859d57"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytNetworkIdentificationsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/transfers/{transferId}/summary": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取转账摘要",
        "description": "获取已注册转账的摘要信息",
        "operationId": "get.transfer.summary",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "description": "转账 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4b922c3a-93bc-3d44-b261-0867e5859d57"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytTransferBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal": {
      "post": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 注册提款",
        "description": "注册提款用于 KYT（交易追踪）分析",
        "operationId": "register.withdrawal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KYTRegisterWithdrawalInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytWithdrawalBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.write"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/address-identifications": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取提款地址标识",
        "description": "获取提款的地址标识信息",
        "operationId": "get.withdrawal.address.identifications",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "提款 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytWithdrawalAddressIdentificationsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/alerts": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取提款告警",
        "description": "获取与提款关联的告警",
        "operationId": "get.withdrawal.alerts",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "提款 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytAlertsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/exposures/direct": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取提款直接敞口",
        "description": "获取提款的直接风险敞口信息",
        "operationId": "get.withdrawal.direct.exposure",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "提款 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytDirectExposureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/fraud-assessment": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取提款欺诈评估",
        "description": "获取提款的欺诈评估结果",
        "operationId": "get.withdrawal.fraud.assessment",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "提款 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytFraudAssessmentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/network-identifications": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取提款网络标识",
        "description": "获取提款的网络标识信息",
        "operationId": "get.withdrawal.network.identifications",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "提款 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytNetworkIdentificationsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/kyt/withdrawal/{withdrawalId}/summary": {
      "get": {
        "tags": [
          "KYT"
        ],
        "summary": "KYT - 获取提款摘要",
        "description": "获取已注册提款的摘要信息",
        "operationId": "get.withdrawal.summary",
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "description": "提款 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "78666aa8-23e1-31d2-be25-d72cd7613eba"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KytWithdrawalBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kyt.read"
            ]
          }
        ]
      }
    },
    "/v2/ranking/{chain}/finalStretch": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "排行 - 冲刺代币",
        "description": "返回即将毕业的代币",
        "operationId": "get.finalStretch.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenField"
            },
            "example": "marketData.marketCapInUsd"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "排序方向",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "排行标签筛选",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RankingTag"
            },
            "example": "pump_fun"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "description": "筛选字段",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RangeFilterCondition"
              }
            },
            "example": [
              {
                "field": "marketData.marketCapInUsd",
                "min": "50000"
              }
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "筛选条件",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "has_social_media"
          },
          {
            "name": "launchpadPlatform",
            "in": "query",
            "description": "发射平台",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium_launchpad"
          },
          {
            "name": "searchKeywords",
            "in": "query",
            "description": "搜索关键词",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "trump"
          },
          {
            "name": "excludeKeywords",
            "in": "query",
            "description": "排除关键词",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "scam"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ranking/{chain}/hotTokens/{duration}": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "排行 - 热门代币",
        "description": "获取热门代币列表",
        "operationId": "get.hot.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "duration",
            "in": "path",
            "description": "排行时间范围",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RankingDuration"
            },
            "example": "24h"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenField"
            },
            "example": "marketData.marketCapInUsd"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "排序方向",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "排行标签筛选",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RankingTag"
            },
            "example": "pump_fun"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "description": "筛选字段",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RangeFilterCondition"
              }
            },
            "example": [
              {
                "field": "marketData.marketCapInUsd",
                "min": "50000"
              }
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "筛选条件",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "has_social_media"
          },
          {
            "name": "launchpadPlatform",
            "in": "query",
            "description": "发射平台",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium_launchpad"
          },
          {
            "name": "searchKeywords",
            "in": "query",
            "description": "搜索关键词",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "trump"
          },
          {
            "name": "excludeKeywords",
            "in": "query",
            "description": "排除关键词",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "scam"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ranking/{chain}/migrated": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "排行 - 已迁移代币",
        "description": "返回已迁移的代币",
        "operationId": "get.migrated.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenField"
            },
            "example": "marketData.marketCapInUsd"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "排序方向",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "排行标签筛选",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RankingTag"
            },
            "example": "pump_fun"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "description": "筛选字段",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RangeFilterCondition"
              }
            },
            "example": [
              {
                "field": "marketData.marketCapInUsd",
                "min": "50000"
              }
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "筛选条件",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "has_social_media"
          },
          {
            "name": "launchpadPlatform",
            "in": "query",
            "description": "发射平台",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium_launchpad"
          },
          {
            "name": "searchKeywords",
            "in": "query",
            "description": "搜索关键词",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "trump"
          },
          {
            "name": "excludeKeywords",
            "in": "query",
            "description": "排除关键词",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "scam"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ranking/{chain}/newTokens": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "排行 - 新代币",
        "description": "返回最新的 100 个代币",
        "operationId": "get.new.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenField"
            },
            "example": "marketData.marketCapInUsd"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "排序方向",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "排行标签筛选",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RankingTag"
            },
            "example": "pump_fun"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "description": "筛选字段",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RangeFilterCondition"
              }
            },
            "example": [
              {
                "field": "marketData.marketCapInUsd",
                "min": "50000"
              }
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "筛选条件",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "has_social_media"
          },
          {
            "name": "launchpadPlatform",
            "in": "query",
            "description": "发射平台",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium_launchpad"
          },
          {
            "name": "searchKeywords",
            "in": "query",
            "description": "搜索关键词",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "trump"
          },
          {
            "name": "excludeKeywords",
            "in": "query",
            "description": "排除关键词",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "scam"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ranking/{chain}/stocks": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "排行 - Stocks 代币",
        "description": "返回 Stocks 代币",
        "operationId": "get.stocks.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenField"
            },
            "example": "marketData.marketCapInUsd"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "排序方向",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "排行标签筛选",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RankingTag"
            },
            "example": "pump_fun"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "description": "筛选字段",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RangeFilterCondition"
              }
            },
            "example": [
              {
                "field": "marketData.marketCapInUsd",
                "min": "50000"
              }
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "筛选条件",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "has_social_media"
          },
          {
            "name": "launchpadPlatform",
            "in": "query",
            "description": "发射平台",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium_launchpad"
          },
          {
            "name": "searchKeywords",
            "in": "query",
            "description": "搜索关键词",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "trump"
          },
          {
            "name": "excludeKeywords",
            "in": "query",
            "description": "排除关键词",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "scam"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket": {
      "get": {
        "tags": [
          "RedPacket"
        ],
        "summary": "红包 - 列表",
        "description": "获取红包列表",
        "operationId": "get.redpackets",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "DTO.RED_PACKET.CURSOR",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cursor_abc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "DTO.RED_PACKET.LIMIT",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "DTO.RED_PACKET.DIRECTION",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          },
          {
            "name": "creator",
            "in": "query",
            "description": "DTO.RED_PACKET.CREATOR",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "chain",
            "in": "query",
            "description": "DTO.RED_PACKET.CHAIN",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacketsPage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/wallet/{address}/claims": {
      "get": {
        "tags": [
          "RedPacket"
        ],
        "summary": "红包 - 按地址查领取记录",
        "description": "按领取者地址查询红包领取记录",
        "operationId": "get.claims.by.address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "钱包地址",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "DTO.RED_PACKET.CURSOR",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cursor_abc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "DTO.RED_PACKET.LIMIT",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "DTO.RED_PACKET.DIRECTION",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacketClaimsPage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/wallet/{address}/redpackets": {
      "get": {
        "tags": [
          "RedPacket"
        ],
        "summary": "红包 - 按地址查红包",
        "description": "按创建者地址获取红包列表",
        "operationId": "get.redpackets.by.address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "钱包地址",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "DTO.RED_PACKET.CURSOR",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cursor_abc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "DTO.RED_PACKET.LIMIT",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "DTO.RED_PACKET.DIRECTION",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacketsPage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/{chain}/claim": {
      "post": {
        "tags": [
          "RedPacket"
        ],
        "summary": "红包 - 领取",
        "description": "从已有红包中领取代币",
        "operationId": "claim.redpacket",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimRedPacketRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimRedPacketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/{chain}/create": {
      "post": {
        "tags": [
          "RedPacket"
        ],
        "summary": "红包 - 创建",
        "description": "创建指定金额和数量的新红包",
        "operationId": "create.redpacket",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRedPacketRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRedPacketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/{chain}/send": {
      "post": {
        "tags": [
          "RedPacket"
        ],
        "summary": "红包 - 发送",
        "description": "红包相关交易",
        "operationId": "redpacket.send",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedPacketSendTxRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacketSendTxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/{id}": {
      "get": {
        "tags": [
          "RedPacket"
        ],
        "summary": "红包 - 查询",
        "description": "查询红包信息",
        "operationId": "get.redpacket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "红包 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacket"
                }
              }
            }
          }
        }
      }
    },
    "/v2/redpacket/{id}/claims": {
      "get": {
        "tags": [
          "RedPacket"
        ],
        "summary": "红包 - 领取记录",
        "description": "查询红包领取记录",
        "operationId": "get.claims",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "红包 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "DTO.RED_PACKET.CURSOR",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cursor_abc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "DTO.RED_PACKET.LIMIT",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "DTO.RED_PACKET.DIRECTION",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedPacketClaimsPage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/token/search": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "代币 - 列表",
        "description": "获取指定链的代币列表",
        "operationId": "search",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6IjEyMyJ9"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页返回结果数量",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "分页方向（next 或 prev）",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          },
          {
            "name": "chains",
            "in": "query",
            "description": "链筛选",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "sol"
          },
          {
            "name": "q",
            "in": "query",
            "description": "搜索关键词，支持代币名称、符号或地址",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "USDC"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "排序方向",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "protocols",
            "in": "query",
            "description": "协议筛选",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "raydium"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SearchSortBy"
            },
            "example": "priceInUsd"
          }
        ],
        "responses": {
          "200": {
            "description": "搜索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/token/{chain}/dev/{devAddress}/tokens": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "代币 - 开发者代币",
        "description": "获取特定开发者地址创建的所有代币",
        "operationId": "get.dev.tokens",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "devAddress",
            "in": "path",
            "description": "用户地址",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3NUHqNG2Big2WxbYnaBzSNmxwE4NrxgckJuoiyGxu3Am"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6IjEyMyJ9"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页返回结果数量",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "分页方向（next 或 prev）",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          }
        ],
        "responses": {
          "200": {
            "description": "获取开发者代币",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse_DevToken"
                }
              }
            }
          }
        }
      }
    },
    "/v2/token/{chain}/list": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "代币 - 列表（筛选）",
        "description": "按范围条件筛选获取代币列表",
        "operationId": "list.token",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6IjEyMyJ9"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页返回结果数量",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "direction",
            "in": "query",
            "description": "分页方向（next 或 prev）",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PageDirection"
                }
              ],
              "default": "next"
            },
            "example": "next"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "排序方向（asc 或 desc）",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            },
            "example": "desc"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TokenListSortField"
            },
            "example": "h24VolumeInUsd"
          },
          {
            "name": "min_h24_volume_in_usd",
            "in": "query",
            "description": "最小 24 小时交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_volume_in_usd",
            "in": "query",
            "description": "最大 24 小时交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_price_change_ratio",
            "in": "query",
            "description": "最小 24 小时价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_price_change_ratio",
            "in": "query",
            "description": "最大 24 小时价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_buys",
            "in": "query",
            "description": "最小 24 小时买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_buys",
            "in": "query",
            "description": "最大 24 小时买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_sells",
            "in": "query",
            "description": "最小 24 小时卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_sells",
            "in": "query",
            "description": "最大 24 小时卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_trades",
            "in": "query",
            "description": "最小 24 小时交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_trades",
            "in": "query",
            "description": "最大 24 小时交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_buyers",
            "in": "query",
            "description": "最小 24 小时买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_buyers",
            "in": "query",
            "description": "最大 24 小时买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_sellers",
            "in": "query",
            "description": "最小 24 小时卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_sellers",
            "in": "query",
            "description": "最大 24 小时卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_buy_volume_in_usd",
            "in": "query",
            "description": "最小 24 小时买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_buy_volume_in_usd",
            "in": "query",
            "description": "最大 24 小时买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h24_sell_volume_in_usd",
            "in": "query",
            "description": "最小 24 小时卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h24_sell_volume_in_usd",
            "in": "query",
            "description": "最大 24 小时卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_volume_in_usd",
            "in": "query",
            "description": "最小 4 小时交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_volume_in_usd",
            "in": "query",
            "description": "最大 4 小时交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_price_change_ratio",
            "in": "query",
            "description": "最小 4 小时价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_price_change_ratio",
            "in": "query",
            "description": "最大 4 小时价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_buys",
            "in": "query",
            "description": "最小 4 小时买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_buys",
            "in": "query",
            "description": "最大 4 小时买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_sells",
            "in": "query",
            "description": "最小 4 小时卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_sells",
            "in": "query",
            "description": "最大 4 小时卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_trades",
            "in": "query",
            "description": "最小 4 小时交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_trades",
            "in": "query",
            "description": "最大 4 小时交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_buyers",
            "in": "query",
            "description": "最小 4 小时买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_buyers",
            "in": "query",
            "description": "最大 4 小时买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_sellers",
            "in": "query",
            "description": "最小 4 小时卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_sellers",
            "in": "query",
            "description": "最大 4 小时卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_buy_volume_in_usd",
            "in": "query",
            "description": "最小 4 小时买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_buy_volume_in_usd",
            "in": "query",
            "description": "最大 4 小时买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h4_sell_volume_in_usd",
            "in": "query",
            "description": "最小 4 小时卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h4_sell_volume_in_usd",
            "in": "query",
            "description": "最大 4 小时卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_volume_in_usd",
            "in": "query",
            "description": "最小 1 小时交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_volume_in_usd",
            "in": "query",
            "description": "最大 1 小时交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_price_change_ratio",
            "in": "query",
            "description": "最小 1 小时价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_price_change_ratio",
            "in": "query",
            "description": "最大 1 小时价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_buys",
            "in": "query",
            "description": "最小 1 小时买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_buys",
            "in": "query",
            "description": "最大 1 小时买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_sells",
            "in": "query",
            "description": "最小 1 小时卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_sells",
            "in": "query",
            "description": "最大 1 小时卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_trades",
            "in": "query",
            "description": "最小 1 小时交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_trades",
            "in": "query",
            "description": "最大 1 小时交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_buyers",
            "in": "query",
            "description": "最小 1 小时买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_buyers",
            "in": "query",
            "description": "最大 1 小时买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_sellers",
            "in": "query",
            "description": "最小 1 小时卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_sellers",
            "in": "query",
            "description": "最大 1 小时卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_buy_volume_in_usd",
            "in": "query",
            "description": "最小 1 小时买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_buy_volume_in_usd",
            "in": "query",
            "description": "最大 1 小时买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_h1_sell_volume_in_usd",
            "in": "query",
            "description": "最小 1 小时卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_h1_sell_volume_in_usd",
            "in": "query",
            "description": "最大 1 小时卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_volume_in_usd",
            "in": "query",
            "description": "最小 30 分钟交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_volume_in_usd",
            "in": "query",
            "description": "最大 30 分钟交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_price_change_ratio",
            "in": "query",
            "description": "最小 30 分钟价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_price_change_ratio",
            "in": "query",
            "description": "最大 30 分钟价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_buys",
            "in": "query",
            "description": "最小 30 分钟买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_buys",
            "in": "query",
            "description": "最大 30 分钟买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_sells",
            "in": "query",
            "description": "最小 30 分钟卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_sells",
            "in": "query",
            "description": "最大 30 分钟卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_trades",
            "in": "query",
            "description": "最小 30 分钟交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_trades",
            "in": "query",
            "description": "最大 30 分钟交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_buyers",
            "in": "query",
            "description": "最小 30 分钟买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_buyers",
            "in": "query",
            "description": "最大 30 分钟买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_sellers",
            "in": "query",
            "description": "最小 30 分钟卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_sellers",
            "in": "query",
            "description": "最大 30 分钟卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_buy_volume_in_usd",
            "in": "query",
            "description": "最小 30 分钟买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_buy_volume_in_usd",
            "in": "query",
            "description": "最大 30 分钟买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m30_sell_volume_in_usd",
            "in": "query",
            "description": "最小 30 分钟卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m30_sell_volume_in_usd",
            "in": "query",
            "description": "最大 30 分钟卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_volume_in_usd",
            "in": "query",
            "description": "最小 15 分钟交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_volume_in_usd",
            "in": "query",
            "description": "最大 15 分钟交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_price_change_ratio",
            "in": "query",
            "description": "最小 15 分钟价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_price_change_ratio",
            "in": "query",
            "description": "最大 15 分钟价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_buys",
            "in": "query",
            "description": "最小 15 分钟买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_buys",
            "in": "query",
            "description": "最大 15 分钟买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_sells",
            "in": "query",
            "description": "最小 15 分钟卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_sells",
            "in": "query",
            "description": "最大 15 分钟卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_trades",
            "in": "query",
            "description": "最小 15 分钟交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_trades",
            "in": "query",
            "description": "最大 15 分钟交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_buyers",
            "in": "query",
            "description": "最小 15 分钟买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_buyers",
            "in": "query",
            "description": "最大 15 分钟买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_sellers",
            "in": "query",
            "description": "最小 15 分钟卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_sellers",
            "in": "query",
            "description": "最大 15 分钟卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_buy_volume_in_usd",
            "in": "query",
            "description": "最小 15 分钟买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_buy_volume_in_usd",
            "in": "query",
            "description": "最大 15 分钟买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m15_sell_volume_in_usd",
            "in": "query",
            "description": "最小 15 分钟卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m15_sell_volume_in_usd",
            "in": "query",
            "description": "最大 15 分钟卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_volume_in_usd",
            "in": "query",
            "description": "最小 5 分钟交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_volume_in_usd",
            "in": "query",
            "description": "最大 5 分钟交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_price_change_ratio",
            "in": "query",
            "description": "最小 5 分钟价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_price_change_ratio",
            "in": "query",
            "description": "最大 5 分钟价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_buys",
            "in": "query",
            "description": "最小 5 分钟买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_buys",
            "in": "query",
            "description": "最大 5 分钟买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_sells",
            "in": "query",
            "description": "最小 5 分钟卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_sells",
            "in": "query",
            "description": "最大 5 分钟卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_trades",
            "in": "query",
            "description": "最小 5 分钟交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_trades",
            "in": "query",
            "description": "最大 5 分钟交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_buyers",
            "in": "query",
            "description": "最小 5 分钟买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_buyers",
            "in": "query",
            "description": "最大 5 分钟买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_sellers",
            "in": "query",
            "description": "最小 5 分钟卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_sellers",
            "in": "query",
            "description": "最大 5 分钟卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_buy_volume_in_usd",
            "in": "query",
            "description": "最小 5 分钟买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_buy_volume_in_usd",
            "in": "query",
            "description": "最大 5 分钟买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m5_sell_volume_in_usd",
            "in": "query",
            "description": "最小 5 分钟卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m5_sell_volume_in_usd",
            "in": "query",
            "description": "最大 5 分钟卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_volume_in_usd",
            "in": "query",
            "description": "最小 1 分钟交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_volume_in_usd",
            "in": "query",
            "description": "最大 1 分钟交易量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_price_change_ratio",
            "in": "query",
            "description": "最小 1 分钟价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_price_change_ratio",
            "in": "query",
            "description": "最大 1 分钟价格变化率",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_buys",
            "in": "query",
            "description": "最小 1 分钟买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_buys",
            "in": "query",
            "description": "最大 1 分钟买入次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_sells",
            "in": "query",
            "description": "最小 1 分钟卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_sells",
            "in": "query",
            "description": "最大 1 分钟卖出次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_trades",
            "in": "query",
            "description": "最小 1 分钟交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_trades",
            "in": "query",
            "description": "最大 1 分钟交易次数",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_buyers",
            "in": "query",
            "description": "最小 1 分钟买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_buyers",
            "in": "query",
            "description": "最大 1 分钟买方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_sellers",
            "in": "query",
            "description": "最小 1 分钟卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_sellers",
            "in": "query",
            "description": "最大 1 分钟卖方数量",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_buy_volume_in_usd",
            "in": "query",
            "description": "最小 1 分钟买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_buy_volume_in_usd",
            "in": "query",
            "description": "最大 1 分钟买入量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_m1_sell_volume_in_usd",
            "in": "query",
            "description": "最小 1 分钟卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_m1_sell_volume_in_usd",
            "in": "query",
            "description": "最大 1 分钟卖出量（USD 计）",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "获取代币列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse_Token"
                }
              }
            }
          }
        }
      }
    },
    "/v2/token/{chain}/marketData/multi": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "代币 - 市场数据（批量）",
        "description": "批量获取多个代币的市场数据",
        "operationId": "get.marketData.multi",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "支持网络列表中的链名称",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainSymbol"
            },
            "example": "sol"
          },
          {
            "name": "tokenAddresses",
            "in": "query",
            "description": "代币地址列表，以逗号 (,) 分隔的字符串。最多允许 100 个代币地址",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          }
        ],
        "responses": {
          "200": {
            "description": "批量获取市场数据",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "description": "Token market data",
                    "properties": {
                      "bluechipHoldingsRatio": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "0.05"
                      },
                      "bluechipTotalHolders": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "10"
                      },
                      "bluechipTotalHoldings": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "50000"
                      },
                      "bundleHoldingsRatio": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "0.018"
                      },
                      "bundleTotalHolders": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "12"
                      },
                      "bundleTotalHoldings": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "18000"
                      },
                      "completionRatio": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "1.0"
                      },
                      "devHoldingsRatio": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "0.005"
                      },
                      "devTotalHolders": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "3"
                      },
                      "devTotalHoldings": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "5000"
                      },
                      "freshHoldingsRatio": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "0.01"
                      },
                      "freshTotalHolders": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "30"
                      },
                      "freshTotalHoldings": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "10000"
                      },
                      "holders": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "1000"
                      },
                      "insiderHoldingsRatio": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "0.02"
                      },
                      "insiderTotalHolders": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "5"
                      },
                      "insiderTotalHoldings": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "20000"
                      },
                      "kolHoldingsRatio": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "0.03"
                      },
                      "kolTotalHolders": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "20"
                      },
                      "kolTotalHoldings": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "30000"
                      },
                      "marketCapInSol": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "100000"
                      },
                      "marketCapInUsd": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "100000"
                      },
                      "maxPoolTvlInSol": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "1000.45"
                      },
                      "maxPoolTvlInUsd": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "150000.00"
                      },
                      "priceInSol": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "0.00000261383847574915906643405542"
                      },
                      "priceInUsd": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "0.00000261383847574915906643405542"
                      },
[...]
