openapi: 3.1.0
paths:
  /v2/dex/{chain}/swap:
    post:
      description: 兑换参数，包括输入代币、输出代币、数量和滑点
      operationId: swap
      parameters:
        - name: chain
          required: true
          in: path
          description: 支持网络列表中的链名称
          schema:
            $ref: '#/components/schemas/ChainSymbol'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwapInput'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapReply'
      security:
        - bearer: []
      summary: Dex - 兑换
      tags:
        - Dex
  /v2/dex/{chain}/route:
    post:
      description: 计算代币兑换的最佳路由，考虑价格影响和手续费。返回最优路径和准备好的交易
      operationId: route
      parameters:
        - name: chain
          required: true
          in: path
          description: 支持网络列表中的链名称
          schema:
            $ref: '#/components/schemas/ChainSymbol'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwapRouteInput'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapRouteResponse'
      security:
        - bearer: []
      summary: Dex - 路由
      tags:
        - Dex
  /v2/dex/{chain}/quote:
    get:
      description: 获取 DEX 交易报价信息
      operationId: quote
      parameters:
        - name: chain
          required: true
          in: path
          description: 支持网络列表中的链名称
          schema:
            $ref: '#/components/schemas/ChainSymbol'
        - name: dex
          required: true
          in: query
          description: DEX 协议类型
          schema:
            example: raydium
            enum:
              - raydium
              - pumpfun
            type: string
        - name: amount
          required: true
          in: query
          description: 交易数量
          schema:
            example: 1000000000
            type: string
        - name: inputMint
          required: true
          in: query
          description: 输入代币地址
          schema:
            example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
            type: string
        - name: outputMint
          required: true
          in: query
          description: 输出代币地址
          schema:
            example: So11111111111111111111111111111111111111112
            type: string
        - name: exactIn
          required: true
          in: query
          description: 精确输入模式
          schema:
            default: true
            example: true
            type: boolean
        - name: slippage
          required: true
          in: query
          description: 滑点容忍度
          schema:
            format: int64
            example: 10
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DexQuoteResponse'
      security:
        - bearer: []
      summary: Dex - 获取报价
      tags:
        - Dex
  /v2/dex/{chain}/create:
    post:
      description: 在指定 DEX 上创建新代币
      operationId: create.token
      parameters:
        - name: chain
          required: true
          in: path
          description: 支持网络列表中的链名称
          schema:
            $ref: '#/components/schemas/ChainSymbol'
      requestBody:
        required: true
        description: 代币创建参数
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenInput'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTokenReply'
      security:
        - bearer: []
      summary: Dex - 创建代币
      tags:
        - Dex
  /v2/transaction/{chain}/send:
    post:
      description: 将已签名的交易提交到区块链
      operationId: send
      parameters:
        - name: chain
          required: true
          in: path
          description: 支持网络列表中的链名称
          schema:
            enum:
              - sol
              - bsc
              - eth
            type: string
      requestBody:
        required: true
        description: 交易参数
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendTxInput'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTxResponse'
      security:
        - bearer: []
      summary: 交易 - 发送
      tags:
        - Transaction
  /v2/transaction/{chain}/gas-price:
    get:
      description: 获取 EVM 链的当前 Gas 价格
      operationId: get.gasPrice
      parameters:
        - name: chain
          required: true
          in: path
          description: 支持网络列表中的链名称
          schema:
            enum:
              - bsc
              - eth
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GasPriceResponse'
      security:
        - bearer: []
      summary: 交易 - Gas 价格
      tags:
        - Transaction
  /v2/transaction/{chain}/estimate-gas-limit:
    post:
      description: 估算 EVM 交易的 Gas Limit
      operationId: get.gasLimit
      parameters:
        - name: chain
          required: true
          in: path
          description: 支持网络列表中的链名称
          schema:
            enum:
              - bsc
              - eth
            type: string
      requestBody:
        required: true
        description: Gas 估算参数
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateGasLimitInput'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateGasLimitResponse'
      security:
        - bearer: []
      summary: 交易 - 估算 Gas Limit
      tags:
        - Transaction
  /v2/job/{id}:
    get:
      description: 通过任务 ID 获取当前状态和结果
      operationId: get
      parameters:
        - name: id
          required: true
          in: path
          description: 任务标识符
          schema:
            example: '12345'
            type: string
      responses:
        '200':
          description: 成功获取任务状态
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDTO'
      security:
        - bearer: []
      summary: 任务 - 获取
      tags:
        - Job
  /v2/job/{id}/streaming:
    get:
      description: 通过 Server-Sent Events (SSE) 订阅实时任务状态更新。连接将保持打开直到任务完成或发生错误
      operationId: streaming
      parameters:
        - name: id
          required: true
          in: path
          description: 任务标识符
          schema:
            example: '12345'
            type: string
      responses:
        '200':
          description: SSE 流建立成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStreamingDTO'
      security:
        - bearer: []
      summary: 任务 - 流式推送
      tags:
        - Job
info:
  title: Defi Services API
  description: Defi Services API ⚡️
  version: '1.0'
  contact:
    name: AI
    url: https://github.com/chainstream-io/defi-service
    email: ai@sx.ai
tags:
  - name: Endpoints
    description: ''
servers:
  - url: https://api.chainstream.io
    description: Chainstream Production
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  schemas:
    ChainSymbol:
      type: string
      enum:
        - sol
        - bsc
        - eth
    SwapInput:
      type: object
      properties:
        dex:
          type: string
          description: 交易所使用的 DEX 标识符
          example: jupiter
          enum:
            - jupiter
            - kyberswap
            - raydium
            - pumpfun
            - moonshot
            - candy
            - launchpad
        userAddress:
          type: string
          description: 发起交易的钱包公钥
          example: oQPnhXAbLbMuKHESaGrbXT17CyvWCpLyERSJA9HCYd7
          minLength: 8
          maxLength: 64
        priorityFee:
          type: string
          description: 优先费（SOL），用于提高交易处理速度
          example: '1000'
        poolAddress:
          type: string
          description: DEX 池子地址
          example: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
        amount:
          type: string
          description: 兑换数量。使用 "auto" 表示全部余额，或使用百分比如 "50%"
          example: '1000000000'
        swapMode:
          type: string
          description: 兑换方向模式
          enum:
            - ExactIn
            - ExactOut
          example: ExactIn
        slippage:
          type: integer
          description: 滑点容忍百分比
          example: 10
          default: 10
          minimum: 0
          maximum: 100
          format: int64
        inputMint:
          type: string
          description: 输入代币铸造地址
        outputMint:
          type: string
          description: 输出代币铸造地址
      required:
        - dex
        - userAddress
        - amount
        - swapMode
        - slippage
    SwapReply:
      type: object
      properties:
        serializedTx:
          type: string
          description: Base64 编码的交易
          example: AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDRgYGpQEDAQIABQcICQoLDA0ODwAAAAAAAAAAAAAQERITFBUWFxgZGhscHR4fAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
        elapsedTime:
          type: integer
          description: 请求处理耗时（毫秒）
          example: 245
          format: int64
      required:
        - serializedTx
        - elapsedTime
    SwapRouteInput:
      type: object
      properties:
        dex:
          type: string
          description: 交易所使用的 DEX 标识符
          example: jupiter
          enum:
            - jupiter
            - kyberswap
            - raydium
            - pumpfun
            - moonshot
            - candy
            - launchpad
        userAddress:
          type: string
          description: 发起交易的钱包公钥
          example: oQPnhXAbLbMuKHESaGrbXT17CyvWCpLyERSJA9HCYd7
          minLength: 8
          maxLength: 64
        priorityFee:
          type: string
          description: 优先费（SOL），用于提高交易处理速度
          example: '1000'
        amount:
          type: string
          description: 兑换数量。使用 "auto" 表示全部余额，或使用百分比如 "50%"
          example: '1000000000'
        swapMode:
          type: string
          description: 兑换方向模式
          enum:
            - ExactIn
            - ExactOut
          example: ExactIn
        slippage:
          type: integer
          description: 滑点容忍百分比
          example: 5
          default: 5
          minimum: 0
          maximum: 100
          format: int64
        inputMint:
          type: string
          description: 输入代币铸造地址
          example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
        outputMint:
          type: string
          description: 输出代币铸造地址
          example: Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
        recipientAddress:
          type: string
          description: 兑换的接收钱包地址
          example: '0x0000000000000000000000000000000000000001'
        permit:
          type: string
          description: 兑换的 Permit 数据
          example: 66c85d1637257e890e581f724f69f4d4fc17eee156c0619c4719ed0c66eed0e9
        deadline:
          type: integer
          description: 兑换截止时间戳
          example: 1716806400000
          format: int64
        tipFee:
          type: string
          description: 小费（SOL），用于提高交易处理速度
          example: '1000000'
        isAntiMev:
          type: boolean
          description: 是否启用防 MEV 保护
          example: true
          default: false
        maxFeePerGas:
          type: string
          description: 每 Gas 单位最大费用（EIP-1559），单位为 wei
          example: '50000000000'
        maxPriorityFeePerGas:
          type: string
          description: 每 Gas 单位最大优先费（EIP-1559），单位为 wei
          example: '2000000000'
        gasPrice:
          type: string
          description: Gas 价格，单位为 wei（传统交易）
          example: '50000000000'
        gasLimit:
          type: string
          description: 交易 Gas 上限
          example: '300000'
      required:
        - dex
        - userAddress
        - amount
        - swapMode
        - slippage
    SwapRouteResponse:
      type: object
      properties:
        args:
          description: 原始兑换请求参数
          allOf:
            - $ref: '#/components/schemas/SwapRouteInput'
        serializedTx:
          type: string
          description: Base64 编码的交易
          example: AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDRgYGpQEDAQIABQcICQoLDA0ODwAAAAAAAAAAAAAQERITFBUWFxgZGhscHR4fAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
        routeInfo:
          type: object
          description: 详细路由信息
          example:
            inAmount: '1000000000'
            outAmount: '985000000'
            priceImpact: '0.15'
            route:
              - USDC
              - SOL
        elapsedTime:
          type: integer
          description: 请求处理耗时（毫秒）
          example: 245
          format: int64
      required:
        - args
        - serializedTx
        - routeInfo
        - elapsedTime
    DexQuoteResponse:
      type: object
      properties:
        amountOut:
          type: string
          description: 输出数量
          example: '1000000000'
        minAmountOut:
          type: string
          description: 最小输出数量
        currentPrice:
          type: string
          description: 当前价格
        executionPrice:
          type: string
          description: 执行价格
        priceImpact:
          type: string
          description: 价格影响
          example: '10.5'
        fee:
          type: string
          description: 交易手续费
          example: '1000000000'
    CreateTokenInput:
      type: object
      properties:
        dex:
          type: string
          description: 交易所使用的 DEX 标识符
          example: raydium
          enum:
            - raydium
            - pumpfun
            - moonshot
            - candy
            - launchpad
        userAddress:
          type: string
          description: 发起交易的钱包公钥
          example: oQPnhXAbLbMuKHESaGrbXT17CyvWCpLyERSJA9HCYd7
          minLength: 8
          maxLength: 64
        priorityFee:
          type: string
          description: 优先费（SOL），用于提高交易处理速度
          example: '1000'
        name:
          type: string
          description: 要创建的代币名称
          example: Candy Token
          minLength: 1
          maxLength: 32
        symbol:
          type: string
          description: 代币符号/简称
          example: CANDY
          minLength: 1
          maxLength: 10
        uri:
          type: string
          description: 代币元数据 URI（通常指向图片或 JSON）
          example: https://assets.candyproject.com/token/icon.png
        image:
          type: string
          description: 代币图片 URL（Base64 或 HTTPS）
          example: https://assets.candyproject.com/token/icon.png
        extra:
          type: object
          description: 已创建代币的附加元数据
          example:
            decimals: 6
            migrateType: amm
            slippage: 100
            buyAmount: 0
            supply: 1000000000000000
            totalSellA: 793100000000000
            totalFundRaisingB: 85000000000
            totalLockedAmount: 0
            cliffPeriod: 0
            unlockPeriod: 0
            shareFeeReceiver: oQPnhXAbLbMuKHESaGrbXT17CyvWCpLyERSJA9HCYd7
            shareFeeRate: 1000
      required:
        - dex
        - userAddress
        - name
        - symbol
    CreateTokenReply:
      type: object
      properties:
        serializedTx:
          type: string
          description: Base64 编码的代币创建交易
          example: AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDRgYGpQEDAQIABQcICQoLDA0ODwAAAAAAAAAAAAAQERITFBUWFxgZGhscHR4fAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
        mintAddress:
          type: string
          description: 需要签名的代币铸造地址
          example: So11111111111111111111111111111111111111112
      required:
        - serializedTx
        - mintAddress
    SendTxInput:
      type: object
      properties:
        signedTx:
          type: string
          description: Base64 编码的已签名交易
          example: AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDRgYGpQEDAQIABQcICQoLDA0ODwAAAAAAAAAAAAAQERITFBUWFxgZGhscHR4fAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
        submitType:
          type: string
          description: 交易提交方式
          example: default
          enum:
            - default
            - priority
        options:
          type: object
          description: jito 或 direct
          example:
            isAntiMev: true
      required:
        - signedTx
    SendTxResponse:
      type: object
      properties:
        signature:
          type: string
          description: 交易签名/哈希
          example: 37XpPt9Ak6JiE1V3sftJDtdUsvR9FVFRqkZmoT3dp4BTD9pgyTWn1XgHH6R7NjuJ4pBMAgj8JvZtxQrf4s6NTC5F
        elapsedTime:
          type: integer
          description: 交易处理耗时（毫秒）
          example: 1500
          format: int64
        jobId:
          type: string
          description: 任务 ID
          example: '1234567890'
      required:
        - signature
        - elapsedTime
        - jobId
    GasPriceResponse:
      type: object
      properties:
        gasPrice:
          type: string
          description: 当前 gas 价格（wei，十六进制字符串）
          example: '0x5d21dba00'
        chain:
          type: string
          description: 链符号
          example: ethereum
      required:
        - gasPrice
        - chain
    EstimateGasLimitInput:
      type: object
      properties:
        from:
          type: string
          description: 发送方地址
          example: '0x742d35Cc6634C0532925a3b8D8C9C4b8a8d4C8b8'
        to:
          type: string
          description: 接收方地址
          example: '0x742d35Cc6634C0532925a3b8D8C9C4b8a8d4C8b8'
        data:
          type: string
          description: 交易数据（十六进制）
          example: '0xa9059cbb000000000000000000000000742d35cc6634c0532925a3b8d8c9c4b8a8d4c8b80000000000000000000000000000000000000000000000000de0b6b3a7640000'
        value:
          type: string
          description: 发送金额（wei，十六进制字符串）
          example: '0x0'
      required:
        - from
        - to
        - data
    EstimateGasLimitResponse:
      type: object
      properties:
        gasLimit:
          type: string
          description: 估计 gas 上限（十六进制字符串）
          example: '0x5208'
        chain:
          type: string
          description: 链符号
          example: ethereum
      required:
        - gasLimit
        - chain
    JobDTO:
      type: object
      properties:
        state:
          type: string
          description: 任务状态
          example: completed
        result:
          type: object
          description: 任务结果
          example:
            success: true
            data:
              message: Job completed successfully
      required:
        - state
        - result
    JobStreamingDTO:
      type: object
      properties:
        id:
          type: number
          description: 流式任务 ID
          example: 1
        data:
          type: object
          description: 流式数据
          example:
            id: 5rKfmXQyMhz7F2zRE6SpWWx3YkSxtA4gFqZD8CwGRYMx5YLTB8NhbiM9xEHG9jruiWdUyUz7Fpz8jmB8SKcjsLqe
            status: completed
            result:
              success: true
              data:
                message: Job completed successfully
      required:
        - id
        - data
